* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'GeometriaLight';
  src: url("../../fonts/Geometria-Light.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Geometria';
  src: url("../../fonts/Geometria-Regular/Geometria-Regular.eot");
  src: url("../../fonts/Geometria-Regular/Geometria-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Geometria-Regular/Geometria-Regular.woff2") format("woff2"), url("../../fonts/Geometria-Regular/Geometria-Regular.woff") format("woff"), url("../../fonts/Geometria-Regular/Geometria-Regular.ttf") format("truetype"), url("../../fonts/Geometria-Regular/Geometria-Regular.svg#Geometria") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GeometriaItalic';
  src: url("../../fonts/Geometria-RegularItalic/Geometria-RegularItalic.eot");
  src: url("../../fonts/Geometria-RegularItalic/Geometria-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Geometria-RegularItalic/Geometria-RegularItalic.woff2") format("woff2"), url("../../fonts/Geometria-RegularItalic/Geometria-RegularItalic.woff") format("woff"), url("../../fonts/Geometria-RegularItalic/Geometria-RegularItalic.ttf") format("truetype"), url("../../fonts/Geometria-RegularItalic/Geometria-RegularItalic.svg#Geometria-Italic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GeometriaBold';
  src: url("../../fonts/Geometria-Bold/Geometria-Bold.eot");
  src: url("../../fonts/Geometria-Bold/Geometria-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Geometria-Bold/Geometria-Bold.woff2") format("woff2"), url("../../fonts/Geometria-Bold/Geometria-Bold.woff") format("woff"), url("../../fonts/Geometria-Bold/Geometria-Bold.ttf") format("truetype"), url("../../fonts/Geometria-Bold/Geometria-Bold.svg#Geometria-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GeometriaBoldItalic';
  src: url("../../fonts/Geometria-BoldItalic/Geometria-BoldItalic.eot");
  src: url("../../fonts/Geometria-BoldItalic/Geometria-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Geometria-BoldItalic/Geometria-BoldItalic.woff2") format("woff2"), url("../../fonts/Geometria-BoldItalic/Geometria-BoldItalic.woff") format("woff"), url("../../fonts/Geometria-BoldItalic/Geometria-BoldItalic.ttf") format("truetype"), url("../../fonts/Geometria-BoldItalic/Geometria-BoldItalic.svg#Geometria-BoldItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

/*-----------Variables-----------*/
/*-----------Variables-----------*/
/*---------Customs---------*/
html,
body {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 100%;
  font-family: 'Geometria';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 25px; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  color: #1e1e1e;
  background: #fff; }

.header,
.footer {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none; }

.container {
  min-width: 300px; }

main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  width: 100%; }

.left {
  float: left; }

.right {
  float: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.clear {
  clear: both; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

img {
  max-width: 100%;
  height: auto;
  outline: none; }
  img:focus {
    outline: none; }

a {
  color: #1e1e1e;
  outline: none;
  text-decoration: none; }
  a:focus, a:active, a:hover {
    color: #1e1e1e;
    outline: none;
    text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'GeometriaBold';
  font-weight: normal;
  font-style: normal;
  color: #1e1e1e;
  margin: 0; }

h1 {
  font-size: 1.5rem;
  line-height: 1.25; }

h2 {
  font-size: 1.5rem;
  line-height: 1; }

.fixed {
  width: 100%;
  position: fixed !important;
  top: 0;
  z-index: 99991; }

.flex-video {
  height: 0;
  overflow: hidden;
  padding-bottom: 67.5%;
  padding-top: 1.38889rem;
  position: relative; }
  .flex-video iframe, .flex-video object, .flex-video embed, .flex-video video {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }

.table-container {
  overflow-y: auto;
  width: 100%; }

ul {
  list-style: none; }

figure {
  margin: 0; }

.overflow-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1040; }

.tranaparent-button {
  display: inline-block;
  width: auto;
  height: auto;
  background: none;
  border: none;
  box-shadow: none;
  border-radius: 0;
  outline: none;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.5625;
  color: #1e1e1e; }
  .tranaparent-button:hover, .tranaparent-button:focus {
    color: #1e1e1e; }

.navicon {
  display: inline-block;
  width: 24px;
  height: 18px;
  background: #c2c2c2;
  box-shadow: none;
  border: none;
  border-radius: 0;
  outline: none; }

.navicon-close {
  display: inline-block;
  width: 74px;
  height: 94px;
  background: #f5f146;
  box-shadow: none;
  border: none;
  border-radius: 0;
  outline: none; }

.active-button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 8px;
  min-width: 180px;
  font-size: 1.125rem;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  font-family: 'GeometriaLight';
  font-weight: normal;
  font-style: normal;
  background: #fff;
  border-radius: 0;
  border: 1px solid #c2c2c2;
  box-shadow: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .active-button:hover, .active-button:focus {
    text-decoration: none; }
  .active-button:hover {
    border-color: #f5f146;
    background: #f5f146;
    box-shadow: 10px 6px 10px rgba(0, 0, 0, 0.17); }

.submit-button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 16px;
  min-width: 180px;
  font-size: 1.125rem;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  font-family: 'GeometriaLight';
  font-weight: normal;
  font-style: normal;
  background: #f5f146;
  border-radius: 0;
  border: none;
  box-shadow: none;
  -webkit-transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s; }
  .submit-button:hover, .submit-button:focus {
    text-decoration: none; }
  .submit-button:hover {
    box-shadow: 10px 6px 10px rgba(0, 0, 0, 0.17); }

.custom-dropdown .dropdown-button {
  position: relative;
  padding-right: 45px;
  background: none;
  box-shadow: none;
  border: none;
  border-radius: 0;
  outline: none;
  font-size: 0.875rem;
  line-height: 1;
  font-family: 'GeometriaLight';
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  z-index: 1001; }
  .custom-dropdown .dropdown-button:hover, .custom-dropdown .dropdown-button:focus {
    text-decoration: none; }
  .custom-dropdown .dropdown-button:before {
    content: '';
    position: absolute;
    top: 5px;
    right: 15px;
    width: 10px;
    height: 5px;
    background: #c2c2c2;
    z-index: 2; }
  .custom-dropdown .dropdown-button:after {
    content: '';
    position: absolute;
    top: -10px;
    right: 0;
    width: 35px;
    height: 32px;
    background: #fff;
    border: 1px solid #dfe0e0;
    border-bottom-color: transparent;
    opacity: 0;
    z-index: 1; }

.custom-dropdown .dropdown-button-title {
  border-bottom: 1px solid rgba(30, 30, 30, 0.5);
  text-decoration: none;
  -webkit-transition: border-bottom-color 0.3s ease 0s;
  transition: border-bottom-color 0.3s ease 0s; }
  .custom-dropdown .dropdown-button-title:hover, .custom-dropdown .dropdown-button-title:focus {
    text-decoration: none;
    border-bottom-color: transparent; }

.custom-dropdown .dropdown-menu {
  min-width: 255px;
  padding: 15px 0;
  margin: 4px 0 0;
  left: auto;
  right: 0; }

.custom-dropdown.active .dropdown-button:after {
  opacity: 1; }

.custom-dropdown.bottom .dropdown-button:after {
  border-top-color: transparent;
  border-bottom-color: #dfe0e0; }

.custom-dropdown.bottom .dropdown-menu {
  bottom: 2px; }

section.bg-grey {
  background: #f4f5f5; }

.base-link {
  font-size: 1.125rem;
  line-height: 1;
  color: #0f11bc;
  border-bottom: 1px solid #0f11bc;
  text-decoration: none;
  -webkit-transition: border-bottom-color 0.3s ease 0s;
  transition: border-bottom-color 0.3s ease 0s; }
  .base-link:hover, .base-link:focus {
    text-decoration: none;
    border-bottom-color: transparent; }
  .base-link:hover, .base-link:focus {
    color: #0f11bc; }

time {
  font-family: 'GeometriaLight';
  font-weight: normal;
  font-style: normal; }

.js-menu-toggle {
  position: relative;
  display: none;
  vertical-align: middle;
  width: 20px;
  height: 15px;
  background: #c2c2c2;
  border: none;
  box-shadow: none;
  border-radius: 0;
  font-size: 0;
  line-height: 1; }

/*---------Customs---------*/
/*---------Breadcrumbs---------*/
.breadcrumbs {
  margin: 0;
  padding: 0;
  font-size: 1.125rem; }

.breadcrumbs-list {
  list-style-type: none; }

.breadcrumbs-child {
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px; }
  .breadcrumbs-child:last-child {
    margin-right: 0; }

.breadcrumbs-link {
  font-size: 0.875rem;
  line-height: 1.42;
  color: #4b5154;
  font-family: 'GeometriaLight';
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  -webkit-transition: border-bottom-color 0.3s ease 0s;
  transition: border-bottom-color 0.3s ease 0s; }
  .breadcrumbs-link:hover, .breadcrumbs-link:focus {
    text-decoration: none;
    border-bottom-color: rgba(0, 0, 0, 0.5); }
  .breadcrumbs-link.active {
    color: #0f11bc;
    cursor: default;
    text-decoration: none;
    border-bottom: none; }
    .breadcrumbs-link.active:before {
      display: none; }

.breadcrumbs-point {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 1;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #0f11bc; }

/*---------Breadcrumbs---------*/
/*---------Pagination---------*/
.pagination {
  padding: 75px 0;
  font-size: 1.125rem;
  line-height: 1;
  text-align: center; }
  .pagination ul {
    list-style-type: none; }
  .pagination li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px; }
    .pagination li:last-child {
      margin-right: 0; }
    .pagination li.disabled {
      opacity: 0.5; }
    .pagination li.active a {
      color: #1e1e1e; }
  .pagination a {
    color: #9f9f9f; }
  .pagination .first,
  .pagination .last {
    font-size: 0;
    line-height: 1;
    width: 48px;
    height: 48px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-indent: -9999px; }
    .pagination .first span,
    .pagination .first a,
    .pagination .last span,
    .pagination .last a {
      display: inline-block;
      font-size: 0;
      line-height: 1;
      background: transparent;
      opacity: 0;
      -webkit-transition: opacity 0.5s;
      -moz-transition: opacity 0.5s;
      -o-transition: opacity 0.5s;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0; }
  .pagination .first {
    margin-right: 30px;
    background: url("../../images/sprite.svg");
    background-repeat: no-repeat;
    background-position: -187px -260px; }
    .pagination .first a {
      background: url("../../images/sprite.svg");
      background-repeat: no-repeat;
      background-position: -243.5px -258.8px;
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg); }
  .pagination .last {
    background: url("../../images/sprite.svg");
    background-repeat: no-repeat;
    background-position: -187px -260px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg); }
    .pagination .last a {
      background: url("../../images/sprite.svg");
      background-repeat: no-repeat;
      background-position: -243.5px -258.8px;
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg); }

.first:hover a, .last:hover a {
  opacity: 1; }

/*---------Pagination---------*/
/*---------Forms---------*/
.form-row {
  padding: 12px 0; }

input, select, textarea {
  width: 100%;
  padding: 12px 20px;
  height: 50px;
  border-radius: 0;
  background-color: #fff;
  border: 1px solid #c2c2c2;
  outline: none;
  font-size: 1.125rem;
  line-height: 1;
  -webkit-appearance: none;
  font-family: 'GeometriaLight';
  font-weight: normal;
  font-style: normal;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s; }
  input.invalid, input .error, select.invalid, select .error, textarea.invalid, textarea .error {
    border-color: rgba(255, 0, 0, 0.36); }
  input[disabled="disabled"], input[disabled], select[disabled="disabled"], select[disabled], textarea[disabled="disabled"], textarea[disabled] {
    opacity: 0.5 !important; }
  input:focus, select:focus, textarea:focus {
    background-color: #fafafa; }

button {
  cursor: pointer; }
  button[disabled="disabled"], button[disabled] {
    opacity: 0.5 !important; }

textarea {
  display: block;
  resize: none;
  min-height: 70px; }

select {
  outline: 0;
  border-radius: 0;
  border: 1px solid #c2c2c2;
  padding: 5px 15px 5px 5px;
  box-sizing: border-box;
  -webkit-padding-end: 25px;
  -webkit-padding-start: 5px;
  -moz-padding-end: 25px;
  -moz-padding-start: 5px;
  padding-end: 25px;
  padding-start: 5px;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  text-indent: 0;
  color: #1e1e1e;
  background: url("../../images/arrow.svg") 100% 50% no-repeat;
  background-size: 12px; }

select::-ms-expand {
  display: none; }

::-webkit-input-placeholder {
  color: #646464;
  font-size: 1.125rem;
  line-height: 1;
  font-family: 'GeometriaLight';
  font-weight: normal;
  font-style: normal;
  text-overflow: ellipsis; }

::-moz-placeholder {
  color: #646464;
  font-size: 1.125rem;
  line-height: 1;
  font-family: 'GeometriaLight';
  font-weight: normal;
  font-style: normal;
  text-overflow: ellipsis;
  opacity: 1; }

::-ms-input-placeholder {
  color: #646464;
  font-size: 1.125rem;
  line-height: 1;
  font-family: 'GeometriaLight';
  font-weight: normal;
  font-style: normal;
  text-overflow: ellipsis; }

.button {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  background: none;
  border: 1px solid #c2c2c2;
  box-shadow: none;
  border-radius: 0; }

/*---------Forms---------*/
/*-----------Article-----------*/
.article {
  font-size: 0.875rem; }
  .article h2 {
    font-size: 1.125rem;
    line-height: 1.66; }
  .article h3 {
    font-size: 1.125rem;
    line-height: 1.11; }
  .article table {
    margin-top: 20px; }
    .article table th, .article table td {
      padding: 5px; }
  .article h1, .article h2, .article h3, .article h4, .article h5, .article h6, .article p, .article ul, .article ol {
    padding-bottom: 10px; }
  .article img {
    margin-bottom: 10px; }
  .article ul {
    list-style-type: none; }
    .article ul li {
      position: relative; }
      .article ul li:before {
        content: '--';
        margin-right: 5px; }
  .article ol {
    padding-left: 15px;
    list-style-type: decimal; }

/*-----------Article-----------*/
/*-----------Header-----------*/
.header {
  position: relative;
  padding: 15px 0;
  border-bottom: 1px solid #c2c2c2;
  background: #fff; }

.header-left {
  width: 23%; }

.header-center {
  width: 33.33333%; }

.header-right {
  width: 43.66667%; }

.header-contact,
.header-toggle-search,
.dropdown-lang,
.header-login {
  display: inline-block;
  vertical-align: middle; }

.header-logo {
  font-size: 0;
  line-height: 1; }

.header-top-menu {
  text-align: center; }

.header-top-menu-list {
  list-style-type: none; }

.header-top-menu-child {
  display: inline-block;
  vertical-align: middle;
  margin-right: 35px; }
  .header-top-menu-child:last-child {
    margin-right: 0; }

.header-top-menu-link {
  font-size: 1rem;
  line-height: 1.42;
  color: #6d6d6d;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'GeometriaLight';
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  -webkit-transition: border-bottom-color 0.3s ease 0s;
  transition: border-bottom-color 0.3s ease 0s; }
  .header-top-menu-link:hover, .header-top-menu-link:focus {
    text-decoration: none;
    border-bottom-color: #f5f146; }
  .header-top-menu-link:hover, .header-top-menu-link:focus {
    color: #6d6d6d; }

.header-right-group {
  position: relative;
  padding-left: 80px;
  padding-right: 60px; }

.header-contact {
  margin-right: 20px; }

.header-phone,
.header-email {
  position: relative;
  padding: 2px 0 2px 40px; }
  .header-phone:before,
  .header-email:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 25px;
    height: 20px;
    margin-top: -12px;
    background: #c2c2c2; }
  .header-phone a,
  .header-email a {
    text-decoration: none;
    -webkit-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s; }
    .header-phone a:hover, .header-phone a:focus,
    .header-email a:hover,
    .header-email a:focus {
      text-decoration: none; }
    .header-phone a:hover,
    .header-email a:hover {
      opacity: 0.75; }

.header-toggle-search {
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background: #c2c2c2;
  box-shadow: none;
  border: none;
  outline: none; }

.dropdown-lang {
  position: relative;
  padding: 3px 15px;
  margin-right: 10px; }
  .dropdown-lang .dropdown-button {
    position: relative;
    padding-right: 20px;
    background: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
    outline: none;
    font-size: 1rem;
    line-height: 1;
    text-decoration: none;
    z-index: 1001; }
    .dropdown-lang .dropdown-button:hover, .dropdown-lang .dropdown-button:focus {
      text-decoration: none; }
    .dropdown-lang .dropdown-button:before {
      content: '';
      position: absolute;
      top: 5px;
      right: 0;
      width: 10px;
      height: 5px;
      background: #c2c2c2; }
  .dropdown-lang .dropdown-menu {
    width: 70px;
    padding: 30px 0 0;
    top: 0 !important;
    bottom: auto !important;
    margin: 0 !important; }
  .dropdown-lang .dropdown-menu-link {
    padding: 2px 15px; }

.header-nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  font-size: 0;
  line-height: 1;
  z-index: 1; }
  .header-nav .navicon {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -9px; }
  .header-nav .navicon-close {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -32px; }

.header-search {
  display: none; }

.menu-open .header,
.search-open .header {
  background: #f4f5f5; }

.menu-open .header-nav .navicon,
.search-open .header-nav .navicon {
  display: none; }

.menu-open .header-nav .navicon-close,
.search-open .header-nav .navicon-close {
  display: inline-block; }

.menu-open .header-top-menu,
.menu-open .header-contact,
.menu-open .header-toggle-search,
.search-open .header-top-menu,
.search-open .header-contact,
.search-open .header-toggle-search {
  display: none; }

.menu-open .header-search,
.menu-open .header-menu,
.search-open .header-search,
.search-open .header-menu {
  display: block; }

.menu-open .header-center,
.search-open .header-center {
  width: 48%; }

.menu-open .header-right,
.search-open .header-right {
  width: 29%; }

.menu-open .header-right-group,
.search-open .header-right-group {
  padding-left: 120px; }

.search-open .header-menu {
  display: none; }

.header-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #f4f5f5;
  z-index: 9991; }

.header-menu-top {
  border-top: 1px solid #fff;
  padding: 35px 0 30px; }

.header-menu-top-row {
  position: relative;
  margin: 0 -25px; }
  .header-menu-top-row:after {
    content: '';
    display: table;
    clear: both; }

.header-menu-top-col {
  position: relative;
  width: 20%;
  float: left;
  padding: 0 25px;
  min-height: 1px; }

.header-menu-item {
  margin-top: 40px; }
  .header-menu-item:first-child {
    margin-top: 0; }

.header-menu-item-title {
  display: inline-block;
  font-family: 'GeometriaBold';
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase; }
  .header-menu-item-title .button-text {
    display: inline-block;
    vertical-align: middle;
    border-bottom: 2px solid #f5f146;
    margin-right: 5px; }

.header-menu-item-list {
  margin-left: -15px;
  padding: 20px 0 0;
  list-style-type: none; }

.header-menu-item-child {
  display: block; }

.header-menu-item-link {
  display: block;
  padding: 4px 15px;
  font-size: 0.875rem;
  line-height: 1.71;
  font-family: 'GeometriaLight';
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s; }
  .header-menu-item-link:hover, .header-menu-item-link:focus {
    text-decoration: none; }
  .header-menu-item-link:hover {
    background-color: #f1f1f1; }

.header-menu-bottom {
  border-top: 1px solid #fff; }
  .header-menu-bottom .shop-button {
    float: right;
    width: 100%;
    max-width: 350px; }

.header-social {
  text-align: center; }

.header-social-title {
  font-size: 1.125rem;
  font-family: 'GeometriaLight';
  font-weight: normal;
  font-style: normal; }

.header-social-list {
  padding: 10px 0 0;
  list-style-type: none;
  font-size: 0; }

.header-social-child {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  line-height: 1; }
  .header-social-child:last-child {
    margin-right: 0; }

.header-social-link {
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #636363; }

.header-menu-contact {
  text-align: center; }

.header-menu-phone,
.header-menu-email {
  font-size: 1.5625rem;
  line-height: 1; }
  .header-menu-phone a,
  .header-menu-email a {
    text-decoration: none;
    -webkit-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s; }
    .header-menu-phone a:hover, .header-menu-phone a:focus,
    .header-menu-email a:hover,
    .header-menu-email a:focus {
      text-decoration: none; }
    .header-menu-phone a:hover,
    .header-menu-email a:hover {
      opacity: 0.75; }

.header-menu-email {
  padding: 10px 0 0; }

.shop-button {
  display: inline-block;
  padding: 0 20px;
  width: auto;
  height: 105px;
  background: #f5f146;
  border: none;
  box-shadow: none;
  border-radius: 0;
  outline: none;
  text-decoration: none;
  font-size: 1.125rem;
  line-height: 105px;
  color: #1e1e1e;
  text-align: center;
  font-family: 'GeometriaLight';
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s; }
  .shop-button:hover, .shop-button:focus {
    color: #1e1e1e;
    text-decoration: none; }
  .shop-button:hover {
    opacity: 0.75; }

.shop-button-title {
  position: relative;
  display: inline-block;
  padding-left: 50px;
  line-height: 1; }
  .shop-button-title:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -8px;
    width: 30px;
    height: 30px;
    background: #c2c2c2; }

/*-----------Header-----------*/
/*-----------Search-----------*/
.header-search {
  position: relative; }
  .header-search input[type="text"] {
    border: none;
    height: 55px;
    line-height: 55px; }
  .header-search button {
    position: absolute;
    border: none;
    box-shadow: none;
    top: 50%;
    right: 25px;
    margin-top: -12px;
    width: 24px;
    height: 24px;
    background: #c2c2c2;
    z-index: 1; }

.live-search {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 9999; }

.live-search-container {
  padding: 5px;
  border: 1px solid #c2c2c2;
  background: #fff;
  max-height: 370px;
  overflow-y: auto; }

.search-item {
  position: relative;
  padding: 5px 0; }
  .search-item .row-inline {
    margin: 0 -5px; }
  .search-item [class^="col-inline-"] {
    padding: 0 5px; }
  .search-item:hover, .search-item.selected {
    outline: 1px solid #f5f146; }

.search-item-title {
  font-size: 0.75rem;
  text-transform: uppercase;
  height: 30px;
  overflow: hidden; }

/*-----------Search-----------*/
/*-----------Main-----------*/
.main-slider {
  height: 677px;
  overflow: hidden; }
  .main-slider .slick-dots {
    display: none !important; }
  .main-slider .slick-arrow {
    width: 76px;
    height: 76px;
    margin-top: -38px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2); }
  .main-slider .slick-prev {
    left: 20px; }
  .main-slider .slick-next {
    right: 20px; }

.main-slider-wrapper {
  position: relative; }

.main-slider-item {
  position: relative;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
  height: 677px; }
  .main-slider-item article {
    position: absolute;
    top: 17%;
    left: 50%;
    width: 70%;
    margin-left: -35%;
    text-align: center;
    font-size: 1.875rem;
    text-shadow: 1px 1px #000;
    color: #fff;
    font-family: 'GeometriaLight';
    font-weight: normal;
    font-style: normal; }
    .main-slider-item article p {
      padding: 15px 0 0; }

.main-slider-title {
  font-size: 3rem;
  line-height: 1.16;
  color: #fff;
  text-shadow: 1px 1px #000;
  font-family: 'GeometriaBold';
  font-weight: normal;
  font-style: normal; }

.main-slider-subtitle {
  display: inline-block;
  font-size: 2.25rem;
  line-height: 1;
  padding: 75px 0 0;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 1px 1px #000;
  border-bottom: 5px solid #f5f146;
  font-family: 'GeometriaBold';
  font-weight: normal;
  font-style: normal; }

.main-slider-dots {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1; }

.slider-dots-list {
  list-style-type: none;
  font-size: 0;
  text-align: center; }

.slider-dots-child {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.875rem;
  border-right: 1px solid #000; }
  .slider-dots-child:last-child {
    border-color: transparent; }

.slider-dots-item {
  position: relative;
  width: 140px;
  height: 95px;
  padding: 16px 10px;
  cursor: pointer; }
  .slider-dots-item:hover, .slider-dots-item.active {
    background: rgba(0, 0, 0, 0.3); }
    .slider-dots-item:hover .slider-dots-title, .slider-dots-item.active .slider-dots-title {
      color: #f5f146; }

.slider-dots-icon {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 30px;
  text-align: center; }
  .slider-dots-icon img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 30px;
    width: auto;
    height: auto; }

.slider-dots-title {
  margin: 5px 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
  color: #fff;
  height: 28px;
  overflow: hidden; }

.slider-dots-text {
  display: block;
  margin: auto;
  word-break: break-word; }

.section-header {
  position: relative;
  padding: 50px 0 0;
  text-align: center; }
  .section-header:after {
    content: '';
    display: table;
    clear: both; }

.section-title,
.section-header h1 {
  display: inline-block;
  font-size: 1.875rem;
  line-height: 1;
  text-transform: uppercase;
  font-family: 'GeometriaBold';
  font-weight: normal;
  font-style: normal;
  border-bottom: 2px solid #f5f146; }
  .section-title.no-float,
  .section-header h1.no-float {
    float: none; }

.section-menu {
  position: absolute;
  top: 50px;
  right: 0; }

.section-menu-list {
  list-style-type: none; }

.section-menu-child {
  display: inline-block;
  vertical-align: middle;
  margin-right: 35px; }
  .section-menu-child:last-child {
    margin-right: 0; }

.section-menu-link {
  font-size: 0.875rem;
  line-height: 1;
  font-family: 'GeometriaLight';
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid rgba(30, 30, 30, 0.5);
  text-decoration: none;
  -webkit-transition: border-bottom-color 0.3s ease 0s;
  transition: border-bottom-color 0.3s ease 0s; }
  .section-menu-link:hover, .section-menu-link:focus {
    text-decoration: none;
    border-bottom-color: transparent; }

.section-body-carousel {
  position: relative;
  padding: 50px 1px;
  overflow: hidden; }

.js-carousel {
  margin: 0 -10px; }
  .js-carousel .slick-slide {
    padding: 0 10px; }
  .js-carousel .slick-arrow {
    display: none !important; }

.js-carousel-arrow {
  padding: 30px 0 0;
  text-align: center;
  line-height: 1; }
  .js-carousel-arrow button {
    width: 45px;
    height: 45px;
    margin: 0 32px;
    border-radius: 50%;
    line-height: 1;
    border: 1px solid #d1d1d1;
    background: transparent;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .js-carousel-arrow button:hover {
      border-color: #0f11bc; }

.events-item {
  position: relative;
  padding: 0 0 35px;
  background: #fff;
  border: 1px solid #c2c2c2;
  border-bottom-color: transparent; }
  .events-item:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    width: calc(100% + 2px);
    margin: 0 -1px;
    height: 5px;
    background: #f5f146;
    z-index: 1; }
  .events-item header figure {
    font-size: 0;
    line-height: 1;
    height: 285px;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important; }
    .events-item header figure a {
      display: block;
      width: 100%;
      height: 100%;
      margin: auto; }
  .events-item article {
    margin: 15px 0 0;
    padding: 0 25px;
    font-size: 1.125rem;
    line-height: 1.22;
    font-family: 'GeometriaLight';
    font-weight: normal;
    font-style: normal;
    height: 105px;
    overflow: hidden; }
  .events-item footer {
    padding: 40px 25px 0;
    text-align: center; }
  .events-item time {
    font-family: 'GeometriaLight';
    font-weight: normal;
    font-style: normal; }

.events-item-title {
  margin: 20px 0 0;
  padding: 0 25px;
  font-size: 1.5rem;
  line-height: 1;
  height: 24px;
  overflow: hidden; }

.events-item-icons {
  text-align: right; }
  .events-item-icons ul {
    list-style-type: none; }
  .events-item-icons li {
    display: inline-block;
    vertical-align: middle;
    padding-right: 15px;
    margin-right: 12px;
    font-size: 0;
    line-height: 1;
    height: 15px;
    border-right: 1px solid #0f11bc; }
    .events-item-icons li:last-child {
      padding-right: 0;
      margin-right: 0;
      border-right-color: transparent; }

.events-item-image-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 1;
  background: #c2c2c2; }

.events-item-comment-icon {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  color: #969ea6;
  font-size: 1rem;
  line-height: 1; }
  .events-item-comment-icon:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background: #c2c2c2; }

.events-item-row {
  margin: 0;
  padding: 8px 15px;
  border-bottom: 1px solid #ebebeb; }

.main-news-catalog {
  padding: 20px 0 30px; }

.main-news-row {
  padding: 30px 0; }

.main-news-item {
  position: relative;
  padding: 15px 0 10px 215px; }
  .main-news-item figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 190px;
    height: 100%;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important; }
  .main-news-item article {
    margin: 15px 0 0;
    font-size: 1.125rem;
    line-height: 1.22;
    font-family: 'GeometriaLight';
    font-weight: normal;
    font-style: normal;
    height: 84px;
    overflow: hidden; }
  .main-news-item footer {
    padding: 25px 0 0; }
  .main-news-item time {
    font-family: 'GeometriaLight';
    font-weight: normal;
    font-style: normal; }

.main-news-item-title {
  margin: 10px 0 0;
  font-size: 1.5rem;
  line-height: 1.16;
  height: 54px;
  overflow: hidden; }
  .main-news-item-title a {
    text-decoration: none;
    -webkit-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s; }
    .main-news-item-title a:hover, .main-news-item-title a:focus {
      text-decoration: none; }
    .main-news-item-title a:hover {
      opacity: 0.75; }

.main-blog-item {
  position: relative;
  padding: 45px 0;
  height: 580px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  cursor: pointer; }
  .main-blog-item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(245, 241, 70, 0.75);
    opacity: 0;
    -webkit-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s; }
  .main-blog-item.is-hover:before {
    opacity: 1; }
  .main-blog-item.is-hover time,
  .main-blog-item.is-hover .main-blog-item-title {
    color: #1e1e1e; }
  .main-blog-item article {
    position: relative;
    margin: 30px 0 0;
    padding: 0 35px;
    font-size: 1.125rem;
    line-height: 1.22;
    font-family: 'GeometriaLight';
    font-weight: normal;
    font-style: normal;
    height: 231px;
    overflow: hidden;
    opacity: 0;
    z-index: 1; }
  .main-blog-item footer {
    position: relative;
    padding: 50px 35px 0;
    opacity: 0;
    text-align: center;
    z-index: 1; }
  .main-blog-item time {
    display: block;
    padding: 0 35px 30px;
    color: #fff; }

.main-blog-item-inside {
  position: relative;
  height: 100%;
  z-index: 1; }

.main-blog-item-title {
  position: relative;
  top: 110px;
  font-size: 1.5rem;
  font-family: 'GeometriaBold';
  font-weight: normal;
  font-style: normal;
  color: #fff;
  padding: 0 40px;
  width: 100%;
  height: 80px;
  overflow: hidden;
  z-index: 1; }

.main-blog-item-button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 8px;
  min-width: 180px;
  font-size: 1.125rem;
  line-height: 1;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-family: 'GeometriaLight';
  font-weight: normal;
  font-style: normal;
  background: transparent;
  border-radius: 0;
  border: 1px solid #fff;
  box-shadow: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .main-blog-item-button:hover, .main-blog-item-button:focus {
    color: #fff;
    text-decoration: none; }
  .main-blog-item-button:hover {
    border-color: #f5f146;
    background: #f5f146;
    box-shadow: 10px 6px 10px rgba(0, 0, 0, 0.17); }

.delivery-form-wrapper {
  max-width: 1000px;
  margin: 0 auto; }

.delivery-form-header {
  padding: 30px 0 0;
  text-align: center; }

.delivery-form-body {
  padding: 0 0 50px; }

.delivery-form-descrioption {
  font-size: 1rem;
  line-height: 1.42;
  font-family: 'GeometriaLight';
  font-weight: normal;
  font-style: normal; }

.delivery-form-subdescription {
  padding: 40px 0 0; }

.delivery-form-link {
  font-family: 'GeometriaLight';
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid rgba(30, 30, 30, 0.5);
  text-decoration: none;
  -webkit-transition: border-bottom-color 0.3s ease 0s;
  transition: border-bottom-color 0.3s ease 0s; }
  .delivery-form-link:hover, .delivery-form-link:focus {
    text-decoration: none;
    border-bottom-color: transparent; }

.delivery-form-content {
  position: relative;
  margin: 55px 0 0;
  padding: 15px 255px 15px 20px;
  background: #fff;
  box-shadow: 0 0 46px rgba(0, 0, 0, 0.13); }
  .delivery-form-content .form-row {
    padding: 0; }

.delivery-form-submit {
  position: absolute;
  top: 15px;
  right: 20px; }

/*-----------Main-----------*/
/*-----------Footer-----------*/
.footer {
  background: #f4f5f5; }

.footer-main {
  padding: 35px 0; }

.footer-menu-wrapper .row {
  margin: 0 -40px; }

.footer-menu-wrapper .col-xs-4 {
  padding: 0 40px; }

.footer-menu {
  margin-top: 40px; }
  .footer-menu:first-child {
    margin-top: 0; }

.footer-menu-title {
  display: inline-block;
  font-family: 'GeometriaBold';
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase; }
  .footer-menu-title .button-text {
    display: inline-block;
    vertical-align: middle;
    border-bottom: 2px solid #f5f146;
    margin-right: 5px; }

.footer-menu-list {
  padding: 20px 0 0;
  list-style-type: none; }

.footer-menu-child {
  display: block; }

.footer-menu-link {
  font-size: 0.875rem;
  line-height: 1.71;
  font-family: 'GeometriaLight';
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s; }
  .footer-menu-link:hover, .footer-menu-link:focus {
    text-decoration: none; }
  .footer-menu-link:hover {
    opacity: 0.75; }

.footer-right {
  padding-top: 5px;
  text-align: right; }

.footer-contact {
  padding: 30px 0 0;
  font-family: 'GeometriaLight';
  font-weight: normal;
  font-style: normal; }

.footer-footer-company-title {
  padding: 0 0 5px;
  font-size: 1.125rem;
  line-height: 1;
  text-transform: uppercase; }

.footer-phone,
.footer-email {
  padding: 15px 0 0;
  font-size: 1.5625rem;
  line-height: 1; }
  .footer-phone a,
  .footer-email a {
    text-decoration: none;
    -webkit-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s; }
    .footer-phone a:hover, .footer-phone a:focus,
    .footer-email a:hover,
    .footer-email a:focus {
      text-decoration: none; }
    .footer-phone a:hover,
    .footer-email a:hover {
      opacity: 0.75; }

.footer-social {
  padding: 60px 0 0; }

.footer-social-list {
  list-style-type: none;
  font-size: 0; }

.footer-social-child {
  display: inline-block;
  vertical-align: middle;
  margin-right: 40px; }
  .footer-social-child:last-child {
    margin-right: 0; }

.footer-social-link {
  display: inline-block;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #636363; }

.footer-dev {
  padding: 20px 0 0; }

.footer-dev-title {
  margin-right: 20px; }

.footer-dev-link {
  font-size: 1.125rem;
  line-height: 1;
  border-bottom: 1px solid rgba(30, 30, 30, 0.5);
  text-decoration: none;
  -webkit-transition: border-bottom-color 0.3s ease 0s;
  transition: border-bottom-color 0.3s ease 0s; }
  .footer-dev-link:hover, .footer-dev-link:focus {
    text-decoration: none;
    border-bottom-color: transparent; }

.footer-copyright-wrapper {
  padding: 55px 0 0; }

.footer-copyright {
  position: relative;
  padding-left: 20px;
  font-size: 0.875rem;
  float: right;
  line-height: 1.42;
  color: #9a9a9a;
  text-align: left; }
  .footer-copyright:before {
    content: '\00a9';
    position: absolute;
    top: 0;
    left: 0; }

.footer-navigate {
  background: #f5f146; }

.footer-navigate-list {
  list-style-type: none;
  font-size: 0;
  text-align: center; }

.footer-navigate-child {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.875rem;
  border-right: 1px solid #fff; }
  .footer-navigate-child:last-child {
    border-color: transparent; }

.footer-navigate-item {
  position: relative;
  display: block;
  width: 140px;
  height: 95px;
  padding: 16px 10px;
  text-decoration: none; }
  .footer-navigate-item:hover, .footer-navigate-item.active {
    background: rgba(0, 0, 0, 0.3); }
    .footer-navigate-item:hover .slider-dots-title, .footer-navigate-item.active .slider-dots-title {
      color: #f5f146; }
  .footer-navigate-item:hover {
    text-decoration: none; }
    .footer-navigate-item:hover .footer-navigate-title,
    .footer-navigate-item:hover .footer-navigate-text {
      text-decoration: none; }

.footer-navigate-icon {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 30px;
  text-align: center; }
  .footer-navigate-icon img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 30px;
    width: auto;
    height: auto; }

.footer-navigate-title {
  margin: 5px 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
  color: #1e1e1e;
  height: 28px;
  overflow: hidden;
  text-decoration: none; }

.footer-navigate-text {
  display: block;
  margin: auto;
  color: #1e1e1e;
  word-break: break-word;
  text-decoration: none; }

/*-----------Footer-----------*/
/*-----------Page-----------*/
.page {
  padding: 40px 0 0; }
  .page .section-header {
    padding: 20px 0 0; }

/*-----------Page-----------*/
/*-----------Media-----------*/
@media (max-width: 1439px) {
  .main-slider-title {
    font-size: 2.25rem; }
  .main-slider-subtitle {
    font-size: 1.5rem; }
  .main-slider,
  .main-slider-item {
    height: 560px; } }

@media (max-width: 1349px) {
  .header-right-group {
    padding-left: 40px; }
  .menu-open .header-right-group,
  .search-open .header-right-group {
    padding-left: 80px; }
  .main-slider,
  .main-slider-item {
    height: 490px; } }

@media (max-width: 1263px) {
  /*fonts*/
  .section-title,
  .section-header h1 {
    font-size: 1.5rem; }
  .main-news-item-title,
  .events-item-title,
  .main-blog-item-title,
  .footer-email,
  .footer-phone,
  .header-menu-email,
  .header-menu-phone {
    font-size: 1.125rem; }
  .events-item article,
  .main-news-item article,
  .main-blog-item article,
  .base-link,
  .footer-company-title {
    font-size: 1rem; }
  .header-top-menu-link,
  .header-email,
  .header-phone,
  .main-slider-item,
  .header-menu-item-title,
  .footer-menu-title,
  time {
    font-size: 0.875rem; }
  .slider-dots-child,
  .footer-navigate-child {
    font-size: 0.75rem; }
  /*fonts*/
  .header-top-menu-child {
    margin-right: 10px; }
  .header-right-group {
    padding-left: 0;
    padding-right: 50px; }
  .header-contact {
    margin-right: 10px; }
  .menu-open .header-right-group,
  .search-open .header-right-group {
    padding-left: 40px; }
  .header-search input[type=text] {
    height: 40px;
    line-height: 40px; }
  .main-slider-item article {
    top: 20%; }
  .main-slider-subtitle {
    padding: 40px 0 0; }
  .slider-dots-item,
  .footer-navigate-item {
    width: 110px;
    height: 80px;
    padding: 5px 10px; }
  .slider-dots-title,
  .footer-navigate-title {
    height: 24px; }
  .section-header {
    padding: 30px 0 0; }
  .section-title,
  .section-header h1 {
    float: left; }
  .section-menu {
    position: relative;
    top: auto;
    right: auto;
    float: right; }
  .section-body-carousel {
    padding: 30px 0; }
  .events-item header figure {
    height: 210px; }
    .events-item header figure img {
      max-height: 210px; }
  .events-item article {
    height: 133px; }
  .events-item-title {
    height: 18px; }
  .main-news-catalog {
    padding: 0; }
  .main-news-item article {
    height: 95px; }
  .main-news-item-title {
    height: 40px; }
  .main-blog-item article {
    height: 228px; }
  .delivery-form-subdescription {
    padding: 20px 0 0; }
  .delivery-form-content {
    margin: 30px 0 0; }
  .delivery-form-body {
    padding: 0 0 30px; }
  .footer-menu-wrapper .row {
    margin: 0 -10px; }
  .footer-menu-wrapper .col-xs-4 {
    padding: 0 10px; }
  .footer-dev-title {
    margin-right: 0; }
  .footer-social-child {
    margin-right: 30px; }
  .header-menu-item-list,
  .footer-menu-list {
    padding: 10px 0 0; }
  .footer-menu {
    margin-top: 20px; }
  .header-menu-top {
    padding: 10px 0; }
  .navicon-close {
    height: 84px; }
  .header-nav .navicon-close {
    margin-top: -27px;
    right: -15px; }
  .page {
    padding: 20px 0 0; }
  .pagination {
    padding: 30px 0; } }

@media (max-width: 1024px) {
  .main-slider-section .container {
    padding: 0; } }

@media (max-width: 1023px) {
  /*fonts*/
  .main-slider-title {
    font-size: 1.5rem; }
  .main-slider-subtitle,
  .section-title,
  .section-header h1 {
    font-size: 1.125rem; }
  .main-news-item-title,
  .events-item-title,
  .main-blog-item-title,
  .footer-email,
  .footer-phone,
  .header-menu-email,
  .header-menu-phone,
  .active-button,
  .submit-button {
    font-size: 1rem; }
  .events-item article,
  .main-news-item article,
  .main-blog-item article,
  .base-link,
  .footer-company-title {
    font-size: 0.875rem; }
  /*fonts*/
  input, select, textarea {
    height: 48px; }
  .header-left {
    width: 15%; }
  .header-center {
    width: 45%; }
  .header-right {
    width: 40%; }
  .header-top-menu {
    text-align: left; }
  .header-contact {
    display: none; }
  .header-logo {
    width: 67px;
    overflow: hidden; }
    .header-logo img {
      max-width: inherit; }
  .menu-open .header-center,
  .search-open .header-center {
    width: 45%; }
  .menu-open .header-right,
  .search-open .header-right {
    width: 40%; }
  .header-menu-item-list {
    display: none; }
  .header-menu-item-title .js-menu-toggle {
    display: inline-block; }
  .header-menu-top-col {
    width: 100%; }
  .header-menu-bottom {
    padding-bottom: 20px; }
    .header-menu-bottom [class^="col-inline-xs-"] {
      width: 100%; }
    .header-menu-bottom .shop-button {
      float: none;
      max-width: 280px;
      margin: 10px 0 0; }
  .header-social,
  .header-menu-contact {
    padding: 10px 0;
    text-align: left; }
  .shop-button {
    height: 75px;
    line-height: 75px; }
  .header-nav .navicon-close {
    margin-top: -32px; }
  .navicon-close {
    height: 97px; }
  .main-slider,
  .main-slider-item {
    height: 420px; }
  .footer-navigate-item,
  .slider-dots-item {
    width: 80px;
    padding: 5px; }
  .main-slider .slick-arrow {
    width: 40px;
    height: 40px;
    margin-top: -20px; }
  .events-item-title,
  .events-item article {
    padding: 0 15px; }
  .events-item-row {
    padding: 8px 0; }
  .events-item header figure {
    height: 150px; }
    .events-item header figure img {
      max-height: 150px; }
  .custom-dropdown .dropdown-menu {
    padding: 0; }
  .dropdown-menu-button {
    padding: 4px 15px; }
  .main-news-section .section-body {
    padding: 10px 0; }
  .main-news-row {
    padding: 0; }
  .main-news-col {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px; }
  .main-blog-item {
    padding: 15px 0;
    height: 400px; }
    .main-blog-item time {
      padding: 0 15px 15px; }
    .main-blog-item article {
      margin: 15px 0 0;
      padding: 0 15px;
      height: 170px; }
    .main-blog-item footer {
      padding: 25px 15px 0; }
  .main-blog-item-title {
    padding: 0 15px;
    line-height: 1.42;
    height: 66px; }
  .section-body-carousel {
    padding: 15px 0; }
  .js-carousel-arrow {
    padding: 15px 0 0; }
  .events-item-icons li {
    padding-right: 5px;
    margin-right: 2px; }
  .footer-main {
    padding: 20px 0; }
  .footer-menu-wrapper .col-xs-4 {
    width: 50%; }
  .footer-left {
    width: 60%; }
  .footer-right {
    width: 40%; }
  .footer-contact {
    padding: 15px 0 0; }
  .footer-social {
    padding: 30px 0 0; } }

/*---------Team---------*/
.our-team .pagination {
  padding-top: 0; }

.team-item {
  font-size: 0;
  line-height: 1;
  height: 237px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: content-box;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  display: block;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .team-item:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0); }
  .team-item a {
    display: block;
    width: 100%;
    height: 100%; }

.team-item-figure {
  border-bottom: 4px solid #f5f146; }

.team-item-name {
  font-size: 1.125rem;
  padding: 20px 0 10px 0; }

.team-item-position {
  font-size: 1rem;
  padding-bottom: 7px;
  border-bottom: 1px solid #dbdbdb;
  color: #535353; }

.team-item-speciality {
  line-height: 15px;
  color: #535353;
  padding: 15px 0 30px 0;
  font-size: 0.875rem; }

.section-body-team {
  padding-top: 50px; }

.item-container {
  padding: 0 39px 25%; }

/*---------Team---------*/
@media (max-width: 766px) {
  .main-slider,
  .main-slider-item {
    height: 275px; }
  .active-button,
  .submit-button,
  .main-blog-item-button {
    min-width: inherit; }
  .delivery-form-content {
    padding-right: 170px; }
  .delivery-form-content .row {
    margin: 0 -10px; }
  .delivery-form-content .col-xs-6 {
    padding: 0 10px; }
  .delivery-form-body {
    padding: 0 0 20px; } }

@media (max-width: 736px) {
  .main-slider-dots,
  .footer-navigate {
    display: none; } }

@media (max-width: 666px) {
  .footer-dev {
    font-size: 0.75rem; }
  .footer-dev-link,
  input, select, textarea {
    font-size: 0.875rem; }
  ::-webkit-input-placeholder {
    font-size: 0.875rem; }
  ::-moz-placeholder {
    font-size: 0.875rem; }
  ::-ms-input-placeholder {
    font-size: 0.875rem; }
  .header-top-menu {
    display: none; }
  .header-center {
    width: 40%; }
  .header-right {
    width: 45%; }
  .menu-open .dropdown-lang,
  .menu-open .header-login,
  .search-open .dropdown-lang,
  .search-open .header-login {
    display: none; }
  .menu-open .header-center,
  .search-open .header-center {
    width: 55%; }
  .menu-open .header-right,
  .search-open .header-right {
    width: 30%; }
  .section-title,
  .section-header h1 {
    float: none; }
  .section-menu {
    float: none; }
  .events-item footer {
    padding: 0 25px; }
  .main-slider-item article {
    top: 14%;
    font-size: 1.125rem; }
  .main-slider-subtitle {
    padding: 20px 0 0; }
  .header-nav .navicon-close {
    margin-top: -47px; }
  .footer-social-child {
    margin-right: 15px; }
  .footer-copyright-wrapper {
    padding: 20px 0 0; }
  .footer-left {
    width: 55%; }
  .footer-right {
    width: 45%; }
  .footer-menu-list {
    display: none; }
  .footer-menu-title .js-menu-toggle {
    display: inline-block; }
  .footer-menu-wrapper .col-xs-4 {
    width: 100%; }
  .footer-menu {
    margin: 0 0 5px; } }

@media (max-width: 567px) {
  .main-slider-subtitle, .section-title,
  .section-header h1 {
    font-size: 1rem; }
  .header {
    padding: 5px 0; }
  .header-left {
    width: 30%; }
  .header-center,
  .header-toggle-search {
    display: none; }
  .header-right {
    width: 70%; }
  .menu-open .header-right,
  .search-open .header-right {
    width: 15%; }
  .menu-open .header-center,
  .search-open .header-center {
    display: inline-block; }
  .menu-open .header-right-group,
  .search-open .header-right-group {
    padding: 0; }
  .header-search input[type=text] {
    padding: 12px 30px 12px 10px; }
  .header-search button {
    width: 12px;
    height: 12px;
    margin-top: -6px;
    right: 10px; }
  .header-nav .navicon-close {
    top: -8px;
    width: 24px;
    height: 18px;
    right: 0;
    margin: 0; }
  .section-header,
  .page .section-header {
    padding: 15px 0 0; }
  .main-slider .slick-arrow {
    display: none !important; }
  .main-slider,
  .main-slider-item {
    height: 155px; }
  .main-slider-item article {
    top: 25%; }
    .main-slider-item article p {
      display: none; }
  .main-slider-title {
    font-size: 1rem; }
  .main-slider-subtitle {
    display: none; }
  .main-news-item {
    padding: 0; }
    .main-news-item figure {
      display: none; }
    .main-news-item footer {
      padding-top: 15px; }
  .events-item article,
  .events-item-title,
  .main-news-item article,
  .main-news-item-title {
    height: auto; }
  .events-item footer {
    padding-top: 15px; }
  .delivery-form-header {
    padding: 0; }
  .delivery-form-description {
    display: none; }
  .delivery-form-subdescription {
    padding: 10px 0 0;
    font-size: 0.875rem; }
  .delivery-form-content {
    padding: 15px; }
    .delivery-form-content .col-xs-6 {
      width: 100%;
      padding-top: 15px; }
      .delivery-form-content .col-xs-6:first-child {
        padding-top: 0; }
  .delivery-form-submit {
    position: relative;
    padding-top: 15px;
    top: auto;
    right: auto; }
    .delivery-form-submit .submit-button {
      width: 100%; }
  .js-carousel {
    margin: 0; }
    .js-carousel .slick-slide {
      padding: 0; }
  .footer-left,
  .footer-right {
    width: 100%;
    text-align: left; }
  .footer-right {
    padding-top: 20px; }
  .footer-copyright {
    float: none; } }

@media (max-width: 479px) {
  .section-menu {
    display: block; }
  .section-menu-child {
    margin-right: 0; }
  .pagination .first {
    margin-right: 10px; }
  .pagination .first span,
  .pagination .first a,
  .pagination .last span,
  .pagination .last a {
    width: 20px;
    height: 20px; }
  .pagination li {
    margin-right: 10px; }
  .section-header h1, .section-title {
    margin-bottom: 10px; }
  .item-container {
    padding: 0 39px 13%; } }

/*-----------Media-----------*/
