<div class="comment-form-container add-review-form">
    <form name="comment-form" novalidate="novalidate">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-row">
                    <input type="text" name="name" placeholder="Ваше Имя">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-row">
                    <input type="text" name="organization" placeholder="Организация">
                </div>
            </div>
            <div class="col-xs-12">
                <div class="textarea-row">
                    <textarea name="textMessage" id="comment" placeholder="Текст сообщения"></textarea>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="add-comment-button">
                    <button type="submit" class="submit-button">Отправить</button>
                </div>
            </div>
        </div>
    </form>
</div>