<!--breadcrumbs!-->
<section class="breadcrumbs" xmlns:v="http://rdf.data-vocabulary.org/#">
    <div class="container">
        <ul class="breadcrumbs-list">
            <li class="breadcrumbs-child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a itemprop="url" href="javascript:;" class="breadcrumbs-link" title="@@links.main">
                    <span itemprop="title">@@links.main</span>
                </a>
            </li>
            <li class="breadcrumbs-child">
                <span> » </span>
            </li>
            <li class="breadcrumbs-child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a itemprop="url" href="javascript:;" class="breadcrumbs-link active" title="@@links.current">
                    <span itemprop="title">@@links.current</span>
                </a>
            </li>
        </ul>
    </div>
</section>
<!--breadcrumbs!-->
