<!--section!-->
<section class="delivery-section bg-grey">
    <div class="container">
        <!--header!-->
        <div class="section-header">
            <div class="section-title no-float">Подписаться на рассылку</div>
        </div>
        <!--header!-->
        <!--body!-->
        <div class="section-body">
            <!--form!-->
            <div class="delivery-form-wrapper">
                <div class="delivery-form-header">
                    <div class="delivery-form-description">
                        <p>Удобный способ узнавать вовремя о новых решениях для отраслевых лабораторий, акционных<br> предложениях и обучающих семинарах. Более 7 000 специалистов лабораторий уже читают.</p>
                    </div>
                    <div class="delivery-form-subdescription">
                        <a href="javascript:;" class="delivery-form-link">Узнать больше о рассылке и посмотреть примеры</a>
                    </div>
                </div>
                <div class="delivery-form-body">
                    <form name="delivery-form">
                        <div class="delivery-form-content">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-row">
                                        <input type="text" name="name" placeholder="Ваше Имя">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-row">
                                        <input type="email" name="email" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                            <div class="delivery-form-submit">
                                <button type="submit" class="submit-button">Подписаться</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--form!-->
        </div>
        <!--body!-->
    </div>
</section>
<!--section!-->
