<div class="section-body-carousel">
    <div data-show="3" data-scroll="2" class="js-carousel">
        <div>
            <section class="events-item">
                <header>
                    <figure class="events-item-image" style="background: url(images/admin/image-435-290.jpg);">
                        <a href="javascript:;"></a>
                    </figure>
                    <div class="row-inline events-item-row">
                        <div class="col-inline-xs-6 middle">
                            <time datetime="2015-11-23">23.11.2015</time>
                        </div>
                        <div class="col-inline-xs-6 middle">

                        </div>
                    </div>
                    <div class="events-item-title">Контроль качества от Leica</div>
                </header>
                <article>
                    <p>В фармацевтическом производстве важную роль играют исследования контроля качества с помощью микроскопов, включая сами микроскопы, камеры для документирования и</p>
                </article>
                <footer>
                    <a href="javascript:;" class="active-button">Регистрация</a>
                    <a class="more-events" href="javascript:;">Подробнее</a>
                </footer>

            </section>
        </div>
        <div>
            <section class="events-item">
                <header>
                    <figure class="events-item-image" style="background: url(images/admin/image-435-290.jpg);">
                        <a href="javascript:;"></a>
                    </figure>
                    <div class="row-inline events-item-row">
                        <div class="col-inline-xs-6 middle">
                            <time datetime="2015-11-23">23.11.2015</time>
                        </div>
                        <div class="col-inline-xs-6 middle">

                        </div>
                    </div>
                    <div class="events-item-title">Контроль качества от Leica</div>
                </header>
                <article>
                    <p>В фармацевтическом производстве важную роль играют исследования контроля качества с помощью микроскопов, включая сами микроскопы, камеры для документирования и</p>
                </article>
                <footer>
                    <a href="javascript:;" class="active-button">Регистрация</a>
                    <a class="more-events" href="javascript:;">Подробнее</a>
                </footer>
            </section>
        </div>
        <div>
            <section class="events-item">
                <header>
                    <figure class="events-item-image" style="background: url(images/admin/image-435-290.jpg);">
                        <a href="javascript:;"></a>
                    </figure>
                    <div class="row-inline events-item-row">
                        <div class="col-inline-xs-6 middle">
                            <time datetime="2015-11-23">23.11.2015</time>
                        </div>
                        <div class="col-inline-xs-6 middle">

                        </div>
                    </div>
                    <div class="events-item-title">Контроль качества от Leica</div>
                </header>
                <article>
                    <p>В фармацевтическом производстве важную роль играют исследования контроля качества с помощью микроскопов, включая сами микроскопы, камеры для документирования и</p>
                </article>
                <footer>
                    <a href="javascript:;" class="active-button">Регистрация</a>
                    <a class="more-events" href="javascript:;">Подробнее</a>
                </footer>
            </section>
        </div>
        <div>
            <section class="events-item">
                <header>
                    <figure class="events-item-image" style="background: url(images/admin/image-435-290.jpg);">
                        <a href="javascript:;"></a>
                    </figure>
                    <div class="row-inline events-item-row">
                        <div class="col-inline-xs-6 middle">
                            <time datetime="2015-11-23">23.11.2015</time>
                        </div>
                        <div class="col-inline-xs-6 middle">

                        </div>
                    </div>
                    <div class="events-item-title">Контроль качества от Leica</div>
                </header>
                <article>
                    <p>В фармацевтическом производстве важную роль играют исследования контроля качества с помощью микроскопов, включая сами микроскопы, камеры для документирования и</p>
                </article>
                <footer>
                    <a href="javascript:;" class="active-button">Регистрация</a>
                    <a class="more-events" href="javascript:;">Подробнее</a>
                </footer>
            </section>
        </div>
    </div>
    <ul class="events-arrows buttons-carousel navigate-arrows">
        <li class="first js-carousel-prev"><a href="javascript:;" rel="prev">»</a></li>
        <li class="last js-carousel-next"><a href="javascript:;" rel="next">»</a></li>
    </ul>
</div>