
    <section class="events-item">
        <header>
            <figure class="events-item-image" style="background: url(images/admin/image-435-290.jpg);">
                <a href="javascript:;" tabindex="0"></a>
            </figure>
            <div class="row-inline events-item-row">
                <div class="col-inline-xs-6 middle">
                    <time datetime="2015-11-23">23.11.2015</time>
                </div>
                <div class="col-inline-xs-6 middle">
                    <ul class="events-item-icons">
                        <li>
                            <div class="events-item-image-icon"></div>
                        </li>
                        <li>
                            <div class="events-item-comment-icon">12</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="events-item-title">Контроль качества от Leica</div>
        </header>
        <article>
            <p>В фармацевтическом производстве важную роль играют исследования контроля качества с помощью микроскопов, включая сами микроскопы, камеры для документирования и</p>
        </article>
        <footer>
            <a href="javascript:;" class="active-button" tabindex="0">Подробнее</a>
        </footer>
    </section>
