<!--footer!-->
<footer class="footer">
    @@include('templates/partials/footer-navigate.html')
    <div class="footer-main">
        <div class="container">
            <div class="row">
                <div class="col-xs-8 footer-left">
                    <div class="footer-menu-wrapper">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="footer-menu">
                                    <div class="footer-menu-title">
                                        <span class="button-text">Отрасли</span>
                                        <button data-parent=".footer-menu" data-menu=".footer-menu-list" type="button" class="js-menu-toggle"></button>
                                    </div>
                                    <ul class="footer-menu-list">
                                        <li class="footer-menu-child">
                                            <a href="javascript:;" class="footer-menu-link">Химия и Строительство</a>
                                        </li>
                                        <li class="footer-menu-child">
                                            <a href="javascript:;" class="footer-menu-link">Медицина</a>
                                        </li>
                                        <li class="footer-menu-child">
                                            <a href="javascript:;" class="footer-menu-link">Фармацевтика</a>
                                        </li>
                                        <li class="footer-menu-child">
                                            <a href="javascript:;" class="footer-menu-link">Госконтроль качества</a>
                                        </li>
                                        <li class="footer-menu-child">
                                            <a href="javascript:;" class="footer-menu-link">Агро</a>
                                        </li>
                                        <li class="footer-menu-child">
                                            <a href="javascript:;" class="footer-menu-link">Пищевая промышленность</a>
                                        </li>
                                        <li class="footer-menu-child">
                                            <a href="javascript:;" class="footer-menu-link">Тяжелая промышленность</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer-menu">
                                    <div class="footer-menu-title">
                                        <span class="button-text">Сервис 360</span>
                                        <button data-parent=".footer-menu" data-menu=".footer-menu-list" type="button" class="js-menu-toggle"></button>
                                    </div>
                                    <ul class="footer-menu-list">
                                        <li class="footer-menu-child">
                                            <a href="javascript:;" class="footer-menu-link">Персональный менеджер</a>
                                        </li>
                                        <li class="footer-menu-child">
                                            <a href="javascript:;" class="footer-menu-link">Складской комплекс</a>
                                        </li>
                                        <li class="footer-menu-child">
                                            <a href="javascript:;" class="footer-menu-link">Доставка</a>
                                        </li>
                                        <li class="footer-menu-child">
                                            <a href="javascript:;" class="footer-menu-link">Сервисная служба</a>
                                        </li>
                                        <li class="footer-menu-child">
                                            <a href="javascript:;" class="footer-menu-link">Онлайн-камеры</a>
                                        </li>
                                        <li class="footer-menu-child">
                                            <a href="javascript:;" class="footer-menu-link">Интернет-магазин</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="footer-menu">
                                    <div class="footer-menu-title">
                                        <span class="button-text">Бренды и Продукция</span>
                                        <button data-parent=".footer-menu" data-menu=".footer-menu-list" type="button" class="js-menu-toggle"></button>
                                    </div>
                                    <ul class="footer-menu-list">
                                        <li class="footer-menu-child">
                                            <a href="javascript:;" class="footer-menu-link">Поиск по бренду</a>
                                        </li>
                                        <li class="footer-menu-child">
                                            <a href="javascript:;" class="footer-menu-link">Лабораторная посуда и аксессуары</a>
                                        </li>
                                        <li class="footer-menu-child">
                                            <a href="javascript:;" class="footer-menu-link">Химические реактивы</a>
                                        </li>
                                        <li class="footer-menu-child">
                                            <a href="javascript:;" class="footer-menu-link">Общелабораторное оборудование</a>
                                        </li>
                                        <li class="footer-menu-child">
                                            <a href="javascript:;" class="footer-menu-link">Аналитическое оборудование</a>
                                        </li>
                                        <li class="footer-menu-child">
                                            <a href="javascript:;" class="footer-menu-link">Мебель</a>
                                        </li>

                                        <li class="footer-menu-child">
                                            <a href="javascript:;" class="footer-menu-link">Стандарты и эталоны</a>
                                        </li>
                                        <li class="footer-menu-child">
                                            <a href="javascript:;" class="footer-menu-link">Охрана труда и контроль параметров окружающей среды</a>
                                        </li>
                                        <li class="footer-menu-child">
                                            <a href="javascript:;" class="footer-menu-link">Специализированное отраслевое оборудование</a>
                                        </li>
                                        <li class="footer-menu-child">
                                            <a href="javascript:;" class="footer-menu-link">Медицинское оборудование</a>
                                        </li>
                                        <li class="footer-menu-child">
                                            <a href="javascript:;" class="footer-menu-link">Оборудование для молекулярной биологии и генетики</a>
                                        </li>
                                        <li class="footer-menu-child">
                                            <a href="javascript:;" class="footer-menu-link">IT-решения для лаборатории</a>
                                        </li>
                                        <li class="footer-menu-child">
                                            <a href="javascript:;" class="footer-menu-link">Лаборатория «под ключ»</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="footer-menu">
                                    <div class="footer-menu-title">
                                        <span class="button-text">компания</span>
                                        <button data-parent=".footer-menu" data-menu=".footer-menu-list" type="button" class="js-menu-toggle"></button>
                                    </div>
                                    <ul class="footer-menu-list">
                                        <li class="footer-menu-child">
                                            <a href="javascript:;" class="footer-menu-link">Клиенты и отзывы</a>
                                        </li>
                                        <li class="footer-menu-child">
                                            <a href="javascript:;" class="footer-menu-link">Производственный комплекс</a>
                                        </li>
                                        <li class="footer-menu-child">
                                            <a href="javascript:;" class="footer-menu-link">Система управления качеством</a>
                                        </li>
                                        <li class="footer-menu-child">
                                            <a href="javascript:;" class="footer-menu-link">Кадровая политика</a>
                                        </li>
                                        <li class="footer-menu-child">
                                            <a href="javascript:;" class="footer-menu-link">Команда</a>
                                        </li>
                                        <li class="footer-menu-child">
                                            <a href="javascript:;" class="footer-menu-link">Социальная ответственность</a>
                                        </li>
                                        <li class="footer-menu-child">
                                            <a href="javascript:;" class="footer-menu-link">Контакты</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer-menu">
                                    <div class="footer-menu-title">
                                        <span class="button-text">События и блоги</span>
                                        <button data-parent=".footer-menu" data-menu=".footer-menu-list" type="button" class="js-menu-toggle"></button>
                                    </div>
                                    <ul class="footer-menu-list">
                                        <li class="footer-menu-child">
                                            <a href="javascript:;" class="footer-menu-link">Календарь мероприятий</a>
                                        </li>
                                        <li class="footer-menu-child">
                                            <a href="javascript:;" class="footer-menu-link">Блог «АПК»</a>
                                        </li>
                                        <li class="footer-menu-child">
                                            <a href="javascript:;" class="footer-menu-link">Блог «Промышленность»</a>
                                        </li>
                                        <li class="footer-menu-child">
                                            <a href="javascript:;" class="footer-menu-link">Блог «Медицина»</a>
                                        </li>
                                        <li class="footer-menu-child">
                                            <a href="javascript:;" class="footer-menu-link">Блог «Репродуктивные технологии»</a>
                                        </li>
                                        <li class="footer-menu-child">
                                            <a href="javascript:;" class="footer-menu-link">Новости и анонсы</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 footer-right">
                    <div class="footer-logo">
                        <a href="javascript:;">
                            <img src="images/logo-rus.svg" width="248" height="65" alt="ООО ХИМЛАБОРРЕАКТИВ" title="ООО ХИМЛАБОРРЕАКТИВ">
                        </a>
                    </div>
                    <div class="footer-contact">
                        <div class="footer-company-title">ООО "ХИМЛАБОРРЕАКТИВ"</div>
                        <div class="footer-phone"><a href="tel:+380 (44) 494 42 42">+380 (44) 494 42 42</a></div>
                        <div class="footer-email"><a href="mailto:sales@hlr.com.ua">sales@hlr.com.ua</a></div>
                    </div>
                    <div class="footer-social">
                        <ul class="footer-social-list">
                            <li class="footer-social-child">
                                <a href="javascript:;" class="footer-social-link fb" target="_blank" title="facebook"></a>
                            </li>
                            <li class="footer-social-child">
                                <a href="javascript:;" class="footer-social-link gp" target="_blank" title="google plus"></a>
                            </li>
                            <li class="footer-social-child">
                                <a href="javascript:;" class="footer-social-link yt" target="_blank" title="youtube"></a>
                            </li>
                            <li class="footer-social-child">
                                <a href="javascript:;" class="footer-social-link in" target="_blank" title="linkedin"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-dev">
                        <span class="footer-dev-title">Разработка сайта</span>
                        <a title="Разработка сайта: VIS-A-VIS design agency" target="_blank" href="http://vis-design.com/" class="footer-dev-link">Vis-A-Vis</a>
                    </div>
                    <div class="footer-copyright-wrapper clearfix">
                        <div class="footer-copyright">
                            <p>Copyright 2016</p>
                            <p>ООО "ХИМЛАБОРРЕАКТИВ"</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--footer!-->

<div class="overflow-bg"></div>
<script async src="js/builds/all.min.js"></script>
