<!--footer-navigate"!-->
<div class="footer-navigate">
    <ul class="footer-navigate-list">
        <li class="footer-navigate-child">
            <a href="javascript:;" class="footer-navigate-item">
                <span class="footer-navigate-icon"></span>
                <span class="footer-navigate-title"><span class="footer-navigate-text">Химия и Строительство</span></span>
            </a>
        </li>
        <li class="footer-navigate-child">
            <a href="javascript:;" class="footer-navigate-item">
                <span class="footer-navigate-icon"></span>
                <span class="footer-navigate-title"><span class="footer-navigate-text">Медицина</span></span>
            </a>
        </li>
        <li class="footer-navigate-child">
            <a href="javascript:;" class="footer-navigate-item">
                <span class="footer-navigate-icon"></span>
                <span class="footer-navigate-title"><span class="footer-navigate-text">Фармацевтика</span></span>
            </a>
        </li>
        <li class="footer-navigate-child">
            <a href="javascript:;" class="footer-navigate-item">
                <span class="footer-navigate-icon"></span>
                <span class="footer-navigate-title"><span class="footer-navigate-text">Агро</span></span>
            </a>
        </li>
        <li class="footer-navigate-child">
            <a href="javascript:;" class="footer-navigate-item">
                <span class="footer-navigate-icon"></span>
                <span class="footer-navigate-title"><span class="footer-navigate-text">Госконтроль качества</span></span>
            </a>
        </li>
        <li class="footer-navigate-child">
            <a href="javascript:;" class="footer-navigate-item">
                <span class="footer-navigate-icon"></span>
                <span class="footer-navigate-title"><span class="footer-navigate-text">Пищевая промышленность</span></span>
            </a>
        </li>
        <li class="footer-navigate-child">
            <a href="javascript:;" class="footer-navigate-item">
                <span class="footer-navigate-icon"></span>
                <span class="footer-navigate-title"><span class="footer-navigate-text">ГМК и машиностроение</span></span>
            </a>
        </li>
        <li class="footer-navigate-child">
            <a href="javascript:;" class="footer-navigate-item">
                <span class="footer-navigate-icon"></span>
                <span class="footer-navigate-title"><span class="footer-navigate-text">ТЭК</span></span>
            </a>
        </li>
    </ul>
</div>
<!--footer-navigate"!-->
