<!--header!-->
<header class="header">
    <div class="container">
        <div class="row-inline header-row">
            <div class="col-inline-xs-3 middle header-left">
                <figure class="header-logo" itemscope itemtype="http://schema.org/Organization">
                    <meta itemprop="name" content="ООО ХИМЛАБОРРЕАКТИВ">
                    <meta itemprop="email" content="sales@hlr.com.ua">
                    <meta itemprop="address" content="Киев, пр. Победы 67">
                    <meta itemprop="telephone" content="+380 (44) 494 42 42">
                    <a itemprop="url" href="@@link">
                        <img src="images/logo-rus.svg" width="248" height="65" alt="ООО ХИМЛАБОРРЕАКТИВ" title="ООО ХИМЛАБОРРЕАКТИВ">
                    </a>
                </figure>
            </div>
            <div class="col-inline-xs-4 middle header-center">
                <div class="header-top-menu">
                    <ul class="header-top-menu-list" itemscope itemtype="http://schema.org/ItemList">
                        <li class="header-top-menu-child" itemprop="itemListElement" itemscope itemtype="http://schema.org/ItemList">
                            <a itemprop="url" href="javascript:;" class="header-top-menu-link" title="ОТРАСЛИ">
                                <span itemprop="name">ОТРАСЛИ</span>
                            </a>
                        </li>
                        <li class="header-top-menu-child" itemprop="itemListElement" itemscope itemtype="http://schema.org/ItemList">
                            <a itemprop="url" href="javascript:;" class="header-top-menu-link" title="Продукция">
                                <span itemprop="name">Продукция</span>
                            </a>
                        </li>
                        <li class="header-top-menu-child" itemprop="itemListElement" itemscope itemtype="http://schema.org/ItemList">
                            <a itemprop="url" href="javascript:;" class="header-top-menu-link" title="Сервис">
                                <span itemprop="name">Сервис</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="header-search">
                    <form>
                        <input type="text" name="q" placeholder="Поиск..." autocomplete="off">
                        <button type="submit"></button>
                    </form>
                    @@include('templates/partials/live-search.html')
                </div>
            </div>
            <div class="col-inline-xs-5 middle header-right">
                <div class="header-right-group">
                    <div class="header-contact">
                        <div class="header-phone"><a href="tel:+380 (44) 494 42 42">+380 (44) 494 42 42</a></div>
                        <div class="header-email"><a href="mailto:sales@hlr.com.ua">sales@hlr.com.ua</a></div>
                    </div>
                    <button id="js-open-search" type="button" class="header-toggle-search"></button>
                    <div class="dropdown dropdown-lang">
                       <button type="button"data-dropdown class="dropdown-button">Ua</button>
                       <div class="dropdown-menu">
                            <ul class="dropdown-menu-list">
                                <li class="dropdown-menu-child"><a href="javascript:;" class="dropdown-menu-link">Ru</a></li>
                                <li class="dropdown-menu-child"><a href="javascript:;" class="dropdown-menu-link">Eng</a></li>
                            </ul>
                       </div>
                   </div>
                   <div class="header-login">
                       <button type="button" class="tranaparent-button" data-popup data-target="#login-popup">Вход</button>
                   </div>
                   <div class="header-nav">
                       <button id="js-open-menu" type="button" class="navicon"></button>
                       <button type="button" class="navicon-close"></button>
                   </div>
                </div>
            </div>
        </div>
    </div>
    @@include('templates/partials/header-menu.html')
</header>
<!--header!-->
