<!--header-menu!-->
<div class="header-menu">
    <div class="header-menu-inside">
        <!--top!-->
        <div class="header-menu-top">
            <div class="container">
                <div class="header-menu-top-row">
                    <div class="header-menu-top-col">
                        <div class="header-menu-item">
                            <div class="header-menu-item-title">
                                <span class="button-text">Отрасли</span>
                                <button data-parent=".header-menu-item" data-menu=".header-menu-item-list" type="button" class="js-menu-toggle"></button>
                            </div>
                            <ul class="header-menu-item-list">
                                <li class="header-menu-item-child">
                                    <a href="javascript:;" class="header-menu-item-link">Химия и Строительство</a>
                                </li>
                                <li class="header-menu-item-child">
                                    <a href="javascript:;" class="header-menu-item-link">Медицина</a>
                                </li>
                                <li class="header-menu-item-child">
                                    <a href="javascript:;" class="header-menu-item-link">Фармацевтика</a>
                                </li>
                                <li class="header-menu-item-child">
                                    <a href="javascript:;" class="header-menu-item-link">Госконтроль качества</a>
                                </li>
                                <li class="header-menu-item-child">
                                    <a href="javascript:;" class="header-menu-item-link">Агро</a>
                                </li>
                                <li class="header-menu-item-child">
                                    <a href="javascript:;" class="header-menu-item-link">Пищевая промышленность</a>
                                </li>
                                <li class="header-menu-item-child">
                                    <a href="javascript:;" class="header-menu-item-link">Тяжелая промышленность</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="header-menu-top-col">
                        <div class="header-menu-item">
                            <div class="header-menu-item-title">
                                <span class="button-text">Бренды и Продукция</span>
                                <button data-parent=".header-menu-item" data-menu=".header-menu-item-list" type="button" class="js-menu-toggle"></button>
                            </div>
                            <ul class="header-menu-item-list">
                                <li class="header-menu-item-child">
                                    <a href="javascript:;" class="header-menu-item-link">Поиск по бренду</a>
                                </li>
                                <li class="header-menu-item-child">
                                    <a href="javascript:;" class="header-menu-item-link">Лабораторная посуда и аксессуары</a>
                                </li>
                                <li class="header-menu-item-child">
                                    <a href="javascript:;" class="header-menu-item-link">Химические реактивы</a>
                                </li>
                                <li class="header-menu-item-child">
                                    <a href="javascript:;" class="header-menu-item-link">Общелабораторное оборудование</a>
                                </li>
                                <li class="header-menu-item-child">
                                    <a href="javascript:;" class="header-menu-item-link">Аналитическое оборудование</a>
                                </li>
                                <li class="header-menu-item-child">
                                    <a href="javascript:;" class="header-menu-item-link">Мебель</a>
                                </li>
                                <li class="header-menu-item-child">
                                    <a href="javascript:;" class="header-menu-item-link">Стандарты и эталоны</a>
                                </li>
                                <li class="header-menu-item-child">
                                    <a href="javascript:;" class="header-menu-item-link">Охрана труда и контроль параметров окружающей среды</a>
                                </li>
                                <li class="header-menu-item-child">
                                    <a href="javascript:;" class="header-menu-item-link">Специализированное отраслевое оборудование</a>
                                </li>
                                <li class="header-menu-item-child">
                                    <a href="javascript:;" class="header-menu-item-link">Медицинское оборудование</a>
                                </li>
                                <li class="header-menu-item-child">
                                    <a href="javascript:;" class="header-menu-item-link">Оборудование для молекулярной биологии и генетики</a>
                                </li>
                                <li class="header-menu-item-child">
                                    <a href="javascript:;" class="header-menu-item-link">IT-решения для лаборатории</a>
                                </li>
                                <li class="header-menu-item-child">
                                    <a href="javascript:;" class="header-menu-item-link">Лаборатория «под ключ»</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="header-menu-top-col">
                        <div class="header-menu-item">
                            <div class="header-menu-item-title">
                                <span class="button-text">Сервис 360</span>
                                <button data-parent=".header-menu-item" data-menu=".header-menu-item-list" type="button" class="js-menu-toggle"></button>
                            </div>
                            <ul class="header-menu-item-list">
                                <li class="header-menu-item-child">
                                    <a href="javascript:;" class="header-menu-item-link">Персональный менеджер</a>
                                </li>
                                <li class="header-menu-item-child">
                                    <a href="javascript:;" class="header-menu-item-link">Складской комплекс</a>
                                </li>
                                <li class="header-menu-item-child">
                                    <a href="javascript:;" class="header-menu-item-link">Доставка</a>
                                </li>
                                <li class="header-menu-item-child">
                                    <a href="javascript:;" class="header-menu-item-link">Сервисная служба</a>
                                </li>
                                <li class="header-menu-item-child">
                                    <a href="javascript:;" class="header-menu-item-link">Онлайн-камеры</a>
                                </li>
                                <li class="header-menu-item-child">
                                    <a href="javascript:;" class="header-menu-item-link">Интернет-магазин</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="header-menu-top-col">
                        <div class="header-menu-item">
                            <div class="header-menu-item-title">
                                <span class="button-text">компания</span>
                                <button data-parent=".header-menu-item" data-menu=".header-menu-item-list" type="button" class="js-menu-toggle"></button>
                            </div>
                            <ul class="header-menu-item-list">
                                <li class="header-menu-item-child">
                                    <a href="javascript:;" class="header-menu-item-link">Клиенты и отзывы</a>
                                </li>
                                <li class="header-menu-item-child">
                                    <a href="javascript:;" class="header-menu-item-link">Производственный комплекс</a>
                                </li>
                                <li class="header-menu-item-child">
                                    <a href="javascript:;" class="header-menu-item-link">Система управления качеством</a>
                                </li>
                                <li class="header-menu-item-child">
                                    <a href="javascript:;" class="header-menu-item-link">Кадровая политика</a>
                                </li>
                                <li class="header-menu-item-child">
                                    <a href="javascript:;" class="header-menu-item-link">Команда</a>
                                </li>
                                <li class="header-menu-item-child">
                                    <a href="javascript:;" class="header-menu-item-link">Социальная ответственность</a>
                                </li>
                                <li class="header-menu-item-child">
                                    <a href="javascript:;" class="header-menu-item-link">Контакты</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="header-menu-top-col">
                        <div class="header-menu-item">
                            <div class="header-menu-item-title">
                                <span class="button-text">События и блоги</span>
                                <button data-parent=".header-menu-item" data-menu=".header-menu-item-list" type="button" class="js-menu-toggle"></button>
                            </div>
                            <ul class="header-menu-item-list">
                                <li class="header-menu-item-child">
                                    <a href="javascript:;" class="header-menu-item-link">Календарь мероприятий</a>
                                </li>
                                <li class="header-menu-item-child">
                                    <a href="javascript:;" class="header-menu-item-link">Блог «АПК»</a>
                                </li>
                                <li class="header-menu-item-child">
                                    <a href="javascript:;" class="header-menu-item-link">Блог «Промышленность»</a>
                                </li>
                                <li class="header-menu-item-child">
                                    <a href="javascript:;" class="header-menu-item-link">Блог «Медицина»</a>
                                </li>
                                <li class="header-menu-item-child">
                                    <a href="javascript:;" class="header-menu-item-link">Блог «Репродуктивные технологии»</a>
                                </li>
                                <li class="header-menu-item-child">
                                    <a href="javascript:;" class="header-menu-item-link">Новости и анонсы</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--top!-->
        <!--bottom!-->
        <div class="header-menu-bottom">
            <div class="container">
                <div class="row-inline">
                    <div class="col-inline-xs-3 middle">
                        <div class="header-social">
                            <div class="header-social-title">Мы в социальных сетях:</div>
                            <ul class="header-social-list">
                                <li class="header-social-child">
                                    <a href="javascript:;" class="header-social-link fb" target="_blank" title="facebook"></a>
                                </li>
                                <li class="header-social-child">
                                    <a href="javascript:;" class="header-social-link gp" target="_blank" title="google plus"></a>
                                </li>
                                <li class="header-social-child">
                                    <a href="javascript:;" class="header-social-link yt" target="_blank" title="youtube"></a>
                                </li>
                                <li class="header-social-child">
                                    <a href="javascript:;" class="header-social-link in" target="_blank" title="linkedin"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-inline-xs-5 middle">
                        <div class="header-menu-contact">
                            <div class="header-menu-phone"><a href="tel:+380 (44) 494 42 42">+380 (44) 494 42 42</a></div>
                            <div class="header-menu-email"><a href="mailto:sales@hlr.com.ua">sales@hlr.com.ua</a></div>
                        </div>
                    </div>
                    <div class="col-inline-xs-4 middle">
                        <a href="javascript:;" class="shop-button"><span class="shop-button-title">Интернет-магазин</span></a>
                    </div>
                </div>
            </div>
        </div>
        <!--bottom!-->
    </div>
</div>
<!--header-menu!-->
