<div class="list-with-numbers">
    <ul>
        <li>
            от определения влажности до базовых операций взвешивания,
        </li>
        <li>
            от весов с большим пределом взвешивания до весов с высоким разрешением,
        </li>
        <li>
            от портативных весов до аналитических.
        </li>
        <li>
            Компания осуществляет поставки весового оборудования крупнейших мировых производителей: Ohaus, Axis, Radwag,
            Техноваги, Cas, Масса-к, Sartorius, Mettler Toledo, AND, Kern, Дозавтоматы.

        </li>
        <li>
            Большой выбор электронных весов, и благодаря этому практически нет потребности, которую нельзя
            удовлетворить.
        </li>
    </ul>
</div>