<div class="list-with-numbers-container">
    <dl class="list-with-numbers">
        <dt>
            от определения влажности до базовых операций взвешивания,
        </dt>
        <dt>
            от весов с большим пределом взвешивания до весов с высоким разрешением,
        </dt>
        <dt>
            от портативных весов до аналитических.
        </dt>
        <dt>
            Компания осуществляет поставки весового оборудования крупнейших мировых производителей: Ohaus, Axis, Radwag,
            Техноваги, Cas, Масса-к, Sartorius, Mettler Toledo, AND, Kern, Дозавтоматы.

        </dt>
        <dt>
            Большой выбор электронных весов, и благодаря этому практически нет потребности, которую нельзя
            удовлетворить.
        </dt>
    </dl>
</div>