<div class="live-search">
    <div class="live-search-container">
        <div class="search-item">
            <div class="row-inline">
                <div class="col-inline-xs-1 middle">
                    <figure>
                        <a href="http://www.vis-design.com/">
                            <img src="https://placeholdit.imgix.net/~text?txtsize=75&txt=50%C3%9750&w=50&h=50" width="50" height="50" alt="item" title="item">
                        </a>
                    </figure>
                </div>
                <div class="col-inline-xs-11 middle">
                    <div class="search-item-title">
                        <a href="http://www.vis-design.com/">Название товара</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-item">
            <div class="row-inline">
                <div class="col-inline-xs-1 middle">
                    <figure>
                        <a href="http://www.vis-design.com/">
                            <img src="https://placeholdit.imgix.net/~text?txtsize=75&txt=50%C3%9750&w=50&h=50" width="50" height="50" alt="item" title="item">
                        </a>
                    </figure>
                </div>
                <div class="col-inline-xs-11 middle">
                    <div class="search-item-title">
                        <a href="http://www.vis-design.com/">Название товара</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-item">
            <div class="row-inline">
                <div class="col-inline-xs-1 middle">
                    <figure>
                        <a href="http://www.vis-design.com/">
                            <img src="https://placeholdit.imgix.net/~text?txtsize=75&txt=50%C3%9750&w=50&h=50" width="50" height="50" alt="item" title="item">
                        </a>
                    </figure>
                </div>
                <div class="col-inline-xs-11 middle">
                    <div class="search-item-title">
                        <a href="http://www.vis-design.com/">Название товара</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-item">
            <div class="row-inline">
                <div class="col-inline-xs-1 middle">
                    <figure>
                        <a href="http://www.vis-design.com/">
                            <img src="https://placeholdit.imgix.net/~text?txtsize=75&txt=50%C3%9750&w=50&h=50" width="50" height="50" alt="item" title="item">
                        </a>
                    </figure>
                </div>
                <div class="col-inline-xs-11 middle">
                    <div class="search-item-title">
                        <a href="http://www.vis-design.com/">Название товара</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-item">
            <div class="row-inline">
                <div class="col-inline-xs-1 middle">
                    <figure>
                        <a href="http://www.vis-design.com/">
                            <img src="https://placeholdit.imgix.net/~text?txtsize=75&txt=50%C3%9750&w=50&h=50" width="50" height="50" alt="item" title="item">
                        </a>
                    </figure>
                </div>
                <div class="col-inline-xs-11 middle">
                    <div class="search-item-title">
                        <a href="http://www.vis-design.com/">Название товара</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-item">
            <div class="row-inline">
                <div class="col-inline-xs-1 middle">
                    <figure>
                        <a href="http://www.vis-design.com/">
                            <img src="https://placeholdit.imgix.net/~text?txtsize=75&txt=50%C3%9750&w=50&h=50" width="50" height="50" alt="item" title="item">
                        </a>
                    </figure>
                </div>
                <div class="col-inline-xs-11 middle">
                    <div class="search-item-title">
                        <a href="http://www.vis-design.com/">Название товара</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-item">
            <div class="row-inline">
                <div class="col-inline-xs-1 middle">
                    <figure>
                        <a href="http://www.vis-design.com/">
                            <img src="https://placeholdit.imgix.net/~text?txtsize=75&txt=50%C3%9750&w=50&h=50" width="50" height="50" alt="item" title="item">
                        </a>
                    </figure>
                </div>
                <div class="col-inline-xs-11 middle">
                    <div class="search-item-title">
                        <a href="http://www.vis-design.com/">Название товара</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-item">
            <div class="row-inline">
                <div class="col-inline-xs-1 middle">
                    <figure>
                        <a href="http://www.vis-design.com/">
                            <img src="https://placeholdit.imgix.net/~text?txtsize=75&txt=50%C3%9750&w=50&h=50" width="50" height="50" alt="item" title="item">
                        </a>
                    </figure>
                </div>
                <div class="col-inline-xs-11 middle">
                    <div class="search-item-title">
                        <a href="http://www.vis-design.com/">Название товара</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
