<section class="main-news-item">
    <figure style="background: url('images/admin/image-290-275.jpg');">
        <a href="javascript:;"></a>
    </figure>
    <header>
        <time datetime="2015-11-23">23.11.2015</time>
        <div class="main-news-item-title">
            <a href="javascript:;">Специалисты ХЛР провели практикум для лабораторий</a>
        </div>
    </header>
    <article>
        <p>«Химлаборреактив» принял участие во II школе-семинаре «Практические вопросы работы лабораторий пищевых предприятий», которая прошла 23-24 марта 2016 г. в Харькове.</p>
    </article>
    <footer>
        <div class="row-inline">
            <div class="col-inline-xs-6 middle">
                <a href="javascript:;" class="base-link">Подробнее</a>
            </div>
            <div class="col-inline-xs-6 middle">
                <ul class="events-item-icons">
                    <li>
                        <div class="events-item-image-icon"></div>
                    </li>
                    <li>
                        <div class="events-item-comment-icon">12</div>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</section>
