<ul class="pagination">
    <li class="first disabled"><a href="javascript:;" rel="prev">»</a></li>
    <li class="active"><span>1</span></li>
    <li><a href="javascript:;">2</a></li>
    <li><a href="javascript:;">3</a></li>
    <li><a href="javascript:;">4</a></li>
    <li><a href="javascript:;">5</a></li>
    <li><a href="javascript:;">6</a></li>
    <li><a href="javascript:;">7</a></li>
    <li><a href="javascript:;">8</a></li>
    <li><a href="javascript:;">9</a></li>
    <li class="last"><a href="javascript:;" rel="next">»</a></li>
</ul>
