<table class="table-component">
    <thead>
    <tr>
        <th>Продукт</th>
        <th>Кат. номер</th>
        <th>Использование</th>
        <th>Упаковка</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>OSTEOMOLL®</td>
        <td>101736</td>
        <td>Раствор для декальцинации костных и твердых тканей в гистологии</td>
        <td>2,5л.</td>
    </tr>
    <tr>
        <td>OSTEOMOLL®</td>
        <td>101728</td>
        <td>Раствор для декальцинации чувствительных кальцийсодержащих тканей в гистологии</td>
        <td>10л.</td>
    </tr>
    <tr>
        <td>OSTEOMOLL®</td>
        <td>101736</td>
        <td>Раствор для декальцинации костных и твердых тканей в гистологии</td>
        <td>2,5л.</td>
    </tr>
    <tr>
        <td>OSTEOMOLL®</td>
        <td>101728</td>
        <td>Раствор для декальцинации чувствительных кальцийсодержащих тканей в гистологии</td>
        <td>10л.</td>
    </tr>
    </tbody>
</table>