<div class="item-container">
    <div class="team-item-figure">
        <figure class="team-item" style="background-image: url('images/admin/team-1.jpg');">
            <a href="javascript:;"></a>
        </figure>
    </div>
    <h4 class="team-item-name">Ирина Попаденко</h4>
    <p class="team-item-position">Специалист по продукту</p>
    <p class="team-item-speciality">Специализация – лабораторная посуда</p>
    <a href="javascript:;" class="active-button" tabindex="0">Статьи автора</a>
</div>