<div class="video-container">
    <div class="container">
        <div class="video">
            <div class="video-wrap">
                <div class="play js-open-popup" data-popup="" data-target="#video"></div>
            </div>
            <div class="video-caption">
                <div class="row-inline">
                    <span class="video-title col-inline-xs-9 middle">Як звести до мінімуму випаровування</span>
                    <div class="video-counter col-inline-xs-3 middle">
                        <i class="ico-counter "></i>
                        <span class="num-count">99</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="video" class="popup-container" style="padding-right: 0px;">
    <div class="popup" style="margin-top: 234px;">
        <div class="popup-content">
            <video src="@@video-src" type="video/mp4" controls preload="metadata" loop></video>
        </div>
    </div>
</div>
