<!--section!-->
<section class="main-news-section bg-grey">
    <div class="container">
        <!--header!-->
        <div class="section-header">
            <div class="section-title">Новости</div>
            <div class="section-menu">
                <ul class="section-menu-list">
                    <li class="section-menu-child">
                        <div class="dropdown custom-dropdown">
                           <button type="button"data-dropdown class="dropdown-button"><span class="dropdown-button-title">Выберите отрасль</span></button>
                           <div class="dropdown-menu">
                                <ul class="dropdown-menu-list">
                                    <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">Химия и Строительство</button></li>
                                    <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">Медицина</button></li>
                                    <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">Фармацевтика</button></li>
                                    <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">Агро</button></li>
                                    <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">Госконтроль качества</button></li>
                                    <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">Пищевая промышленность</button></li>
                                    <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">Тяжелая промышленность</button></li>
                                    <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">ТЭК</button></li>
                                </ul>
                           </div>
                       </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--header!-->
        <!--body!-->
        <div class="section-body">
            <!--catalog!-->
            <div class="main-news-catalog">
                <!--row!-->
                <div class="row main-news-row">
                    <div class="col-xs-6">
                        <section class="main-news-item">
                            <figure style="background: url('images/admin/image-290-275.jpg');">
                                <a href="javascript:;"></a>
                            </figure>
                            <header>
                                <time datetime="2015-11-23">23.11.2015</time>
                                <div class="main-news-item-title">
                                    <a href="javascript:;">Специалисты ХЛР провели практикум для лабораторий</a>
                                </div>
                            </header>
                            <article>
                                <p>«Химлаборреактив» принял участие во II школе-семинаре «Практические вопросы работы лабораторий пищевых предприятий», которая прошла 23-24 марта 2016 г. в Харькове.</p>
                            </article>
                            <footer>
                                <div class="row-inline">
                                    <div class="col-inline-xs-6 middle">
                                        <a href="javascript:;" class="base-link">Подробнее</a>
                                    </div>
                                    <div class="col-inline-xs-6 middle">
                                        <ul class="events-item-icons">
                                            <li>
                                                <div class="events-item-image-icon"></div>
                                            </li>
                                            <li>
                                                <div class="events-item-comment-icon">12</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </footer>
                        </section>
                    </div>
                    <div class="col-xs-6">
                        <section class="main-news-item">
                            <figure style="background: url('images/admin/image-290-275.jpg');">
                                <a href="javascript:;"></a>
                            </figure>
                            <header>
                                <time datetime="2015-11-23">23.11.2015</time>
                                <div class="main-news-item-title">
                                    <a href="javascript:;">Специалисты ХЛР провели практикум для лабораторий</a>
                                </div>
                            </header>
                            <article>
                                <p>«Химлаборреактив» принял участие во II школе-семинаре «Практические вопросы работы лабораторий пищевых предприятий», которая прошла 23-24 марта 2016 г. в Харькове.</p>
                            </article>
                            <footer>
                                <div class="row-inline">
                                    <div class="col-inline-xs-6 middle">
                                        <a href="javascript:;" class="base-link">Подробнее</a>
                                    </div>
                                    <div class="col-inline-xs-6 middle">
                                        <ul class="events-item-icons">
                                            <li>
                                                <div class="events-item-image-icon"></div>
                                            </li>
                                            <li>
                                                <div class="events-item-comment-icon">12</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </footer>
                        </section>
                    </div>
                </div>
                <!--row!-->
                <!--row!-->
                <div class="row main-news-row">
                    <div class="col-xs-6">
                        <section class="main-news-item">
                            <figure style="background: url('images/admin/image-290-275.jpg');">
                                <a href="javascript:;"></a>
                            </figure>
                            <header>
                                <time datetime="2015-11-23">23.11.2015</time>
                                <div class="main-news-item-title">
                                    <a href="javascript:;">Специалисты ХЛР провели практикум для лабораторий</a>
                                </div>
                            </header>
                            <article>
                                <p>«Химлаборреактив» принял участие во II школе-семинаре «Практические вопросы работы лабораторий пищевых предприятий», которая прошла 23-24 марта 2016 г. в Харькове.</p>
                            </article>
                            <footer>
                                <div class="row-inline">
                                    <div class="col-inline-xs-6 middle">
                                        <a href="javascript:;" class="base-link">Подробнее</a>
                                    </div>
                                    <div class="col-inline-xs-6 middle">
                                        <ul class="events-item-icons">
                                            <li>
                                                <div class="events-item-image-icon"></div>
                                            </li>
                                            <li>
                                                <div class="events-item-comment-icon">12</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </footer>
                        </section>
                    </div>
                    <div class="col-xs-6">
                        <section class="main-news-item">
                            <figure style="background: url('images/admin/image-290-275.jpg');">
                                <a href="javascript:;"></a>
                            </figure>
                            <header>
                                <time datetime="2015-11-23">23.11.2015</time>
                                <div class="main-news-item-title">
                                    <a href="javascript:;">Специалисты ХЛР провели практикум для лабораторий</a>
                                </div>
                            </header>
                            <article>
                                <p>«Химлаборреактив» принял участие во II школе-семинаре «Практические вопросы работы лабораторий пищевых предприятий», которая прошла 23-24 марта 2016 г. в Харькове.</p>
                            </article>
                            <footer>
                                <div class="row-inline">
                                    <div class="col-inline-xs-6 middle">
                                        <a href="javascript:;" class="base-link">Подробнее</a>
                                    </div>
                                    <div class="col-inline-xs-6 middle">
                                        <ul class="events-item-icons">
                                            <li>
                                                <div class="events-item-image-icon"></div>
                                            </li>
                                            <li>
                                                <div class="events-item-comment-icon">12</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </footer>
                        </section>
                    </div>
                </div>
                <!--row!-->
            </div>
            <!--catalog!-->
        </div>
        <!--body!-->
    </div>
</section>
<!--section!-->
