<!--section!-->
<section class="main-blog-section">
    <div class="container">
        <!--header!-->
        <div class="section-header">
            <div class="section-title">Блог</div>
            <div class="section-menu">
                <ul class="section-menu-list">
                    <li class="section-menu-child">
                        <div class="dropdown custom-dropdown">
                           <button type="button"data-dropdown class="dropdown-button"><span class="dropdown-button-title">Выберите отрасль</span></button>
                           <div class="dropdown-menu">
                                <ul class="dropdown-menu-list">
                                    <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">Химия и Строительство</button></li>
                                    <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">Медицина</button></li>
                                    <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">Фармацевтика</button></li>
                                    <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">Агро</button></li>
                                    <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">Госконтроль качества</button></li>
                                    <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">Пищевая промышленность</button></li>
                                    <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">Тяжелая промышленность</button></li>
                                    <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">ТЭК</button></li>
                                </ul>
                           </div>
                       </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--header!-->
        <!--body!-->
        <div class="section-body">
            <!--body!-->
            <div class="section-body-carousel">
                <div data-show="3" data-scroll="2" class="js-carousel">
                    <div>
                        <section class="main-blog-item" style="background: url('images/admin/image-890-590.jpg');">
                            <div class="main-blog-item-inside">
                                <header>
                                    <time datetime="2015-11-23">23.11.2015</time>
                                    <div class="main-blog-item-title">
                                        Гематологический анализатор BC-3000 Plus по акционной цене
                                    </div>
                                </header>
                                <article>
                                    <p>В фармацевтическом производстве важную роль играют исследования контроля качества с помощью микроскопов, включая сами микроскопы, камеры для документирования и программное обеспечение для визуализации и анализа результатов. Статья о решениях Leica Microsystems для раздела "Аналитический контроль" журнала «Фармацевтическая отрасль», октябрь № 5 (52) 2015.</p>
                                </article>
                                <footer>
                                    <a href="javascript:;" class="main-blog-item-button">Подробнее</a>
                                </footer>
                            </div>
                        </section>
                    </div>
                    <div>
                        <section class="main-blog-item" style="background: url('images/admin/image-890-590.jpg');">
                            <div class="main-blog-item-inside">
                                <header>
                                    <time datetime="2015-11-23">23.11.2015</time>
                                    <div class="main-blog-item-title">
                                        Гематологический анализатор BC-3000 Plus по акционной цене
                                    </div>
                                </header>
                                <article>
                                    <p>В фармацевтическом производстве важную роль играют исследования контроля качества с помощью микроскопов, включая сами микроскопы, камеры для документирования и программное обеспечение для визуализации и анализа результатов. Статья о решениях Leica Microsystems для раздела "Аналитический контроль" журнала «Фармацевтическая отрасль», октябрь № 5 (52) 2015.</p>
                                </article>
                                <footer>
                                    <a href="javascript:;" class="main-blog-item-button">Подробнее</a>
                                </footer>
                            </div>
                        </section>
                    </div>
                    <div>
                        <section class="main-blog-item" style="background: url('images/admin/image-890-590.jpg');">
                            <div class="main-blog-item-inside">
                                <header>
                                    <time datetime="2015-11-23">23.11.2015</time>
                                    <div class="main-blog-item-title">
                                        Гематологический анализатор BC-3000 Plus по акционной цене
                                    </div>
                                </header>
                                <article>
                                    <p>В фармацевтическом производстве важную роль играют исследования контроля качества с помощью микроскопов, включая сами микроскопы, камеры для документирования и программное обеспечение для визуализации и анализа результатов. Статья о решениях Leica Microsystems для раздела "Аналитический контроль" журнала «Фармацевтическая отрасль», октябрь № 5 (52) 2015.</p>
                                </article>
                                <footer>
                                    <a href="javascript:;" class="main-blog-item-button">Подробнее</a>
                                </footer>
                            </div>
                        </section>
                    </div>
                    <div>
                        <section class="main-blog-item" style="background: url('images/admin/image-890-590.jpg');">
                            <div class="main-blog-item-inside">
                                <header>
                                    <time datetime="2015-11-23">23.11.2015</time>
                                    <div class="main-blog-item-title">
                                        Гематологический анализатор BC-3000 Plus по акционной цене
                                    </div>
                                </header>
                                <article>
                                    <p>В фармацевтическом производстве важную роль играют исследования контроля качества с помощью микроскопов, включая сами микроскопы, камеры для документирования и программное обеспечение для визуализации и анализа результатов. Статья о решениях Leica Microsystems для раздела "Аналитический контроль" журнала «Фармацевтическая отрасль», октябрь № 5 (52) 2015.</p>
                                </article>
                                <footer>
                                    <a href="javascript:;" class="main-blog-item-button">Подробнее</a>
                                </footer>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <!--body!-->
        </div>
        <!--body!-->
    </div>
</section>
<!--section!-->
