<!--section!-->
<section class="main-slider-section">
    <div class="container">
        <div class="main-slider-wrapper">
            <div id="js-main-slider" class="main-slider">
                <div>
                    <a href="javascript:;">
                        <section class="main-slider-item" style="background: url('images/admin/main-slide-1.jpg');">
                            <article>
                                <div class="main-slider-title">Специализированные решения<br> для сельского хозяйства 1:
                                </div>
                                <p>анализ воды и грунта, анализ сырья и готовой продукции.</p>
                                <div class="main-slider-subtitle">Понимаем ваши задачи!</div>
                            </article>
                        </section>
                    </a>
                </div>
                <div>
                    <a href="javascript:;">
                        <section class="main-slider-item" style="background: url('images/admin/main-slide-1.jpg');">
                            <article>
                                <div class="main-slider-title">Специализированные решения<br> для сельского хозяйства 2:
                                </div>
                                <p>анализ воды и грунта, анализ сырья и готовой продукции.</p>
                                <div class="main-slider-subtitle">Понимаем ваши задачи!</div>
                            </article>
                        </section>
                    </a>
                </div>
                <div>
                    <a href="javascript:;">
                        <section class="main-slider-item" style="background: url('images/admin/main-slide-1.jpg');">
                            <article>
                                <div class="main-slider-title">Специализированные решения<br> для сельского хозяйства 3:
                                </div>
                                <p>анализ воды и грунта, анализ сырья и готовой продукции.</p>
                                <div class="main-slider-subtitle">Понимаем ваши задачи!</div>
                            </article>
                        </section>
                    </a>
                </div>
                <div>
                    <a href="javascript:;">
                        <section class="main-slider-item" style="background: url('images/admin/main-slide-1.jpg');">
                            <article>
                                <div class="main-slider-title">Специализированные решения<br> для сельского хозяйства 4:
                                </div>
                                <p>анализ воды и грунта, анализ сырья и готовой продукции.</p>
                                <div class="main-slider-subtitle">Понимаем ваши задачи!</div>
                            </article>
                        </section>
                    </a>
                </div>
                <div>
                    <a href="javascript:;">
                        <section class="main-slider-item" style="background: url('images/admin/main-slide-1.jpg');">
                            <article>
                                <div class="main-slider-title">Специализированные решения<br> для сельского хозяйства 5:
                                </div>
                                <p>анализ воды и грунта, анализ сырья и готовой продукции.</p>
                                <div class="main-slider-subtitle">Понимаем ваши задачи!</div>
                            </article>
                        </section>
                    </a>
                </div>
                <div>
                    <a href="javascript:;">
                        <section class="main-slider-item" style="background: url('images/admin/main-slide-1.jpg');">
                            <article>
                                <div class="main-slider-title">Специализированные решения<br> для сельского хозяйства 6:
                                </div>
                                <p>анализ воды и грунта, анализ сырья и готовой продукции.</p>
                                <div class="main-slider-subtitle">Понимаем ваши задачи!</div>
                            </article>
                        </section>
                    </a>
                </div>
                <div>
                    <a href="javascript:;">
                        <section class="main-slider-item" style="background: url('images/admin/main-slide-1.jpg');">
                            <article>
                                <div class="main-slider-title">Специализированные решения<br> для сельского хозяйства 7:
                                </div>
                                <p>анализ воды и грунта, анализ сырья и готовой продукции.</p>
                                <div class="main-slider-subtitle">Понимаем ваши задачи!</div>
                            </article>
                        </section>
                    </a>
                </div>
                <div>
                    <a href="javascript:;">
                        <section class="main-slider-item" style="background: url('images/admin/main-slide-1.jpg');">
                            <article>
                                <div class="main-slider-title">Специализированные решения<br> для сельского хозяйства 8:
                                </div>
                                <p>анализ воды и грунта, анализ сырья и готовой продукции.</p>
                                <div class="main-slider-subtitle">Понимаем ваши задачи!</div>
                            </article>
                        </section>
                    </a>
                </div>
            </div>
            <div class="main-slider-dots">
                <ul class="slider-dots-list">
                    <li class="slider-dots-child">
                        <div class="slider-dots-item">
                            <div class="slider-dots-icon slider-navigate-ico-1"></div>
                            <div class="slider-dots-title"><span class="slider-dots-text">Химия и Строительство</span>
                            </div>
                        </div>
                    </li>
                    <li class="slider-dots-child">
                        <div class="slider-dots-item">
                            <div class="slider-dots-icon slider-navigate-ico-2"></div>
                            <div class="slider-dots-title"><span class="slider-dots-text">Медицина</span></div>
                        </div>
                    </li>
                    <li class="slider-dots-child">
                        <div class="slider-dots-item">
                            <div class="slider-dots-icon slider-navigate-ico-3"></div>
                            <div class="slider-dots-title"><span class="slider-dots-text">Фармацевтика</span></div>
                        </div>
                    </li>
                    <li class="slider-dots-child">
                        <div class="slider-dots-item">
                            <div class="slider-dots-icon slider-navigate-ico-4"></div>
                            <div class="slider-dots-title"><span class="slider-dots-text">Агро</span></div>
                        </div>
                    </li>
                    <li class="slider-dots-child">
                        <div class="slider-dots-item">
                            <div class="slider-dots-icon slider-navigate-ico-5"></div>
                            <div class="slider-dots-title"><span class="slider-dots-text">Госконтроль качества</span>
                            </div>
                        </div>
                    </li>
                    <li class="slider-dots-child">
                        <div class="slider-dots-item">
                            <div class="slider-dots-icon slider-navigate-ico-6"></div>
                            <div class="slider-dots-title"><span class="slider-dots-text">Пищевая промышленность</span>
                            </div>
                        </div>
                    </li>
                    <li class="slider-dots-child">
                        <div class="slider-dots-item">
                            <div class="slider-dots-icon slider-navigate-ico-7"></div>
                            <div class="slider-dots-title"><span class="slider-dots-text">ГМК и машиностроение</span>
                            </div>
                        </div>
                    </li>
                    <li class="slider-dots-child">
                        <div class="slider-dots-item">
                            <div class="slider-dots-icon slider-navigate-ico-8"></div>
                            <div class="slider-dots-title"><span class="slider-dots-text">ТЭК</span></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--section!-->
