<!--section!-->
<section class="main-events-section">
    <div class="container">
        <!--header!-->
        <div class="section-header">
            <h1 class="section-title">
                <span>МЕРОПРИЯТИЯ</span>
            </h1>
            <div class="section-menu">
                <ul class="section-menu-list">
                    <li class="section-menu-child"><a class="section-menu-link" href="javascript:;">Календарь  мероприятий</a></li>
                    <li class="section-menu-child">
                        <div class="dropdown custom-dropdown">
                           <button type="button"data-dropdown class="dropdown-button"><span class="dropdown-button-title">Выберите отрасль</span></button>
                           <div class="dropdown-menu">
                                <ul class="dropdown-menu-list">
                                    <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">Химия и Строительство</button></li>
                                    <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">Медицина</button></li>
                                    <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">Фармацевтика</button></li>
                                    <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">Агро</button></li>
                                    <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">Госконтроль качества</button></li>
                                    <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">Пищевая промышленность</button></li>
                                    <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">Тяжелая промышленность</button></li>
                                    <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">ТЭК</button></li>
                                </ul>
                           </div>
                       </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--header!-->
        <!--body!-->
        <div class="section-body-carousel">
            <div data-show="3" data-scroll="2" class="js-carousel">
                <div>
                    <section class="events-item">
                        <header>
                            <figure class="events-item-image" style="background: url(images/admin/image-435-290.jpg);">
                                <a href="javascript:;"></a>
                            </figure>
                            <div class="row-inline events-item-row">
                                <div class="col-inline-xs-6 middle">
                                    <time datetime="2015-11-23">23.11.2015</time>
                                </div>
                                <div class="col-inline-xs-6 middle">
                                    <ul class="events-item-icons">
                                        <li>
                                            <div class="events-item-image-icon"></div>
                                        </li>
                                        <li>
                                            <div class="events-item-comment-icon">12</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="events-item-title">Контроль качества от Leica</div>
                        </header>
                        <article>
                            <p>В фармацевтическом производстве важную роль играют исследования контроля качества с помощью микроскопов, включая сами микроскопы, камеры для документирования и</p>
                        </article>
                        <footer>
                            <a href="javascript:;" class="active-button">Подробнее</a>
                        </footer>
                    </section>
                </div>
                <div>
                    <section class="events-item">
                        <header>
                            <figure class="events-item-image" style="background: url(images/admin/image-435-290.jpg);">
                                <a href="javascript:;"></a>
                            </figure>
                            <div class="row-inline events-item-row">
                                <div class="col-inline-xs-6 middle">
                                    <time datetime="2015-11-23">23.11.2015</time>
                                </div>
                                <div class="col-inline-xs-6 middle">
                                    <ul class="events-item-icons">
                                        <li>
                                            <div class="events-item-image-icon"></div>
                                        </li>
                                        <li>
                                            <div class="events-item-comment-icon">12</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="events-item-title">Контроль качества от Leica</div>
                        </header>
                        <article>
                            <p>В фармацевтическом производстве важную роль играют исследования контроля качества с помощью микроскопов, включая сами микроскопы, камеры для документирования и</p>
                        </article>
                        <footer>
                            <a href="javascript:;" class="active-button">Подробнее</a>
                        </footer>
                    </section>
                </div>
                <div>
                    <section class="events-item">
                        <header>
                            <figure class="events-item-image" style="background: url(images/admin/image-435-290.jpg);">
                                <a href="javascript:;"></a>
                            </figure>
                            <div class="row-inline events-item-row">
                                <div class="col-inline-xs-6 middle">
                                    <time datetime="2015-11-23">23.11.2015</time>
                                </div>
                                <div class="col-inline-xs-6 middle">
                                    <ul class="events-item-icons">
                                        <li>
                                            <div class="events-item-image-icon"></div>
                                        </li>
                                        <li>
                                            <div class="events-item-comment-icon">12</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="events-item-title">Контроль качества от Leica</div>
                        </header>
                        <article>
                            <p>В фармацевтическом производстве важную роль играют исследования контроля качества с помощью микроскопов, включая сами микроскопы, камеры для документирования и</p>
                        </article>
                        <footer>
                            <a href="javascript:;" class="active-button">Подробнее</a>
                        </footer>
                    </section>
                </div>
                <div>
                    <section class="events-item">
                        <header>
                            <figure class="events-item-image" style="background: url(images/admin/image-435-290.jpg);">
                                <a href="javascript:;"></a>
                            </figure>
                            <div class="row-inline events-item-row">
                                <div class="col-inline-xs-6 middle">
                                    <time datetime="2015-11-23">23.11.2015</time>
                                </div>
                                <div class="col-inline-xs-6 middle">
                                    <ul class="events-item-icons">
                                        <li>
                                            <div class="events-item-image-icon"></div>
                                        </li>
                                        <li>
                                            <div class="events-item-comment-icon">12</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="events-item-title">Контроль качества от Leica</div>
                        </header>
                        <article>
                            <p>В фармацевтическом производстве важную роль играют исследования контроля качества с помощью микроскопов, включая сами микроскопы, камеры для документирования и</p>
                        </article>
                        <footer>
                            <a href="javascript:;" class="active-button">Подробнее</a>
                        </footer>
                    </section>
                </div>
            </div>
            <ul class="events-arrows buttons-carousel navigate-arrows">
                <li class="first js-carousel-prev"><a href="javascript:;" rel="prev">»</a></li>
                <li class="last js-carousel-next"><a href="javascript:;" rel="next">»</a></li>
            </ul>
        </div>
        <!--body!-->
    </div>
</section>
<!--section!-->
