<!--section!-->
<section class="main-news-section bg-grey">
    <div class="container">
        <!--header!-->
        <div class="section-header">
            <div class="section-title">Новости</div>
            <div class="section-menu">
                <ul class="section-menu-list">
                    <li class="section-menu-child">
                        <div class="dropdown custom-dropdown">
                           <button type="button"data-dropdown class="dropdown-button"><span class="dropdown-button-title">Выберите отрасль</span></button>
                           <div class="dropdown-menu">
                                <ul class="dropdown-menu-list">
                                    <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">Химия и Строительство</button></li>
                                    <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">Медицина</button></li>
                                    <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">Фармацевтика</button></li>
                                    <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">Агро</button></li>
                                    <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">Госконтроль качества</button></li>
                                    <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">Пищевая промышленность</button></li>
                                    <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">Тяжелая промышленность</button></li>
                                    <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">ТЭК</button></li>
                                </ul>
                           </div>
                       </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--header!-->
        <!--body!-->
        <div class="section-body">
            <!--catalog!-->
            <div class="main-news-catalog">
                <!--row!-->
                <div class="row main-news-row">
                    <div class="col-xs-6 main-news-col">
                        @@include('templates/partials/main-news-item.html')
                    </div>
                    <div class="col-xs-6 main-news-col">
                        @@include('templates/partials/main-news-item.html')
                    </div>
                </div>
                <!--row!-->
                <!--row!-->
                <div class="row main-news-row">
                    <div class="col-xs-6 main-news-col">
                        @@include('templates/partials/main-news-item.html')
                    </div>
                    <div class="col-xs-6 main-news-col">
                        @@include('templates/partials/main-news-item.html')
                    </div>
                </div>
                <!--row!-->
            </div>
            <!--catalog!-->
        </div>
        <!--body!-->
    </div>
</section>
<!--section!-->
