@@include('templates/partials/head.html')

@@include('templates/partials/header.html', {
"link" : "product.html"
})

<!--main!-->
<main>
    <div class="page article-page">
        @@include('templates/partials/breadcrumbs.html', {
        "links" : {
        "main" : "Главная",
        "current" : "Готовые декальцинирующие растворы от Merck"
        }
        })

        <div class="container">
            <article class="article">
                <h1 class="section-title">
                    <span>Готовые декальцинирующие растворы от Merck</span>
                </h1>
                <table style="width: 93%; margin: 4.5% auto 2% auto">
                    <tr>
                        <td>
                            <img style="float: right;" src="images/admin/merck.jpg" alt="">
                            <p>
                                У нас Вы можете приобрести готовые к использованию растворы для декальцинации от
                                компании Merck.
                            </p>
                            <p>
                                Эти продукты специально разработаны для диагностики клеток человеческого происхождения и
                                используются для деминерализации:
                            </p>
                            <ul>
                                <li>Костей;</li>
                                <li>Образцов костного мозга;</li>
                                <li> Кератинизированных тканей;</li>
                                <li>Других твердых тканей.</li>
                            </ul>
                            <p>
                                Социальная ответственность означает способность организации или предприятия оценить
                                последствия
                                своей деятельности для устойчивого социального развития общества. Социальная
                                ответственность —
                                широкое понятие, охватывающее и такие проблемы, как экология, социальная справедливость,
                                равноправие. Организации обязаны проявлять ответственность в трех областях — финансы,
                                влияние их
                                деятельности на общество и окружающую среду, воздействие на экологию. Это относится не
                                только к
                                бизнесу, но и к правительственным, общественным и добровольческим организациям
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 4.5%;">
                            <h2 style="font-family: 'Geometria'; font-weight: bold;">Для рутинной декальцинации -
                                OSTEOMOLL®.</h2>
                            <p>
                                Для рутинной декальцинации костей и твердых материалов подойдет OSTEOMOLL®. Он обладает
                                аналогичным с неорганическими кислотами действием и легко удаляется промыванием.
                            </p>
                            <p>
                                Ознакомьтесь с инструкцией по применению быстрого декальцинирующего раствора для
                                гистологии OSTEOMOLL®.
                            </p>
                            <h2 style="font-family: 'Geometria'; font-weight: bold; margin-top: 42px;">Для декальцинации
                                чувствительных кальцийсодержащих тканей - OSTEOSOFT®.</h2>
                            <p>Для декальцинации чувствительных кальцийсодержащих тканей Merck рекомендует OSTEOSOFT®.
                                Принцип его
                                действия исключает возможность повреждения антигенной структуры тканей: он содержит
                                комплекс- или
                                хелатобразующие агенты, которые связывают ионы кальция. При этом антигенная структура
                                сохраняется,
                                что позволяет в дальнейшем проводить иммунологические процедуры.
                            </p>
                            <p>
                                Детальную инструкцию по применению мягкого декальцинирующего раствора для гистологии
                                OSTEOSOFT® Вы
                                можете найти здесь.
                            </p>
                            <span style="font-family: 'GeometriaBold'; margin-top: 5%; display: block;">Позвоните, чтобы заказать необходимый Вам раствор в нужной упаковке:</span>
                        </td>
                    </tr>
                </table>

                @@include('templates/partials/table.html')

                <table style="width:100%;">
                    <tr>
                        <td style="font-size: 0; text-align: center; text-align: center; display: block;">
                            <img style="display: inline-block; border-bottom: 5px solid yellow; margin-right: 1.5%;"
                                 src="images/admin/lab-1.jpg" alt="">
                            <img style="display: inline-block; border-bottom: 5px solid yellow; margin-right: 1.5%;"
                                 src="images/admin/lab-2.jpg" alt="">
                            <img style="display: inline-block; border-bottom: 5px solid yellow; "
                                 src="images/admin/lab-3.jpg" alt="">
                        </td>
                    </tr>
                </table>
                <table style="width: 93%; margin: 0 auto;">
                    <tr>
                        <td>
                            <p>Социальная ответственность означает способность организации или предприятия оценить
                                последствия своей
                                деятельности для устойчивого социального развития общества. Социальная ответственность —
                                широкое
                                понятие, охватывающее и такие проблемы, как экология, социальная справедливость,
                                равноправие.
                                Организации обязаны проявлять ответственность в трех областях — финансы, влияние их
                                деятельности на
                                общество и окружающую среду, воздействие на экологию. Это относится не только к бизнесу,
                                но и к
                                правительственным, общественным и добровольческим организациям </p>
                            @@include('templates/partials/video-big.html', {
                            "video-src" : "video/v.mp4"
                            })
                            <p>
                                Социальная ответственность означает способность организации или предприятия оценить
                                последствия
                                своей деятельности для устойчивого социального развития общества. Социальная
                                ответственность —
                                широкое понятие, охватывающее и такие проблемы, как экология, социальная справедливость,
                                равноправие. Организации обязаны проявлять ответственность в трех областях — финансы,
                                влияние их
                                деятельности на общество и окружающую среду, воздействие на экологию. Это относится не
                                только к
                                бизнесу, но и к правительственным, общественным и добровольческим организациям
                            </p>
                        </td>
                    </tr>
                </table>
            </article>
            </div>
            <section class="social-bar">
                <div class="container">
                <div class="social-bar-inside">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="evaluate">
                        <span class="evaluate-title">
                            Оцените, пожалуйста, полезность материала для Вас
                        </span>
                                <button class="useful-button useful-true" tabindex="0">
                            <span>
                                   Полезно
                            </span>
                                    <span class="useful-count-yes">12</span>
                                    <i class="people-ico"></i>
                                </button>
                                <button class="useful-button useful-no" tabindex="0">
                            <span>
                                 Не полезно
                            </span>
                                    <span class="useful-count-no">0</span>
                                    <i class="people-ico"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="share-links">
                            <span class="share-title">
                                Поделитесь статьей с коллегами
                            </span>
                                <ul>
                                    <li>
                                        <a href="javascript:;" class="share-social-button share-fb-wrap">
                                            <i class="share-social-icon fb-share-ico"></i>
                                            <span class="fb-share-count">15</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="share-social-button share-tw-wrap">
                                            <i class="share-social-icon tw-share-ico"></i>
                                            <span class="tw-share-count">15</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="share-social-button share-vk-wrap">
                                            <i class="share-social-icon vk-share-ico"></i>
                                            <span class="vk-share-count">15</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </section>
            <section class="article-comments">
                <div class="container">
                    <div class="comments-container">
                        <h2>Комментарии:</h2>
                        <div class="comment-item">
                            <p>Таким образом укрепление и развитие структуры позволяет выполнять важные задания по
                                разработке
                                дальнейших направлений развития. Задача организации, в особенности же дальнейшее развитие
                                различных
                                форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании форм
                                развития. </p>
                            <div class="footer-comment">
                                <div class="row-inline">
                                    <div class="col-inline-6 middle">
                                        <div class="comment-name">Василий</div>
                                    </div>
                                    <div class="col-inline-6 middle">
                                        <div class="time">
                                            <time>28.06.2016</time>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-item">
                            <p> С другой стороны новая модель организационной деятельности влечет за собой процесс внедрения
                                и
                                модернизации систем массового участия. Равным образом начало повседневной работы по
                                формированию
                                позиции обеспечивает широкому кругу (специалистов) участие в формировании системы обучения
                                кадров. </p>
                            <div class="footer-comment">
                                <div class="row-inline">
                                    <div class="col-inline-6 middle">
                                        <div class="comment-name">Артем</div>
                                    </div>
                                    <div class="col-inline-6 middle">
                                        <div class="time">
                                            <time>28.06.2016</time>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="add-coment">
                <div class="container">
                    <h2>Добавить комментарии: </h2>
                    <div class="comment-form-container">
                        <form name="comment-form" novalidate="novalidate">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-row">
                                        <input type="text" name="name" placeholder="Ваше Имя">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-row">
                                        <input type="email" name="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="textarea-row">
                                        <textarea name="comment" id="comment" placeholder="Ваш коментарий"></textarea>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="add-comment-button">
                                        <button type="submit" class="submit-button">Отправить</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            <section class="also-interest">
                <div class="container">
                    <h1 class="section-title" style="margin-bottom: 50px">
                        <span>Вас также может заинтересовать</span>
                    </h1>
                    <section class="main-blog-section">
                        <div class="container">
                            <div class="section-body">
                                <div class="section-body-carousel">
                                    <div data-show="3" data-scroll="2" class="js-carousel">
                                        <div>
                                            <section class="main-blog-item"
                                                     style="background: url('images/admin/blog-img-1.png');">
                                                <div class="main-blog-item-inside">
                                                    <header>
                                                        <time datetime="2015-11-23">23.11.2015</time>
                                                        <div class="main-blog-item-title">
                                                            Гематологический анализатор BC-3000 Plus по акционной цене
                                                        </div>
                                                    </header>
                                                    <article>
                                                        <p>В фармацевтическом производстве важную роль играют исследования
                                                            контроля качества с помощью микроскопов, включая сами
                                                            микроскопы, камеры для документирования и программное
                                                            обеспечение для визуализации и анализа результатов. Статья о
                                                            решениях Leica Microsystems для раздела "Аналитический контроль"
                                                            журнала «Фармацевтическая отрасль», октябрь № 5 (52) 2015.</p>
                                                    </article>
                                                    <footer>
                                                        <a href="javascript:;" class="main-blog-item-button">Подробнее</a>
                                                    </footer>
                                                </div>
                                            </section>
                                        </div>
                                        <div>
                                            <section class="main-blog-item"
                                                     style="background: url('images/admin/blog-img-2.png">
                                                <div class="main-blog-item-inside">
                                                    <header>
                                                        <time datetime="2015-11-23">23.11.2015</time>
                                                        <div class="main-blog-item-title">
                                                            Гематологический анализатор BC-3000 Plus по акционной цене
                                                        </div>
                                                    </header>
                                                    <article>
                                                        <p>В фармацевтическом производстве важную роль играют исследования
                                                            контроля качества с помощью микроскопов, включая сами
                                                            микроскопы, камеры для документирования и программное
                                                            обеспечение для визуализации и анализа результатов. Статья о
                                                            решениях Leica Microsystems для раздела "Аналитический контроль"
                                                            журнала «Фармацевтическая отрасль», октябрь № 5 (52) 2015.</p>
                                                    </article>
                                                    <footer>
                                                        <a href="javascript:;" class="main-blog-item-button">Подробнее</a>
                                                    </footer>
                                                </div>
                                            </section>
                                        </div>
                                        <div>
                                            <section class="main-blog-item"
                                                     style="background: url('images/admin/blog-img-3.png');">
                                                <div class="main-blog-item-inside">
                                                    <header>
                                                        <time datetime="2015-11-23">23.11.2015</time>
                                                        <div class="main-blog-item-title">
                                                            Гематологический анализатор BC-3000 Plus по акционной цене
                                                        </div>
                                                    </header>
                                                    <article>
                                                        <p>В фармацевтическом производстве важную роль играют исследования
                                                            контроля качества с помощью микроскопов, включая сами
                                                            микроскопы, камеры для документирования и программное
                                                            обеспечение для визуализации и анализа результатов. Статья о
                                                            решениях Leica Microsystems для раздела "Аналитический контроль"
                                                            журнала «Фармацевтическая отрасль», октябрь № 5 (52) 2015.</p>
                                                    </article>
                                                    <footer>
                                                        <a href="javascript:;" class="main-blog-item-button">Подробнее</a>
                                                    </footer>
                                                </div>
                                            </section>
                                        </div>
                                        <div>
                                            <section class="main-blog-item"
                                                     style="background: url('images/admin/blog-img-2.png');">
                                                <div class="main-blog-item-inside">
                                                    <header>
                                                        <time datetime="2015-11-23">23.11.2015</time>
                                                        <div class="main-blog-item-title">
                                                            Гематологический анализатор BC-3000 Plus по акционной цене
                                                        </div>
                                                    </header>
                                                    <article>
                                                        <p>В фармацевтическом производстве важную роль играют исследования
                                                            контроля качества с помощью микроскопов, включая сами
                                                            микроскопы, камеры для документирования и программное
                                                            обеспечение для визуализации и анализа результатов. Статья о
                                                            решениях Leica Microsystems для раздела "Аналитический контроль"
                                                            журнала «Фармацевтическая отрасль», октябрь № 5 (52) 2015.</p>
                                                    </article>
                                                    <footer>
                                                        <a href="javascript:;" class="main-blog-item-button">Подробнее</a>
                                                    </footer>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                    <div class="js-carousel-arrow">
                                        <ul class="buttons-carousel navigate-arrows">
                                            <li class="first js-carousel-prev"><a href="javascript:;" rel="prev">»</a></li>
                                            <li class="last js-carousel-next"><a href="javascript:;" rel="next">»</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
            <section class="delivery-section bg-grey">
                <div class="container">
                    <!--header!-->
                    <div class="section-header">
                        <div class="section-title no-float">Подписаться на рассылку</div>
                    </div>
                    <!--header!-->
                    <!--body!-->
                    <div class="section-body">
                        <!--form!-->
                        <div class="delivery-form-wrapper">
                            <div class="delivery-form-header">
                                <div class="delivery-form-description">
                                    <p>Удобный способ узнавать вовремя о новых решениях для отраслевых лабораторий,
                                        акционных<br> предложениях и обучающих семинарах. Более 7 000 специалистов
                                        лабораторий уже читают.</p>
                                </div>
                                <div class="delivery-form-subdescription">
                                    <a href="javascript:;" class="delivery-form-link">Узнать больше о рассылке и
                                        посмотреть примеры</a>
                                </div>
                            </div>
                            <div class="delivery-form-body">
                                <form name="delivery-form" novalidate="novalidate">
                                    <div class="delivery-form-content">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="form-row">
                                                    <input type="text" name="name" placeholder="Ваше Имя">
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-row">
                                                    <input type="email" name="email" placeholder="Email">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="delivery-form-submit">
                                            <button type="submit" class="submit-button">Подписаться</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!--form!-->
                    </div>
                    <!--body!-->
                </div>
            </section>
        </div>
</main>
<!--main!-->

@@include('templates/partials/footer.html')

</body>
</html>