@@include('templates/partials/head.html')

@@include('templates/partials/header.html', {
"link" : "reviews.html"
})

<!--main!-->
<main>
    <div class="page brands-page">
        @@include('templates/partials/breadcrumbs.html', {
        "links" : {
        "main" : "Главная",
        "current" : "Бренды"
        }
        })

        <div class="section-header">
            <h1 class="section-title">
                <span>Бренды</span>
            </h1>
            <div class="section-menu brands-menu">
                <div class="header-search">
                    <form>
                        <input type="text" name="q" placeholder="Поиск..." autocomplete="off">
                        <button type="submit" value=""></button>
                    </form>
                    <div class="live-search">
                        <div class="live-search-container">
                            <div class="search-item">
                                <div class="row-inline">
                                    <div class="col-inline-xs-1 middle">
                                        <figure>
                                            <a href="http://www.vis-design.com/">
                                                <img src="https://placeholdit.imgix.net/~text?txtsize=75&amp;txt=50%C3%9750&amp;w=50&amp;h=50" width="50" height="50" alt="item" title="item">
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="col-inline-xs-11 middle">
                                        <div class="search-item-title">
                                            <a href="http://www.vis-design.com/">Название товара</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="search-item">
                                <div class="row-inline">
                                    <div class="col-inline-xs-1 middle">
                                        <figure>
                                            <a href="http://www.vis-design.com/">
                                                <img src="https://placeholdit.imgix.net/~text?txtsize=75&amp;txt=50%C3%9750&amp;w=50&amp;h=50" width="50" height="50" alt="item" title="item">
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="col-inline-xs-11 middle">
                                        <div class="search-item-title">
                                            <a href="http://www.vis-design.com/">Название товара</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="search-item">
                                <div class="row-inline">
                                    <div class="col-inline-xs-1 middle">
                                        <figure>
                                            <a href="http://www.vis-design.com/">
                                                <img src="https://placeholdit.imgix.net/~text?txtsize=75&amp;txt=50%C3%9750&amp;w=50&amp;h=50" width="50" height="50" alt="item" title="item">
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="col-inline-xs-11 middle">
                                        <div class="search-item-title">
                                            <a href="http://www.vis-design.com/">Название товара</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="search-item">
                                <div class="row-inline">
                                    <div class="col-inline-xs-1 middle">
                                        <figure>
                                            <a href="http://www.vis-design.com/">
                                                <img src="https://placeholdit.imgix.net/~text?txtsize=75&amp;txt=50%C3%9750&amp;w=50&amp;h=50" width="50" height="50" alt="item" title="item">
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="col-inline-xs-11 middle">
                                        <div class="search-item-title">
                                            <a href="http://www.vis-design.com/">Название товара</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="search-item">
                                <div class="row-inline">
                                    <div class="col-inline-xs-1 middle">
                                        <figure>
                                            <a href="http://www.vis-design.com/">
                                                <img src="https://placeholdit.imgix.net/~text?txtsize=75&amp;txt=50%C3%9750&amp;w=50&amp;h=50" width="50" height="50" alt="item" title="item">
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="col-inline-xs-11 middle">
                                        <div class="search-item-title">
                                            <a href="http://www.vis-design.com/">Название товара</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="search-item">
                                <div class="row-inline">
                                    <div class="col-inline-xs-1 middle">
                                        <figure>
                                            <a href="http://www.vis-design.com/">
                                                <img src="https://placeholdit.imgix.net/~text?txtsize=75&amp;txt=50%C3%9750&amp;w=50&amp;h=50" width="50" height="50" alt="item" title="item">
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="col-inline-xs-11 middle">
                                        <div class="search-item-title">
                                            <a href="http://www.vis-design.com/">Название товара</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="search-item">
                                <div class="row-inline">
                                    <div class="col-inline-xs-1 middle">
                                        <figure>
                                            <a href="http://www.vis-design.com/">
                                                <img src="https://placeholdit.imgix.net/~text?txtsize=75&amp;txt=50%C3%9750&amp;w=50&amp;h=50" width="50" height="50" alt="item" title="item">
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="col-inline-xs-11 middle">
                                        <div class="search-item-title">
                                            <a href="http://www.vis-design.com/">Название товара</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="search-item">
                                <div class="row-inline">
                                    <div class="col-inline-xs-1 middle">
                                        <figure>
                                            <a href="http://www.vis-design.com/">
                                                <img src="https://placeholdit.imgix.net/~text?txtsize=75&amp;txt=50%C3%9750&amp;w=50&amp;h=50" width="50" height="50" alt="item" title="item">
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="col-inline-xs-11 middle">
                                        <div class="search-item-title">
                                            <a href="http://www.vis-design.com/">Название товара</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <ul class="section-menu-list">
                    <li class="section-menu-child">
                        <div class="dropdown custom-dropdown">
                            <button type="button" data-dropdown="" class="dropdown-button"><span class="dropdown-button-title">Все бренды</span></button>
                            <div class="dropdown-menu">
                                <ul class="dropdown-menu-list">
                                    <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">Химия и Строительство</button></li>
                                    <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">Медицина</button></li>
                                    <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">Фармацевтика</button></li>
                                    <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">Агро</button></li>
                                    <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">Госконтроль качества</button></li>
                                    <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">Пищевая промышленность</button></li>
                                    <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">Тяжелая промышленность</button></li>
                                    <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">ТЭК</button></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="container">
            <section class="doc-text">
                <div class="page-header-text">
                <p>Специализацией компании "ХИМЛАБОРРЕАКТИВ" является комплексное оснащение лабораторий. Если Вашему
                    предприятию необходимо купить лабораторное оборудование или купить медицинское оборудование,
                    лабораторную посуду, а также реактивы – смело обращайтесь в наш интернет-магазин.
                </p>
                </div>
            </section>
        </div>
        <section class="brands">
            <div class="container custom-container">
                <div class="row-inline">
                    <div class="col-inline-md-6 col-inline-sm-6 col-inline-xs-12">
                        <div class="brand-item">
                            <div class="logo-container">
                                <img src="images/admin/ohaus.png"/>
                            </div>
                            <div class="logo-text">
                                <h3 class="logo-title">«Lab Logistics Group»</h3>
                                <p>Специализацией компании "ХИМЛАБОРРЕАКТИВ" является комплексное оснащение лабораторий. Если
                                    Вашему предприятию необходимо
                                </p>
                                <a href="javasript:;">Подробнее</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-inline-md-6 col-inline-sm-6 col-inline-xs-12">
                        <div class="brand-item">
                            <div class="logo-container">
                                <img src="images/admin/llg.png"/>
                            </div>
                            <div class="logo-text">
                                <h3 class="logo-title">«Lab Logistics Group»</h3>
                                <p>Специализацией компании "ХИМЛАБОРРЕАКТИВ" является комплексное оснащение лабораторий. Если
                                    Вашему предприятию необходимо
                                </p>
                                <a href="javasript:;">Подробнее</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-inline-md-6 col-inline-sm-6 col-inline-xs-12">
                        <div class="brand-item">
                            <div class="logo-container">
                                <img src="images/admin/lemis.png"/>
                            </div>
                            <div class="logo-text">
                                <h3 class="logo-title">«Lab Logistics Group»</h3>
                                <p>Специализацией компании "ХИМЛАБОРРЕАКТИВ" является комплексное оснащение лабораторий. Если
                                    Вашему предприятию необходимо
                                </p>
                                <a href="javasript:;">Подробнее</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-inline-md-6 col-inline-sm-6 col-inline-xs-12">
                        <div class="brand-item">
                            <div class="logo-container">
                                <img src="images/admin/ohaus.png"/>
                            </div>
                            <div class="logo-text">
                                <h3 class="logo-title">«Lab Logistics Group»</h3>
                                <p>Специализацией компании "ХИМЛАБОРРЕАКТИВ" является комплексное оснащение лабораторий. Если
                                    Вашему предприятию необходимо
                                </p>
                                <a href="javasript:;">Подробнее</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-inline-md-6 col-inline-sm-6 col-inline-xs-12">
                        <div class="brand-item">
                            <div class="logo-container">
                                <img src="images/admin/merck-kgaa.png"/>
                            </div>
                            <div class="logo-text">
                                <h3 class="logo-title">«Lab Logistics Group»</h3>
                                <p>Специализацией компании "ХИМЛАБОРРЕАКТИВ" является комплексное оснащение лабораторий. Если
                                    Вашему предприятию необходимо
                                </p>
                                <a href="javasript:;">Подробнее</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-inline-md-6 col-inline-sm-6 col-inline-xs-12">
                        <div class="brand-item">
                            <div class="logo-container">
                                <img src="images/admin/expert.png"/>
                            </div>
                            <div class="logo-text">
                                <h3 class="logo-title">«Lab Logistics Group»</h3>
                                <p>Специализацией компании "ХИМЛАБОРРЕАКТИВ" является комплексное оснащение лабораторий. Если
                                    Вашему предприятию необходимо
                                </p>
                                <a href="javasript:;">Подробнее</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-inline-md-6 col-inline-sm-6 col-inline-xs-12">
                        <div class="brand-item">
                            <div class="logo-container">
                                <img src="images/admin/fisher.png"/>
                            </div>
                            <div class="logo-text">
                                <h3 class="logo-title">«Lab Logistics Group»</h3>
                                <p>Специализацией компании "ХИМЛАБОРРЕАКТИВ" является комплексное оснащение лабораторий. Если
                                    Вашему предприятию необходимо
                                </p>
                                <a href="javasript:;">Подробнее</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-inline-md-6 col-inline-sm-6 col-inline-xs-12">
                        <div class="brand-item">
                            <div class="logo-container">
                                <img src="images/admin/llg.png"/>
                            </div>
                            <div class="logo-text">
                                <h3 class="logo-title">«Lab Logistics Group»</h3>
                                <p>Специализацией компании "ХИМЛАБОРРЕАКТИВ" является комплексное оснащение лабораторий. Если
                                    Вашему предприятию необходимо
                                </p>
                                <a href="javasript:;">Подробнее</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-inline-md-6 col-inline-sm-6 col-inline-xs-12">
                        <div class="brand-item">
                            <div class="logo-container">
                                <img src="images/admin/llg.png"/>
                            </div>
                            <div class="logo-text">
                                <h3 class="logo-title">«Lab Logistics Group»</h3>
                                <p>Специализацией компании "ХИМЛАБОРРЕАКТИВ" является комплексное оснащение лабораторий. Если
                                    Вашему предприятию необходимо
                                </p>
                                <a href="javasript:;">Подробнее</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-inline-md-6 col-inline-sm-6 col-inline-xs-12">
                        <div class="brand-item">
                            <div class="logo-container">
                                <img src="images/admin/llg.png"/>
                            </div>
                            <div class="logo-text">
                                <h3 class="logo-title">«Lab Logistics Group»</h3>
                                <p>Специализацией компании "ХИМЛАБОРРЕАКТИВ" является комплексное оснащение лабораторий. Если
                                    Вашему предприятию необходимо
                                </p>
                                <a href="javasript:;">Подробнее</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-inline-md-6 col-inline-sm-6 col-inline-xs-12">
                        <div class="brand-item">
                            <div class="logo-container">
                                <img src="images/admin/llg.png"/>
                            </div>
                            <div class="logo-text">
                                <h3 class="logo-title">«Lab Logistics Group»</h3>
                                <p>Специализацией компании "ХИМЛАБОРРЕАКТИВ" является комплексное оснащение лабораторий. Если
                                    Вашему предприятию необходимо
                                </p>
                                <a href="javasript:;">Подробнее</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-inline-md-6 col-inline-sm-6 col-inline-xs-12">
                        <div class="brand-item">
                            <div class="logo-container">
                                <img src="images/admin/llg.png"/>
                            </div>
                            <div class="logo-text">
                                <h3 class="logo-title">«Lab Logistics Group»</h3>
                                <p>Специализацией компании "ХИМЛАБОРРЕАКТИВ" является комплексное оснащение лабораторий. Если
                                    Вашему предприятию необходимо
                                </p>
                                <a href="javasript:;">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @@include('templates/partials/pagination.html')
        </section>
    </div>
</main>
<!--main!-->


@@include('templates/partials/footer.html')


</body>
</html>