@@include('templates/partials/head.html')

@@include('templates/partials/header.html', {
"link" : "brends.html"
})

<!--main!-->
<main>
    <div class="page">
        @@include('templates/partials/breadcrumbs.html', {
        "links" : {
        "main" : "Главная",
        "current" : "Онлайн камера"
        }
        })
        <h1 class="section-title">
            <span>Онлайн камера</span>
        </h1>
        <div class="container">
            <section class="doc-text">
                <div class="page-header-text">
                    <p>Специализацией компании "ХИМЛАБОРРЕАКТИВ" является комплексное оснащение лабораторий. Если Вашему
                        предприятию необходимо купить лабораторное оборудование или купить медицинское оборудование,
                        лабораторную посуду, а также реактивы – смело обращайтесь в наш интернет-магазин.
                    </p>
                </div>
            </section>
        </div>
        <section class="camers">
            <div class="container">
                <div class="camers-container">
                    <div class="col-inline-md-4 col-inline-sm-6 col-inline-xs-12">
                        <div class="camera-item">
                            <div class="video-preview">
                                <img src="images/admin/cam-1.jpg" />
                                <div class="play" data-popup="" data-target="#video"></div>
                            </div>
                            <div class="camera-caption">
                                <span>Онлайн камера лаборатории #1</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-inline-md-4 col-inline-sm-6 col-inline-xs-12">
                        <div class="camera-item">
                            <div class="video-preview">
                                <img src="images/admin/cam-1.jpg" />
                                <div class="play" data-popup="" data-target="#video"></div>
                            </div>
                            <div class="camera-caption">
                                <span>Онлайн камера лаборатории #1</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-inline-md-4 col-inline-sm-6 col-inline-xs-12">
                        <div class="camera-item">
                            <div class="video-preview">
                                <img src="images/admin/cam-1.jpg" />
                                <div class="play" data-popup="" data-target="#video"></div>
                            </div>
                            <div class="camera-caption">
                                <span>Онлайн камера лаборатории #1</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-inline-md-4 col-inline-sm-6 col-inline-xs-12">
                        <div class="camera-item">
                            <div class="video-preview">
                                <img src="images/admin/cam-1.jpg" />
                                <div class="play" data-popup="" data-target="#video"></div>
                            </div>
                            <div class="camera-caption">
                                <span>Онлайн камера лаборатории #1</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-inline-md-4 col-inline-sm-6 col-inline-xs-12">
                        <div class="camera-item">
                            <div class="video-preview">
                                <img src="images/admin/cam-1.jpg" />
                                <div class="play" data-popup="" data-target="#video"></div>
                            </div>
                            <div class="camera-caption">
                                <span>Онлайн камера лаборатории #1</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-inline-md-4 col-inline-sm-6 col-inline-xs-12">
                        <div class="camera-item">
                            <div class="video-preview">
                                <img src="images/admin/cam-1.jpg" />
                                <div class="play" data-popup="" data-target="#video"></div>
                            </div>
                            <div class="camera-caption">
                                <span>Онлайн камера лаборатории #1</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-inline-md-4 col-inline-sm-6 col-inline-xs-12">
                        <div class="camera-item">
                            <div class="video-preview">
                                <img src="images/admin/cam-1.jpg" />
                                <div class="play" data-popup="" data-target="#video"></div>
                            </div>
                            <div class="camera-caption">
                                <span>Онлайн камера лаборатории #1</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-inline-md-4 col-inline-sm-6 col-inline-xs-12">
                        <div class="camera-item">
                            <div class="video-preview">
                                <img src="images/admin/cam-1.jpg" />
                                <div class="play" data-popup="" data-target="#video"></div>
                            </div>
                            <div class="camera-caption">
                                <span>Онлайн камера лаборатории #1</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-inline-md-4 col-inline-sm-6 col-inline-xs-12">
                        <div class="camera-item">
                            <div class="video-preview">
                                <img src="images/admin/cam-1.jpg" />
                                <div class="play" data-popup="" data-target="#video"></div>
                            </div>
                            <div class="camera-caption">
                                <span>Онлайн камера лаборатории #1</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-inline-md-4 col-inline-sm-6 col-inline-xs-12">
                        <div class="camera-item">
                            <div class="video-preview">
                                <img src="images/admin/cam-1.jpg" />
                                <div class="play" data-popup="" data-target="#video"></div>
                            </div>
                            <div class="camera-caption">
                                <span>Онлайн камера лаборатории #1</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-inline-md-4 col-inline-sm-6 col-inline-xs-12">
                        <div class="camera-item">
                            <div class="video-preview">
                                <img src="images/admin/cam-1.jpg" />
                                <div class="play" data-popup="" data-target="#video"></div>
                            </div>
                            <div class="camera-caption">
                                <span>Онлайн камера лаборатории #1</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-inline-md-4 col-inline-sm-6 col-inline-xs-12">
                        <div class="camera-item">
                            <div class="video-preview">
                                <img src="images/admin/cam-1.jpg" />
                                <div class="play" data-popup="" data-target="#video"></div>
                            </div>
                            <div class="camera-caption">
                                <span>Онлайн камера лаборатории #1</span>
                            </div>
                        </div>
                    </div>

               </div>
            </div>

            <div id="video" class="popup-container" style="padding-right: 0px;">
                <div class="popup" style="margin-top: 234px;">
                    <div class="popup-content">
                        <video src="video/v.mp4" type="video/mp4" controls preload="metadata" loop></video>
                    </div>
                </div>
            </div>
        </section>

    </div>
</main>
<!--main!-->


@@include('templates/partials/footer.html')
<!--<div id="video-camera" class="popup-container">-->
    <!--<div class="popup" style="margin-top: 234px;">-->
        <!--<div class="popup-content">-->
            <!--<video src="video/v.mp4" type="video/mp4" controls preload="metadata" loop></video>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


</body>
</html>