@@include('templates/partials/head.html')

@@include('templates/partials/header.html', {
"link" : "documents.html"
})

<!--main!-->
<main>
    <div class="page catalog-page">
        @@include('templates/partials/breadcrumbs.html', {
        "links" : {
        "main" : "Главная",
        "current" : "Каталог продукции"
        }
        })
        <h1 class="section-title">
            <span>Каталог продукции</span>
        </h1>
        <section class="catalog-text">
            <div class="container">
                <div class="page-header-text">
                    <p>
                        Специализацией компании "ХИМЛАБОРРЕАКТИВ" является комплексное оснащение лабораторий. Если Вашему
                        предприятию необходимо купить лабораторное оборудование или купить медицинское оборудование,
                        лабораторную посуду, а также реактивы – смело обращайтесь в наш интернет-магазин.
                    </p>
                </div>
            </div>
        </section>
        <section class="catalog">
            <div class="container">
                <div class="products">
                        <div class="col-inline-md-3 col-inline-sm-6 col-inline-xs-12">
                            <div class="also-interest-product-item">
                                <figure class="product-img">
                                    <img src="images/admin/product-1-catalog.jpg"/>
                                </figure>
                                <div class="product-caption">
                                    <span>Лабораторная посуда и аксессуары</span>
                                </div>
                                <div class="product-hover-menu">
                                    <h4 class="menu-title">Лабораторная посуда и аксессуары</h4>
                                    <ul>
                                        <li><a href="javascript:;">Пластиковая</a></li>
                                        <li><a href="javascript:;">Кварцевая</a></li>
                                        <li><a href="javascript:;">
                                            Стеклянные
                                            измерительные изделия</a></li>
                                        <li><a href="javascript:;">Приборы аппараты
                                            из стекла и детали к ним</a>
                                        </li>
                                        <li><a href="javascript:;">
                                            Из стали, стеклоуглерода,
                                            платины и корунда</a></li>
                                        <li><a href="javascript:;">Аксессуары лабораторные</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-inline-md-3 col-inline-sm-6 col-inline-xs-12">
                            <div class="also-interest-product-item">
                                <figure class="product-img">
                                <img src="images/admin/product-2-catalog.jpg"/>
                                    </figure>
                                <div class="product-caption">
                                    <span>Аксессуары лабораторные</span>
                                </div>
                                <div class="product-hover-menu">
                                    <h4 class="menu-title">Лабораторная посуда и аксессуары</h4>
                                    <ul>
                                        <li><a href="javascript:;">Пластиковая</a></li>
                                        <li><a href="javascript:;">Кварцевая</a></li>
                                        <li><a href="javascript:;">
                                            Стеклянные
                                            измерительные изделия</a></li>
                                        <li><a href="javascript:;">Приборы аппараты
                                            из стекла и детали к ним</a>
                                        </li>
                                        <li><a href="javascript:;">
                                            Из стали, стеклоуглерода,
                                            платины и корунда</a></li>
                                        <li><a href="javascript:;">Аксессуары лабораторные</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-inline-md-3  col-inline-sm-6 col-inline-xs-12">
                            <div class="also-interest-product-item">
                                <figure class="product-img">
                                <img src="images/admin/product-3.jpg"/>
                                    </figure>
                                <div class="product-caption">
                                    <span>Общелабораторное оборудование</span>
                                </div>
                                <div class="product-hover-menu">
                                    <h4 class="menu-title">Лабораторная посуда и аксессуары</h4>
                                    <ul>
                                        <li><a href="javascript:;">Пластиковая</a></li>
                                        <li><a href="javascript:;">Кварцевая</a></li>
                                        <li><a href="javascript:;">
                                            Стеклянные
                                            измерительные изделия</a></li>
                                        <li><a href="javascript:;">Приборы аппараты
                                            из стекла и детали к ним</a>
                                        </li>
                                        <li><a href="javascript:;">
                                            Из стали, стеклоуглерода,
                                            платины и корунда</a></li>
                                        <li><a href="javascript:;">Аксессуары лабораторные</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-inline-md-3 col-inline-sm-6 col-inline-xs-12">
                            <div class="also-interest-product-item">
                                <figure class="product-img">
                                <img src="images/admin/product-4.jpg"/>
                                    </figure>
                                <div class="product-caption">
                                    <span>Стандарты и эталоны</span>
                                </div>
                                <div class="product-hover-menu">
                                    <h4 class="menu-title">Лабораторная посуда и аксессуары</h4>
                                    <ul>
                                        <li><a href="javascript:;">Пластиковая</a></li>
                                        <li><a href="javascript:;">Кварцевая</a></li>
                                        <li><a href="javascript:;">
                                            Стеклянные
                                            измерительные изделия</a></li>
                                        <li><a href="javascript:;">Приборы аппараты
                                            из стекла и детали к ним</a>
                                        </li>
                                        <li><a href="javascript:;">
                                            Из стали, стеклоуглерода,
                                            платины и корунда</a></li>
                                        <li><a href="javascript:;">Аксессуары лабораторные</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-inline-md-3 col-inline-sm-6 col-inline-xs-12">
                            <div class="also-interest-product-item">
                                <figure class="product-img">
                                <img src="images/admin/product-5.jpg"/>
                                    </figure>
                                <div class="product-caption">
                                    <span>Специализированное отраслевое оборудование</span>
                                </div>
                                <div class="product-hover-menu">
                                    <h4 class="menu-title">Лабораторная посуда и аксессуары</h4>
                                    <ul>
                                        <li><a href="javascript:;">Пластиковая</a></li>
                                        <li><a href="javascript:;">Кварцевая</a></li>
                                        <li><a href="javascript:;">
                                            Стеклянные
                                            измерительные изделия</a></li>
                                        <li><a href="javascript:;">Приборы аппараты
                                            из стекла и детали к ним</a>
                                        </li>
                                        <li><a href="javascript:;">
                                            Из стали, стеклоуглерода,
                                            платины и корунда</a></li>
                                        <li><a href="javascript:;">Аксессуары лабораторные</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-inline-md-3 col-inline-sm-6 col-inline-xs-12">
                            <div class="also-interest-product-item">
                                <figure class="product-img">
                                <img src="images/admin/product-6.jpg"/>
                                    </figure>
                                <div class="product-caption">
                                    <span>Охрана труда и контроль параметров окружающей среды</span>
                                </div>
                                <div class="product-hover-menu">
                                    <h4 class="menu-title">Лабораторная посуда и аксессуары</h4>
                                    <ul>
                                        <li><a href="javascript:;">Пластиковая</a></li>
                                        <li><a href="javascript:;">Кварцевая</a></li>
                                        <li><a href="javascript:;">
                                            Стеклянные
                                            измерительные изделия</a></li>
                                        <li><a href="javascript:;">Приборы аппараты
                                            из стекла и детали к ним</a>
                                        </li>
                                        <li><a href="javascript:;">
                                            Из стали, стеклоуглерода,
                                            платины и корунда</a></li>
                                        <li><a href="javascript:;">Аксессуары лабораторные</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-inline-md-3 col-inline-sm-6 col-inline-xs-12">
                            <div class="also-interest-product-item">
                                <figure class="product-img">
                                <img src="images/admin/product-7.jpg"/>
                                    </figure>
                                <div class="product-caption">
                                    <span>Аналитическое оборудование</span>
                                </div>
                                <div class="product-hover-menu">
                                    <h4 class="menu-title">Лабораторная посуда и аксессуары</h4>
                                    <ul>
                                        <li><a href="javascript:;">Пластиковая</a></li>
                                        <li><a href="javascript:;">Кварцевая</a></li>
                                        <li><a href="javascript:;">
                                            Стеклянные
                                            измерительные изделия</a></li>
                                        <li><a href="javascript:;">Приборы аппараты
                                            из стекла и детали к ним</a>
                                        </li>
                                        <li><a href="javascript:;">
                                            Из стали, стеклоуглерода,
                                            платины и корунда</a></li>
                                        <li><a href="javascript:;">Аксессуары лабораторные</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-inline-md-3 col-inline-sm-6 col-inline-xs-12">
                            <div class="also-interest-product-item">
                                <figure class="product-img">
                                <img src="images/admin/product-8.jpg"/>
                                    </figure>
                                <div class="product-caption">
                                    <span>Мебель</span>
                                </div>
                                <div class="product-hover-menu">
                                    <h4 class="menu-title">Лабораторная посуда и аксессуары</h4>
                                    <ul>
                                        <li><a href="javascript:;">Пластиковая</a></li>
                                        <li><a href="javascript:;">Кварцевая</a></li>
                                        <li><a href="javascript:;">
                                            Стеклянные
                                            измерительные изделия</a></li>
                                        <li><a href="javascript:;">Приборы аппараты
                                            из стекла и детали к ним</a>
                                        </li>
                                        <li><a href="javascript:;">
                                            Из стали, стеклоуглерода,
                                            платины и корунда</a></li>
                                        <li><a href="javascript:;">Аксессуары лабораторные</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-inline-md-3 col-inline-sm-6 col-inline-xs-12">
                            <div class="also-interest-product-item">
                                <figure class="product-img">
                                <img src="images/admin/product-car-1.jpg"/>
                                    </figure>
                                <div class="product-caption">
                                    <span>Оборудование для молекулярной биологии и генетики</span>
                                </div>
                                <div class="product-hover-menu">
                                    <h4 class="menu-title">Лабораторная посуда и аксессуары</h4>
                                    <ul>
                                        <li><a href="javascript:;">Пластиковая</a></li>
                                        <li><a href="javascript:;">Кварцевая</a></li>
                                        <li><a href="javascript:;">
                                            Стеклянные
                                            измерительные изделия</a></li>
                                        <li><a href="javascript:;">Приборы аппараты
                                            из стекла и детали к ним</a>
                                        </li>
                                        <li><a href="javascript:;">
                                            Из стали, стеклоуглерода,
                                            платины и корунда</a></li>
                                        <li><a href="javascript:;">Аксессуары лабораторные</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-inline-md-3 col-inline-sm-6 col-inline-xs-12">
                            <div class="also-interest-product-item">
                                <figure class="product-img">
                                <img src="images/admin/product-car-2.jpg"/>
                                    </figure>
                                <div class="product-caption">
                                    <span>IT-решения для лабораторного бизнеса</span>
                                </div>
                                <div class="product-hover-menu">
                                    <h4 class="menu-title">Лабораторная посуда и аксессуары</h4>
                                    <ul>
                                        <li><a href="javascript:;">Пластиковая</a></li>
                                        <li><a href="javascript:;">Кварцевая</a></li>
                                        <li><a href="javascript:;">
                                            Стеклянные
                                            измерительные изделия</a></li>
                                        <li><a href="javascript:;">Приборы аппараты
                                            из стекла и детали к ним</a>
                                        </li>
                                        <li><a href="javascript:;">
                                            Из стали, стеклоуглерода,
                                            платины и корунда</a></li>
                                        <li><a href="javascript:;">Аксессуары лабораторные</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-inline-md-3 col-inline-sm-6 col-inline-xs-12">
                            <div class="also-interest-product-item">
                                <figure class="product-img">
                                <img src="images/admin/product-car-3.jpg"/>
                                    </figure>
                                <div class="product-caption">
                                    <span>Лаборатория «под ключ»</span>
                                </div>
                                <div class="product-hover-menu">
                                    <h4 class="menu-title">Лабораторная посуда и аксессуары</h4>
                                    <ul>
                                        <li><a href="javascript:;">Пластиковая</a></li>
                                        <li><a href="javascript:;">Кварцевая</a></li>
                                        <li><a href="javascript:;">
                                            Стеклянные
                                            измерительные изделия</a></li>
                                        <li><a href="javascript:;">Приборы аппараты
                                            из стекла и детали к ним</a>
                                        </li>
                                        <li><a href="javascript:;">
                                            Из стали, стеклоуглерода,
                                            платины и корунда</a></li>
                                        <li><a href="javascript:;">Аксессуары лабораторные</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-inline-md-3 col-inline-sm-6 col-inline-xs-12">
                            <div class="also-interest-product-item">
                                <figure class="product-img">
                                <img src="images/admin/product-car-4.jpg" height="236" width="232"/>
                                    </figure>
                                <div class="product-caption">
                                    <span>Аналитическое оборудование</span>
                                </div>
                                <div class="product-hover-menu">
                                    <h4 class="menu-title">Лабораторная посуда и аксессуары</h4>
                                    <ul>
                                        <li><a href="javascript:;">Пластиковая</a></li>
                                        <li><a href="javascript:;">Кварцевая</a></li>
                                        <li><a href="javascript:;">
                                            Стеклянные
                                            измерительные изделия</a></li>
                                        <li><a href="javascript:;">Приборы аппараты
                                            из стекла и детали к ним</a>
                                        </li>
                                        <li><a href="javascript:;">
                                            Из стали, стеклоуглерода,
                                            платины и корунда</a></li>
                                        <li><a href="javascript:;">Аксессуары лабораторные</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </div>
</main>
<!--main!-->

@@include('templates/partials/footer.html')

</body>
</html>