@@include('templates/partials/head.html')

@@include('templates/partials/header.html', {
"link" : "sucess-delivery.html"
})

<!--main!-->
<main>
    <div class="page confirm-page">

        <section class="confirm">
            <div class="container">
                <h1 class="section-title">
                    <span>Подтверждение рассылки</span>
                </h1>
                <div class="container-delivery-conf">
                    <div class="icon-delivery">
                        <i class="confirm-delivery-ico"></i>
                    </div>
                    <p>
                        На Ваш сдрес ушло письмо… чтобы подтвердить регистрацию на рассылку
                        пожалуйста, проверьте Вашу почту и перейдите по указанной в письме ссылке
                    </p>
                </div>
            </div>
        </section>
    </div>
</main>
<!--main!-->


@@include('templates/partials/footer.html')


</body>
</html>