@@include('templates/partials/head.html')

@@include('templates/partials/header.html', {
"link" : "catalog.html"
})

<!--main!-->
<main>
    <div class="page event-page">
        @@include('templates/partials/breadcrumbs.html', {
        "links" : {
        "main" : "Главная",
        "current" : "Cтраница выбраного мероприятия"
        }
        })
        <h1 class="section-title">
            <span>Cтраница выбраного мероприятия</span>
        </h1>
        <section class="event-caption">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-5 col-xs-12">
                        <div class="left-event-block">
                            <div class="event-block">
                                <time datetime="2015-11-23">
                                    <span>2-5</span>
                                    Июнь 2016
                                </time>
                                <span class="time">09.30 - 17.30</span>
                                <span class="address">
                                г.Киев, пр-т Победы 67
                             </span>
                            </div>
                            <img src="images/event-1.jpg"/>
                            <img src="images/event-2.jpg">
                            <img src="images/event-3.jpg"/>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-7 col-xs-12">
                        <article class="article">
                            <p> Специализацией компании "ХИМЛАБОРРЕАКТИВ" является комплексное оснащение
                                лабораторий. Если Вашему
                                предприятию необходимо купить лабораторное оборудование или купить медицинское
                                оборудование,
                                лабораторную посуду, а также реактивы – смело обращайтесь в наш
                                интернет-магазин.</p>

                            <p>ООО «ХИМЛАБОРРЕАКТИВ» осуществляет поставки всего необходимого ассорти
                                мента продукции для лабораторий любого профиля, масштаба и направления деятельности.
                                На собственном
                                заводе в Черкассах производится лучшая лабораторная мебель и медицинская мебель
                                отечественного
                                производства торговых марок «Эксперт» и «AMED».</p>

                            <p></p>
                            <p></p>
                            <p></p>
                            <p></p>
                            <p></p>

                            <p> ООО «ХИМЛАБОРРЕАКТИВ» осуществляет поставки всего необходимого ассорти
                                мента продукции для лабораторий любого профиля, масштаба и направления деятельности.
                                На собственном
                                заводе в Черкассах производится лучшая лабораторная мебель и медицинская мебель
                                отечественного
                                производства торговых марок «Эксперт» и «AMED».
                                Специализацией компании "ХИМЛАБОРРЕАКТИВ" является комплексное оснащение
                                лабораторий. Если Вашему
                                предприятию необходимо купить лабораторное оборудование или купить медицинское
                                оборудование,
                                лабораторную посуду, а также реактивы – смело обращайтесь в наш
                                интернет-магазин.</p>

                            <p> ООО «ХИМЛАБОРРЕАКТИВ» осуществляет поставки всего необходимого ассорти
                                мента продукции для лабораторий любого профиля, масштаба и направления деятельности.
                                На собственном
                                заводе в Черкассах производится лучшая лабораторная мебель и медицинская мебель
                                отечественного
                                производства торговых марок «Эксперт» и «AMED».
                                Специализацией компании "ХИМЛАБОРРЕАКТИВ" является комплексное оснащение
                                лабораторий. Если Вашему
                                предприятию необходимо купить лабораторное оборудование или купить медицинское
                                оборудование,
                                лабораторную посуду, а также реактивы – смело обращайтесь в наш
                                интернет-магазин.</p>

                            <p> ООО «ХИМЛАБОРРЕАКТИВ» осуществляет поставки всего необходимого ассорти
                                мента продукции для лабораторий любого профиля, масштаба и направления деятельности.
                                На собственном
                                заводе в Черкассах производится лучшая лабораторная мебель и медицинская мебель
                                отечественного
                                производства торговых марок «Эксперт» и «AMED».
                                Специализацией компании "ХИМЛАБОРРЕАКТИВ" является комплексное оснащение
                                лабораторий. Если Вашему
                                предприятию необходимо купить лабораторное оборудование или купить медицинское
                                оборудование,
                                лабораторную посуду, а также реактивы – смело обращайтесь в наш
                                интернет-магазин.</p>

                            <p>ООО «ХИМЛАБОРРЕАКТИВ» осуществляет поставки всего необходимогою.
                                мента продукции для лабораторий любого профиля, масштаба и направления деятельности.
                                На собственном
                                заводе в Черкассах производится лучшая лабораторная мебель и медицинская мебель
                                отечественного
                                производства торговых марок «Эксперт» и «AMED».</p>
                        </article>
                    </div>
                </div>
            </div>
        </section>

        <section class="registration">
            <div class="container">
                <h1 class="section-title">
                    <span>Регистрация на мероприятие</span>
                </h1>
                <p class="register-caption">
                    Удобный способ узнавать вовремя о новых решениях для отраслевых лабораторий, акционных предложениях
                    и
                    обучающих семинарах. Более 7 000 специалистов лабораторий уже читают.
                </p>
                <div class="register-form-body">
                    <form name="register-form" novalidate="novalidate">
                        <div class="register-form-content">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="form-row">
                                        <input type="text" name="name" placeholder="Ваше Имя">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="form-row">
                                        <input type="email" name="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="form-row">
                                        <input type="tel" name="phone" placeholder="Телефон">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="form-row">
                                        <input type="text" name="orgeanization" placeholder="Организация">
                                    </div>
                                </div>
                            </div>
                            <div class="register-form-submit">
                                <button type="submit" class="submit-button">Зарегистрироваться</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <section class="other-events">
            <div class="container">
                <h1 class="section-title">
                    <span>Другие мероприятия этой отрасли</span>
                </h1>
                @@include('templates/partials/events-carousel.html')
            </div>
        </section>
        @@include('templates/partials/delivery-form.html')
    </div>
</main>
<!--main!-->

@@include('templates/partials/footer.html')

</body>
</html>