@@include('templates/partials/head.html')

@@include('templates/partials/header.html', {
"link" : "index.html"
})

<!--main!-->
<main>
    @@include('templates/partials/breadcrumbs.html', {
    "links" : {
    "main" : "Главная",
    "current" : "Общая информация"
    }
    })
    <!--section!-->
    <section class="all-info">
        <div class="container">
            <!--header!-->
            <div class="section-header">
                <h1>Общая информация</h1>
                <div class="section-menu">
                    <ul class="section-menu-list">
                        <li class="section-menu-child">
                            <div class="dropdown custom-dropdown">
                                <button type="button"data-dropdown class="dropdown-button"><span class="dropdown-button-title">Выберите отрасль</span></button>
                                <div class="dropdown-menu">
                                    <ul class="dropdown-menu-list">
                                        <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">Химия и Строительство</button></li>
                                        <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">Медицина</button></li>
                                        <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">Фармацевтика</button></li>
                                        <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">Агро</button></li>
                                        <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">Госконтроль качества</button></li>
                                        <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">Пищевая промышленность</button></li>
                                        <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">Тяжелая промышленность</button></li>
                                        <li class="dropdown-menu-child"><button type="button" class="dropdown-menu-button">ТЭК</button></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--header!-->
            <!--body!-->
            <div class="section-body">
                <article class="article">
                    <div class="article-wrap">
                        <div class="article-header">
                            <div class="row">
                                <div class="col-md-5 col-sm-5 col-xs-12">
                                    <img src="images/admin/article-image-1.jpg" />
                                </div>
                                <div class="col-md-7 col-sm-7 col-xs-12">
                                    <p>
                                        Любое производство, транспортировка, складское хранение не обойдутся без весового оборудования.
                                        На сегодняшний день производителями создано огромное количество весового оборудования под любые задачи: от высокоточных микровесов с огромным количеством функций для ювелиров и фармацевтов,
                                        до весов-дозаторов или конвейерных весов для работы в составе промышленного комплекса. Результаты, полученные путем взвешивания можно передавать и в дальнейшем обрабатывать на компьютере.
                                        На сегодняшний день производителями создано огромное количество весового оборудования под любые задачи: от высокоточных микровесов с огромным количеством функций д
                                        ля ювелиров и фармацевтов, до весов-дозаторов или конвейерных весов для работы в составе промышленного комплекса.
                                        Результаты, полученные путем взвешивания можно передавать и в дальнейшем обрабатывать на компьютере.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="article-body">
                            <div class="row">
                                <div class="col-md-7 col-xs-12 col-sm-7">
                                    <p>
                                        Специализацией компании "ХИМЛАБОРРЕАКТИВ" является комплексное оснащение лабораторий.
                                        Если Вашему предприятию необходимо купить лабораторное оборудование или купить
                                        медицинское оборудование, лабораторную посуду, а также реактивы – смело обращайтесь в
                                        наш интернет-магазин.
                                    </p>
                                    <p>
                                        ООО «ХИМЛАБОРРЕАКТИВ» осуществляет поставки всего необходимого ассортимента продукции
                                        для лабораторий любого профиля, масштаба и направления деятельности. На собственном
                                        заводе в Черкассах производится лучшая лабораторная мебель и медицинская мебель
                                        отечественного производства торговых марок «Эксперт» и «AMED».

                                    </p>

                                    <p>
                                        Система управления качеством ISO 9001:2008, индивидуальный подход к каждому заказчику,
                                        решения для разного бюджета и всех видов лабораторий, сертифицированный сервис, а также
                                        собственная служба доставки - наши клиенты уверены в качестве предлагаемой нами
                                        продукции и услуг
                                        Система управления качеством ISO 9001:2008, индивидуальный подход к каждому заказчику,
                                        решения для разного бюджета и всех видов лабораторий, сертифицированный сервис, а также
                                        собственная служба доставки - наши клиенты уверены в качестве предлагаемой нами
                                        продукции и услуг

                                    </p>
                                </div>
                                <div class="col-md-5 col-xs-12 col-sm-5">
                                    <div class="image-with-caption-container">
                                        @@include('templates/partials/image-with-caption.html', {
                                        "image-src" : "lab.jpg"
                                        })
                                    </div>
                                </div>
                            </div>
                            <div class="article-listing">
                            <span class="title-listing">
                                Специалисты ООО "ХИМЛАБОРРЕАКТИВ" предлагают широкий спектр продуктовых предложений для лабораторий разного профиля:
                            </span>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @@include('templates/partials/list.html')
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @@include('templates/partials/list-with-numbers.html')
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="article-footer">
                            <div class="row">
                                <div class="col-md-5 col-sm-5 col-xs-12 arcicle-footer-image">
                                    <img src="images/admin/article-image-2.jpg"/>
                                </div>
                                <div class="col-md-7 col-sm-7 col-xs-12  text-article-footer">
                                    <span class="arcicle-sub-title">Специалисты ООО "ХИМЛАБОРРЕАКТИВ"</span>
                                    <p>
                                        Любое производство, транспортировка, складское хранение не обойдутся без весового
                                        оборудования. На сегодняшний день производителями создано огромное количество весового
                                        оборудования под любые задачи: от высокоточных микровесов с огромным количеством функций
                                        для ювелиров и фармацевтов, до весов-дозаторов или конвейерных весов для работы в
                                        составе промышленного комплекса. Результаты, полученные путем взвешивания можно
                                        передавать и в дальнейшем обрабатывать на компьютере.
                                        На сегодняшний день производителями создано огромное количество весового оборудования
                                        под любые задачи: от высокоточных микровесов с огромным количеством функций для ювелиров
                                        и фармацевтов, до весов-дозаторов или конвейерных весов для работы в составе
                                        промышленного комплекса. Результаты, полученные путем взвешивания можно передавать и в
                                        дальнейшем обрабатывать на компьютере.
                                    </p>
                                </div>
                            </div>
                            <div class="footer-info-text">
                                <p>
                                    Специализацией компании "ХИМЛАБОРРЕАКТИВ" является комплексное оснащение
                                    лабораторий. Если Вашему предприятию необходимо купить лабораторное оборудование или
                                    купить медицинское оборудование, лабораторную посуду, а также реактивы – смело
                                    обращайтесь в наш интернет-магазин.
                                </p>
                            </div>
                        </div>
                        <div class="footer-table">
                            @@include('templates/partials/table.html')
                        </div>
                        @@include('templates/partials/video-big.html', {
                        "video-src" : "video/v.mp4"
                        })
                    </div>
                </article>
            </div>
        </div>
    </section>
</main>
<!--main!-->

@@include('templates/partials/footer.html')

</body>
</html>