@@include('templates/partials/head.html')

@@include('templates/partials/header.html', {
"link" : "quality.html"
})

<!--main!-->
<main>
    <div class="page all-info">
        <!--breadcrumbs!-->
        <section class="breadcrumbs" xmlns:v="http://rdf.data-vocabulary.org/#">
            <div class="container">
                <ul class="breadcrumbs-list">
                    <li class="breadcrumbs-child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a itemprop="url" href="javascript:;" class="breadcrumbs-link" title="Главная">
                            <span itemprop="title">Главная</span>
                        </a>
                    </li>
                    <li class="breadcrumbs-child">
                        <div class="breadcrumbs-point"></div>
                    </li>
                    <li class="breadcrumbs-child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a itemprop="url" href="javascript:;" class="breadcrumbs-link active" title="Общая информация">
                            <span itemprop="title">Общая информация</span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <!--breadcrumbs!-->

        <div class="container container-custom">
            <article class="article">
                    <h1 class="section-title">
                        <span>Общая информация</span>
                    </h1>
                    <p></p>
                    <p></p>
                    <img src="images/admin/article-image-1.jpg"
                         style=" width: 28%; margin-right: 12%; margin-left: 2%; float: left;"/>
                    <p style="">
                        Любое производство, транспортировка, складское хранение не обойдутся без весового
                        оборудования.
                        На сегодняшний день производителями создано огромное количество весового оборудования
                        под любые задачи: от высокоточных микровесов с огромным количеством функций для ювелиров
                        и фармацевтов,
                        до весов-дозаторов или конвейерных весов для работы в составе промышленного комплекса.
                        Результаты, полученные путем взвешивания можно передавать и в дальнейшем обрабатывать на
                        компьютере.
                        На сегодняшний день производителями создано огромное количество весового оборудования
                        под любые задачи: от высокоточных микровесов с огромным количеством функций д
                        ля ювелиров и фармацевтов, до весов-дозаторов или конвейерных весов для работы в составе
                        промышленного комплекса.
                        Результаты, полученные путем взвешивания можно передавать и в дальнейшем обрабатывать на
                        компьютере.
                    </p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <div class="image-with-caption" style="width: 36%; float: right; margin-left: 22px;">
                        <figure>
                            <img src="images/admin/lab.jpg" alt="lab">
                        </figure>
                        <figcaption>
                            <p>
                                <i>
                                    Специалисты ООО "ХИМЛАБОРРЕАКТИВ"
                                    осуществляет поставки всего необходимого
                                    ассортимента продукции для лабораторий любого
                                    профиля, масштаба и направления деятельности.
                                </i>
                            </p>
                        </figcaption>
                    </div>

                    <p>
                        Специализацией компании "ХИМЛАБОРРЕАКТИВ" является комплексное оснащение лабораторий.
                        Если Вашему предприятию необходимо купить лабораторное оборудование или купить
                        медицинское оборудование, лабораторную посуду, а также реактивы – смело обращайтесь в
                        наш интернет-магазин.
                    </p>
                    <p>
                        ООО «ХИМЛАБОРРЕАКТИВ» осуществляет поставки всего необходимого ассортимента продукции
                        для лабораторий любого профиля, масштаба и направления деятельности. На собственном
                        заводе в Черкассах производится лучшая лабораторная мебель и медицинская мебель
                        отечественного производства торговых марок «Эксперт» и «AMED».

                    </p>

                    <p>
                        Система управления качеством ISO 9001:2008, индивидуальный подход к каждому заказчику,
                        решения для разного бюджета и всех видов лабораторий, сертифицированный сервис, а также
                        собственная служба доставки - наши клиенты уверены в качестве предлагаемой нами
                        продукции и услуг
                        Система управления качеством ISO 9001:2008, индивидуальный подход к каждому заказчику,
                        решения для разного бюджета и всех видов лабораторий, сертифицированный сервис, а также
                        собственная служба доставки - наши клиенты уверены в качестве предлагаемой нами
                        продукции и услуг

                    </p>


                    <h2 style="color: #1e1e1e;font-weight: 700; display: block;font-family: Geometria;">
                        Специалисты ООО "ХИМЛАБОРРЕАКТИВ" предлагают широкий спектр продуктовых предложений для
                        лабораторий разного профиля:
                    </h2>

                    <table>
                        <tr>
                            <td>
                                <ul style="padding-left: 34px; float: left;">
                                    <li>
                                        от определения влажности до базовых операций взвешивания,
                                    </li>
                                    <li>
                                        от весов с большим пределом взвешивания до весов с высоким разрешением,
                                    </li>
                                    <li>
                                        от портативных весов до аналитических.

                                    </li>
                                    <li>
                                        Компания осуществляет поставки весового оборудования крупнейших мировых
                                        производителей: Ohaus, Axis, Radwag, Техноваги, Cas, Масса-к, Sartorius,
                                        Mettler Toledo, AND, Kern, Дозавтоматы.
                                    </li>
                                    <li>
                                        Большой выбор электронных весов, и благодаря этому практически нет
                                        потребности, которую нельзя удовлетворить.
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <dl style="float: right; padding-left: 44px;">
                                    <dt>
                                        от определения влажности до базовых операций взвешивания,
                                    </dt>
                                    <dt>
                                        от весов с большим пределом взвешивания до весов с высоким разрешением,
                                    </dt>
                                    <dt>
                                        от портативных весов до аналитических.
                                    </dt>
                                    <dt>
                                        Компания осуществляет поставки весового оборудования крупнейших мировых
                                        производителей: Ohaus, Axis, Radwag,
                                        Техноваги, Cas, Масса-к, Sartorius, Mettler Toledo, AND, Kern, Дозавтоматы.

                                    </dt>
                                    <dt>
                                        Большой выбор электронных весов, и благодаря этому практически нет
                                        потребности, которую нельзя
                                        удовлетворить.
                                    </dt>
                                </dl>
                            </td>
                        </tr>
                    </table>

                    <p></p>
                    <img style="width: 33%; float: left; margin-right: 33px; margin-bottom: 26px;"
                         src="images/admin/article-image-2.jpg"/>
                    <h3 style="color: #1e1e1e; font-family: 'Geometria'; font-weight: 700; display: block; width: 61%; float: right">
                        Специалисты ООО "ХИМЛАБОРРЕАКТИВ"</h3>
                    <p style="">
                        Любое производство, транспортировка, складское хранение не обойдутся без весового
                        оборудования. На сегодняшний день производителями создано огромное количество весового
                        оборудования под любые задачи: от высокоточных микровесов с огромным количеством функций
                        для ювелиров и фармацевтов, до весов-дозаторов или конвейерных весов для работы в
                        составе промышленного комплекса. Результаты, полученные путем взвешивания можно
                        передавать и в дальнейшем обрабатывать на компьютере.
                        На сегодняшний день производителями создано огромное количество весового оборудования
                        под любые задачи: от высокоточных микровесов с огромным количеством функций для ювелиров
                        и фармацевтов, до весов-дозаторов или конвейерных весов для работы в составе
                        промышленного комплекса. Результаты, полученные путем взвешивания можно передавать и в
                        дальнейшем обрабатывать на компьютере.
                    </p>

                    <blockquote style="padding: 80px 0; position: relative; width: 77%; margin: 0 auto; font-style: italic">
                        <p>
                            Специализацией компании "ХИМЛАБОРРЕАКТИВ" является комплексное оснащение
                            лабораторий. Если Вашему предприятию необходимо купить лабораторное оборудование или
                            купить медицинское оборудование, лабораторную посуду, а также реактивы – смело
                            обращайтесь в наш интернет-магазин.
                        </p>
                    </blockquote>

                    <table class="table-component">
                        <thead>
                        <tr>
                            <th>Продукт</th>
                            <th>Кат. номер</th>
                            <th>Использование</th>
                            <th>Упаковка</th>
                        </tr>
                        </thead>
                        <tr>
                            <td>OSTEOMOLL®</td>
                            <td>101736</td>
                            <td>Раствор для декальцинации костных и твердых тканей в гистологии</td>
                            <td>2,5л.</td>
                        </tr>
                        <tr>
                            <td>OSTEOMOLL®</td>
                            <td>101728</td>
                            <td>Раствор для декальцинации чувствительных кальцийсодержащих тканей в гистологии</td>
                            <td>10л.</td>
                        </tr>
                        <tr>
                            <td>OSTEOMOLL®</td>
                            <td>101736</td>
                            <td>Раствор для декальцинации костных и твердых тканей в гистологии</td>
                            <td>2,5л.</td>
                        </tr>
                        <tr>
                            <td>OSTEOMOLL®</td>
                            <td>101728</td>
                            <td>Раствор для декальцинации чувствительных кальцийсодержащих тканей в гистологии</td>
                            <td>10л.</td>
                        </tr>
                    </table>
            </article>
        </div>
        <div class="video-container">
            <div class="container">
                <div class="video">
                    <div class="video-wrap">
                        <div class="play js-open-popup" data-popup="" data-target="#video"></div>
                    </div>
                    <div class="video-caption">
                        <div class="row-inline">
                            <span class="video-title col-inline-xs-9 middle">Як звести до мінімуму випаровування</span>
                            <div class="video-counter col-inline-xs-3 middle">
                                <i class="ico-counter "></i>
                                <span class="num-count">99</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="video" class="popup-container" style="padding-right: 0px;">
            <div class="popup" style="margin-top: 234px;">
                <div class="popup-content">
                    <video src="video/v.mp4" type="video/mp4" controls preload="metadata" loop></video>
                </div>
            </div>
        </div>


    </div>
</main>
<!--main!-->

@@include('templates/partials/footer.html')

</body>
</html>