@@include('templates/partials/head.html')

@@include('templates/partials/header.html', {
"link" : "quality.html"
})

<!--main!-->
<main>
    <div class="page">
        @@include('templates/partials/breadcrumbs.html', {
        "links" : {
        "main" : "Главная",
        "current" : "Общая информация"
        }
        })
        <!--section!-->
        <section class="all-info">
            <div class="container">
                    <article class="article">
                        <div class="section-header">
                            <h1>Общая информация</h1>
                        </div>
                        <table style="margin-top: 2.5%; padding: 1% 2.5% 0 2.5%; display:block">
                            <tr>
                                <td>
                                    <img src="images/admin/article-image-1.jpg"  style="width: 28%; float: left; margin-left: 2%; "/>
                                    <p style="width: 67%; float: right;">
                                        Любое производство, транспортировка, складское хранение не обойдутся без весового оборудования.
                                        На сегодняшний день производителями создано огромное количество весового оборудования под любые задачи: от высокоточных микровесов с огромным количеством функций для ювелиров и фармацевтов,
                                        до весов-дозаторов или конвейерных весов для работы в составе промышленного комплекса. Результаты, полученные путем взвешивания можно передавать и в дальнейшем обрабатывать на компьютере.
                                        На сегодняшний день производителями создано огромное количество весового оборудования под любые задачи: от высокоточных микровесов с огромным количеством функций д
                                        ля ювелиров и фармацевтов, до весов-дозаторов или конвейерных весов для работы в составе промышленного комплекса.
                                        Результаты, полученные путем взвешивания можно передавать и в дальнейшем обрабатывать на компьютере.
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="width: 61%; float: left; display: block">
                                    <p>
                                        Специализацией компании "ХИМЛАБОРРЕАКТИВ" является комплексное оснащение лабораторий.
                                        Если Вашему предприятию необходимо купить лабораторное оборудование или купить
                                        медицинское оборудование, лабораторную посуду, а также реактивы – смело обращайтесь в
                                        наш интернет-магазин.
                                    </p>
                                    <p>
                                        ООО «ХИМЛАБОРРЕАКТИВ» осуществляет поставки всего необходимого ассортимента продукции
                                        для лабораторий любого профиля, масштаба и направления деятельности. На собственном
                                        заводе в Черкассах производится лучшая лабораторная мебель и медицинская мебель
                                        отечественного производства торговых марок «Эксперт» и «AMED».

                                    </p>

                                    <p>
                                        Система управления качеством ISO 9001:2008, индивидуальный подход к каждому заказчику,
                                        решения для разного бюджета и всех видов лабораторий, сертифицированный сервис, а также
                                        собственная служба доставки - наши клиенты уверены в качестве предлагаемой нами
                                        продукции и услуг
                                        Система управления качеством ISO 9001:2008, индивидуальный подход к каждому заказчику,
                                        решения для разного бюджета и всех видов лабораторий, сертифицированный сервис, а также
                                        собственная служба доставки - наши клиенты уверены в качестве предлагаемой нами
                                        продукции и услуг

                                    </p>  
                                    </span>
                                    <div class="image-with-caption" style="float: right; width: 36%">
                                        <figure>
                                            <img  src="images/admin/lab.jpg" alt="lab">
                                        </figure>
                                        <figcaption>
                                            <p>
                                                Специалисты ООО "ХИМЛАБОРРЕАКТИВ"
                                                осуществляет поставки всего необходимого
                                                ассортимента продукции для лабораторий любого
                                                профиля, масштаба и направления деятельности.
                                            </p>
                                        </figcaption>
                                    </div>
                                </td>
                            </tr>
                            <tr style="margin-top: 2%;">
                                <td>
                                <h2 style="color: #1e1e1e;font-weight: 700; display: block;font-family: Geometria;">
                                    Специалисты ООО "ХИМЛАБОРРЕАКТИВ" предлагают широкий спектр продуктовых предложений для лабораторий разного профиля:
                                </h2>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <ul style="width: 50%; padding-left: 34px; float: left;">
                                        <li>
                                            от определения влажности до базовых операций взвешивания,
                                        </li>
                                        <li>
                                            от весов с большим пределом взвешивания до весов с высоким разрешением,
                                        </li>
                                        <li>
                                            от портативных весов до аналитических.

                                        </li>
                                        <li>
                                            Компания осуществляет поставки весового оборудования крупнейших мировых
                                            производителей: Ohaus, Axis, Radwag, Техноваги, Cas, Масса-к, Sartorius,
                                            Mettler Toledo, AND, Kern, Дозавтоматы.
                                        </li>
                                        <li>
                                            Большой выбор электронных весов, и благодаря этому практически нет
                                            потребности, которую нельзя удовлетворить.
                                        </li>
                                    </ul>

                                    <dl style="width: 50%; float: right; padding-left: 34px;">
                                        <dt>
                                            от определения влажности до базовых операций взвешивания,
                                        </dt>
                                        <dt>
                                            от весов с большим пределом взвешивания до весов с высоким разрешением,
                                        </dt>
                                        <dt>
                                            от портативных весов до аналитических.
                                        </dt>
                                        <dt>
                                            Компания осуществляет поставки весового оборудования крупнейших мировых
                                            производителей: Ohaus, Axis, Radwag,
                                            Техноваги, Cas, Масса-к, Sartorius, Mettler Toledo, AND, Kern, Дозавтоматы.

                                        </dt>
                                        <dt>
                                            Большой выбор электронных весов, и благодаря этому практически нет
                                            потребности, которую нельзя
                                            удовлетворить.
                                        </dt>
                                    </dl>
                                </td>

                            </tr>
                            <tr class="article-footer">
                                <td>
                                    <img style="width: 33%; float: left; margin-right: 33px; margin-bottom: 26px;" src="images/admin/article-image-2.jpg"/>
                                    <h3 style="color: #1e1e1e; font-family: 'Geometria'; font-weight: 700; display: block; width: 61%; float: right">Специалисты ООО "ХИМЛАБОРРЕАКТИВ"</h3>
                                    <p style="width: 61%; float: right">
                                        Любое производство, транспортировка, складское хранение не обойдутся без весового
                                        оборудования. На сегодняшний день производителями создано огромное количество весового
                                        оборудования под любые задачи: от высокоточных микровесов с огромным количеством функций
                                        для ювелиров и фармацевтов, до весов-дозаторов или конвейерных весов для работы в
                                        составе промышленного комплекса. Результаты, полученные путем взвешивания можно
                                        передавать и в дальнейшем обрабатывать на компьютере.
                                        На сегодняшний день производителями создано огромное количество весового оборудования
                                        под любые задачи: от высокоточных микровесов с огромным количеством функций для ювелиров
                                        и фармацевтов, до весов-дозаторов или конвейерных весов для работы в составе
                                        промышленного комплекса. Результаты, полученные путем взвешивания можно передавать и в
                                        дальнейшем обрабатывать на компьютере.
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <blockquote style="padding: 8.5% 0; position: relative; width: 86%; margin: 0 auto;">
                                        <p>
                                            Специализацией компании "ХИМЛАБОРРЕАКТИВ" является комплексное оснащение
                                            лабораторий. Если Вашему предприятию необходимо купить лабораторное оборудование или
                                            купить медицинское оборудование, лабораторную посуду, а также реактивы – смело
                                            обращайтесь в наш интернет-магазин.
                                        </p>
                                    </blockquote>
                                </td>
                            </tr>
                        </table>
                        @@include('templates/partials/table.html')
                    </article>
                @@include('templates/partials/video-big.html', {
                "video-src" : "video/v.mp4"
                })
            </div>
        </section>
    </div>
</main>
<!--main!-->

@@include('templates/partials/footer.html')

</body>
</html>