@@include('templates/partials/head.html')

@@include('templates/partials/header.html', {
"link" : "social.html"
})

<!--main!-->
<main>
    <div class="page quality-article">
        @@include('templates/partials/breadcrumbs.html', {
        "links" : {
        "main" : "Главная",
        "current" : "Система управления качеством"
        }
        })

        <div class="container quality-container">
            <article class="article  clearfix">
                <h1 style="margin-bottom: 50px" class="section-title">
                    <span>Система управления качеством</span>
                </h1>
                <img style="width: 36%; border-bottom: 9px solid #f5f146; display: block; float: right; margin-left: 20px"
                     src="images/admin/quality-image.png"/>
                <h2 style="font-family: 'Geometria'; font-weight: bold;">Система качества</h2>
                <p> С каждым годом требование клиентов к продукции и качеству предоставляемых услуг
                    стремительно
                    растет. Поэтому в 2004 году было принято решение разработать и внедрить в компании
                    систему
                    менеджмента качества соответствующую требованиям ISO 9001, которая на тот момент
                    распространялась на услуги по продаже химической продукции и комплексное оснащение
                    лабораторий оборудованием, мебелью и посудой.</p>

                <p>Первый сертификационный аудит компания успешно прошла в октябре 2004 г. И с тех пор,
                    ежегодно проводятся внешние аудиты, которые подтверждают соответствие системы
                    менеджмента
                    качества компании требованиям международного стандарта.</p>

                <p>В сентябре 2010 г. в ООО «Химлаборреактив» состоялся ре-сертификационный аудит,
                    подтвердивший соответствие системы качества требованиям новой версии международного
                    стандарта ISO 9001:2008 г. По итогам аудита в область сертификации внесены - разработка,
                    производство, продажа и сервисное обслуживание специализированной мебели и вытяжных
                    шкафов
                    для лабораторий, медицинских учреждений и учебных заведений.</p>

                <p>На сегодняшний день наличие сертификатов соответствия производства и системы управления
                    качеством требованиям стандарта ISO 9001:2008 позволяет компании работать с крупными
                    предприятиями, для которых наличие таковых сертификатов у поставщика является
                    обязательным.
                    Кроме того, сертифицированная система управления качеством - это дополнительное
                    конкурентное
                    преимущество при участии в тендерах.</p>

            </article>
        </div>
            <section class="policy">
                <div class="container quality-container">
                <h2 class="policy-title">Политика в области качества</h2>
                <span class="policy-caption">В основе принятой системы менеджмента качества лежат следующие принципы:</span>
                <div class="advantages">
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <div class="item-advantage">
                                <i class="advantage-care-ico"></i>
                                <span class="advantage-title">Забота о потребителе. </span>
                                <p class="advantage-text">
                                    Каждый из нас работает для потребителя.
                                    Мы постоянно изучаем потребности
                                    Клиентов и предоставляем услуги так,
                                    как хотим, чтобы работали с нами.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="item-advantage">
                                <i class="advantage-system-ico"></i>
                                <span class="advantage-title">Совершенствование системы управления качеством</span>
                                <p class="advantage-text">
                                    Мы тщательно собираем информацию о процессах и продукции и принимаем решения
                                    в области качества только на основе достоверных фактов.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="item-advantage">
                                <i class="advantage-improve-ico"></i>
                                <span class="advantage-title">Улучшение нашей работы</span>
                                <p class="advantage-text">
                                    Компания непрерывно повышает уровень знаний и профессиональную квалификацию
                                    сотрудников, а также создает условия для их эффективной работы.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <div class="item-advantage">
                                <i class="advantage-responsibility-ico"></i>
                                <span class="advantage-title">За качество отвечает каждый сотрудник компании</span>
                                <p class="advantage-text">
                                    Все сотрудники участвуют в принятии решений о совершенствовании процессов, в
                                    которых они задействованы.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="item-advantage">
                                <i class="advantage-control-ico"></i>
                                <span class="advantage-title">Для управления используется процессный подход</span>
                                <p class="advantage-text">
                                    Все процессы компании объедены в единую систему. Мы своевременно выявляем и
                                    предупреждаем нежелательные проблемы и ошибки, анализируя причины их
                                    возникновения.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="item-advantage">
                                <i class="advantage-partner-ico"></i>
                                <span class="advantage-title">Взаимовыгодное партнерство</span>
                                <p class="advantage-text">
                                    Взаимовыгодное партнерство с нашими поставщиками позволяет нам получать
                                    продукцию и услуги стабильного хорошего качества.
                                </p>
                            </div>
                        </div>
                    </div>
                    <p class="policy-footer-text">Политика в области качества неизменна относительно удовлетворения
                        потребностей клиентов!</p>
                    </div>
                    </div>
                </section>
        <section class="sertificates">
            <div class="container">

            </div>
                <h1 class="section-title">
                    <span>Сертификаты качества</span>
                    <div class="more-sert">
                        <a href="javascript:;" class="section-menu-link">Все сертификаты</a>
                    </div>
                </h1>
            <div class="sertificates-carousel section-body-carousel">
                <div data-show="4" data-scroll="2" class="js-carousel">
                    <div class="sertificate-item">
                        <div class="sertificate-item-inside">
                            <img src="images/admin/sert-1.jpg"/>
                        </div>
                        <p class="sertificate-caption">
                            Портативная измерительная
                            техника TESTO
                        </p>
                    </div>
                    <div class="sertificate-item">
                        <div class="sertificate-item-inside">
                            <img src="images/admin/sert-2.jpg"/>
                        </div>
                        <p class="sertificate-caption">
                            Сертификат соответствия РФ_ЭКСПЕРТ
                        </p>
                    </div>
                    <div class="sertificate-item">
                        <div class="sertificate-item-inside">
                            <img src="images/admin/sert-3.jpg"/>
                        </div>
                        <p class="sertificate-caption">
                            Сертификат соответствия
                        </p>
                    </div>
                    <div class="sertificate-item">
                        <div class="sertificate-item-inside">
                            <img src="images/admin/sert-4.jpg"/>
                        </div>
                        <p class="sertificate-caption">
                            Сертификат соответствия РФ_ЭКСПЕРТ
                        </p>
                    </div>
                    <div class="sertificate-item">
                        <div class="sertificate-item-inside">
                            <img src="images/admin/sert-1.jpg"/>
                        </div>
                        <p class="sertificate-caption">
                            Портативная измерительная
                            техника TESTO
                        </p>
                    </div>
                    <div class="sertificate-item">
                        <div class="sertificate-item-inside">
                            <img src="images/admin/sert-2.jpg"/>
                        </div>
                        <p class="sertificate-caption">
                            Сертификат соответствия РФ_ЭКСПЕРТ
                        </p>
                    </div>
                    <div class="sertificate-item">
                        <div class="sertificate-item-inside">
                            <img src="images/admin/sert-3.jpg"/>
                        </div>
                        <p class="sertificate-caption">
                            Сертификат соответствия
                        </p>
                    </div>
                    <div class="sertificate-item">
                        <div class="sertificate-item-inside">
                            <img src="images/admin/sert-4.jpg"/>
                        </div>
                        <p class="sertificate-caption">
                            Сертификат соответствия РФ_ЭКСПЕРТ
                        </p>
                    </div>
                </div>
                <div class="js-carousel-arrow">
                    <ul class="buttons-carousel pagination">
                        <li class="first js-carousel-prev"><a href="javascript:;" rel="prev">»</a></li>
                        <li class="last js-carousel-next"><a href="javascript:;" rel="next">»</a></li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</main>
<!--main!-->

@@include('templates/partials/footer.html')

</body>
</html>