@@include('templates/partials/head.html')

@@include('templates/partials/header.html', {
"link" : "confirm-delivery.html"
})

<!--main!-->
<main>
    <div class="page delivery-page">
        @@include('templates/partials/breadcrumbs.html', {
        "links" : {
        "main" : "Главная",
        "current" : "Описание контента для рассылки"
        }
        })

        <h1 class="section-title">
            <span>Описание контента для рассылки</span>
        </h1>
        <section class="delivery">
            <div class="container">
                <article class="article">
                    <img style="float: left; margin: 0 40px  30px 0; overflow: hidden;" src="images/admin/rass.png"/>
                    <p>Специализацией компании "ХИМЛАБОРРЕАКТИВ" является комплексное оснащение лабораторий. Если Вашему
                        предприятию необходимо купить лабораторное оборудование или купить медицинское оборудование,
                        лабораторную посуду, а также реактивы – смело обращайтесь в наш интернет-магазин. </p>

                    <p>
                        ООО «ХИМЛАБОРРЕАКТИВ» осуществляет поставки всего необходимого ассорти
                        мента продукции для лабораторий любого профиля, масштаба и направления деятельности. На
                        собственном заводе в Черкассах производится лучшая лабораторная мебель и медицинская мебель
                        отечественного производства торговых марок «Эксперт» и «AMED».
                        Специализацией компании "ХИМЛАБОРРЕАКТИВ" является комплексное оснащение лабораторий. Если Вашему предприятию необходимо купить лабораторное оборудование или купить медицинское оборудование, лабораторную посуду, а также реактивы – смело обращайтесь в наш интернет-магазин.
                    </p>
                </article>
                <div class="submit-butoon-delivery">
                    <button type="submit" class="submit-button">Подписаться</button>
                </div>
            </div>
        </section>

        <section class="also-interest-blog">
            <div class="container">
                <!--header!-->
                <div class="section-header">
                    <h1 class="section-title">
                        <span>Вас также может заинтересовать</span>
                    </h1>
                    <!--header!-->
                    <!--body!-->
                    <div class="section-body">
                        <!--body!-->
                        <div class="section-body-carousel">
                            <div data-show="3" data-scroll="2" class="js-carousel">
                                <div>
                                    <section class="main-blog-item" style="background: url('images/admin/image-890-590.jpg');">
                                        <div class="main-blog-item-inside">
                                            <header>
                                                <time datetime="2015-11-23">23.11.2015</time>
                                                <div class="main-blog-item-title">
                                                    Гематологический анализатор BC-3000 Plus по акционной цене
                                                </div>
                                            </header>
                                            <article>
                                                <p>В фармацевтическом производстве важную роль играют исследования контроля качества с помощью микроскопов, включая сами микроскопы, камеры для документирования и программное обеспечение для визуализации и анализа результатов. Статья о решениях Leica Microsystems для раздела "Аналитический контроль" журнала «Фармацевтическая отрасль», октябрь № 5 (52) 2015.</p>
                                            </article>
                                            <footer>
                                                <a href="javascript:;" class="main-blog-item-button">Подробнее</a>
                                            </footer>
                                        </div>
                                    </section>
                                </div>
                                <div>
                                    <section class="main-blog-item" style="background: url('images/admin/image-890-590.jpg');">
                                        <div class="main-blog-item-inside">
                                            <header>
                                                <time datetime="2015-11-23">23.11.2015</time>
                                                <div class="main-blog-item-title">
                                                    Гематологический анализатор BC-3000 Plus по акционной цене
                                                </div>
                                            </header>
                                            <article>
                                                <p>В фармацевтическом производстве важную роль играют исследования контроля качества с помощью микроскопов, включая сами микроскопы, камеры для документирования и программное обеспечение для визуализации и анализа результатов. Статья о решениях Leica Microsystems для раздела "Аналитический контроль" журнала «Фармацевтическая отрасль», октябрь № 5 (52) 2015.</p>
                                            </article>
                                            <footer>
                                                <a href="javascript:;" class="main-blog-item-button">Подробнее</a>
                                            </footer>
                                        </div>
                                    </section>
                                </div>
                                <div>
                                    <section class="main-blog-item" style="background: url('images/admin/image-890-590.jpg');">
                                        <div class="main-blog-item-inside">
                                            <header>
                                                <time datetime="2015-11-23">23.11.2015</time>
                                                <div class="main-blog-item-title">
                                                    Гематологический анализатор BC-3000 Plus по акционной цене
                                                </div>
                                            </header>
                                            <article>
                                                <p>В фармацевтическом производстве важную роль играют исследования контроля качества с помощью микроскопов, включая сами микроскопы, камеры для документирования и программное обеспечение для визуализации и анализа результатов. Статья о решениях Leica Microsystems для раздела "Аналитический контроль" журнала «Фармацевтическая отрасль», октябрь № 5 (52) 2015.</p>
                                            </article>
                                            <footer>
                                                <a href="javascript:;" class="main-blog-item-button">Подробнее</a>
                                            </footer>
                                        </div>
                                    </section>
                                </div>
                                <div>
                                    <section class="main-blog-item" style="background: url('images/admin/image-890-590.jpg');">
                                        <div class="main-blog-item-inside">
                                            <header>
                                                <time datetime="2015-11-23">23.11.2015</time>
                                                <div class="main-blog-item-title">
                                                    Гематологический анализатор BC-3000 Plus по акционной цене
                                                </div>
                                            </header>
                                            <article>
                                                <p>В фармацевтическом производстве важную роль играют исследования контроля качества с помощью микроскопов, включая сами микроскопы, камеры для документирования и программное обеспечение для визуализации и анализа результатов. Статья о решениях Leica Microsystems для раздела "Аналитический контроль" журнала «Фармацевтическая отрасль», октябрь № 5 (52) 2015.</p>
                                            </article>
                                            <footer>
                                                <a href="javascript:;" class="main-blog-item-button">Подробнее</a>
                                            </footer>
                                        </div>
                                    </section>
                                </div>
                            </div>
                            <ul class="events-arrows buttons-carousel navigate-arrows">
                                <li class="first js-carousel-prev"><a href="javascript:;" rel="prev">»</a></li>
                                <li class="last js-carousel-next"><a href="javascript:;" rel="next">»</a></li>
                            </ul>
                        </div>
                        <!--body!-->
                    </div>
                    <!--body!-->
                </div>
            </div>
        </section>

    </div>
</main>
<!--main!-->
@@include('templates/partials/footer.html')

</body>
</html>