@@include('templates/partials/head.html')

@@include('templates/partials/header.html', {
"link" : "results-of-search.html"
})

<!--main!-->
<main>
    <div class="page reviews-page">
        @@include('templates/partials/breadcrumbs.html', {
        "links" : {
        "main" : "Главная",
        "current" : "Отзывы клиентов"
        }
        })

        <div class="section-header">
            <h1 class="section-title">
                <span>Отзывы клиентов</span>
            </h1>
        </div>


        <section class="doc-text">
            <div class="container">
                <div class="page-header-text">
                    <p>Мы оснастили лабораторной мебелью более 1000 лабораторий по всей Украине. 90% наших покупателей
                        стали
                        нашими постоянными партнерами. Мы делаем все возможное для того, чтобы Вы оставались довольны
                        нашей
                        мебелью, сервисом, отношением. Отзывы наших партнеров свидетельствуют об этом...</p>
                </div>
            </div>
        </section>


        <section class="reviews">
            <div class="container">
                <div class="reviews-container">
                    <div class="review-item">
                            <div class="review-left-content">
                                <div class="review-face">
                                    <img src="images/admin/review-pic.png"/>
                                </div>
                                <div class="review-name">Юрченко О.Г.</div>
                                <span class="review-position">
                                Директор ООО «Диаверитас»
                            </span>
                        </div>
                        <div class="review-text">
                            <p>
                                Согласно договора, в 2007 г Вами была осуществлена поставка лабораторной мебели ТМ «Эксперт»  адрес компании «Диаверитас».
                                Следует отметить, что ваша фирма на рынке Украины имеет репутацию ведущих специалистов в своей области. Со специалистами Вашей фирмы приятно работать. Кроме того существует ряд положительных моментов в Вашей работе, которые выгодно отличаются от работы Ваших конкурентов, это, прежде всего:
                                Качество поставляемой продукции;
                                Широкий выбор продукции;
                                Эргономичность лабораторной мебели.
                                Нашими специалистами был тщательно изучен рынок лабораторной мебели на Украине.
                                Анализ рынка показал, что используемые Вами материалы для производства мебели (импортная фурнитура, сантехника, устойчивые к воздействию агрессивных сред рабочие поверхности, использование высококачественного полимерного композита на основе эпоксидных смол «Durcon») соответствует европейским стандартам.
                                Хочется отметить качество поставляемой продукции, а также быстрое и положительное реагирование Ваших менеджеров на замечания.
                                Выезд специалистов на монтаж мебели, а также сервисное обслуживание были произведены на высоком уровне.
                                Мы надеемся, что наши теплые деловые контакты будут и впредь дружественными и партнерскими.

                            </p>
                        </div>
                    </div>

                    <div class="review-item">
                        <div class="review-left-content">
                            <div class="review-face">
                                <img src="images/admin/review-pic.png"/>
                            </div>
                            <div class="review-name">Юрченко О.Г.</div>
                            <span class="review-position">
                                Директор ООО «Диаверитас»
                            </span>
                        </div>
                        <div class="review-text">
                            <p>
                                Согласно договора, в 2007 г Вами была осуществлена поставка лабораторной мебели ТМ «Эксперт»  адрес компании «Диаверитас».
                                Следует отметить, что ваша фирма на рынке Украины имеет репутацию ведущих специалистов в своей области. Со специалистами Вашей фирмы приятно работать. Кроме того существует ряд положительных моментов в Вашей работе, которые выгодно отличаются от работы Ваших конкурентов, это, прежде всего:
                                Качество поставляемой продукции;
                                Широкий выбор продукции;
                                Эргономичность лабораторной мебели.
                                Нашими специалистами был тщательно изучен рынок лабораторной мебели на Украине.
                                Анализ рынка показал, что используемые Вами материалы для производства мебели (импортная фурнитура, сантехника, устойчивые к воздействию агрессивных сред рабочие поверхности, использование высококачественного полимерного композита на основе эпоксидных смол «Durcon») соответствует европейским стандартам.
                                Хочется отметить качество поставляемой продукции, а также быстрое и положительное реагирование Ваших менеджеров на замечания.
                                Выезд специалистов на монтаж мебели, а также сервисное обслуживание были произведены на высоком уровне.
                                Мы надеемся, что наши теплые деловые контакты будут и впредь дружественными и партнерскими.

                            </p>
                        </div>
                    </div>

                    <div class="review-item">
                        <div class="review-left-content">
                            <div class="review-face">
                                <img src="images/admin/review-pic.png"/>
                            </div>
                            <div class="review-name">Юрченко О.Г.</div>
                            <span class="review-position">
                                Директор ООО «Диаверитас»
                            </span>
                        </div>
                        <div class="review-text">
                            <p>
                                Согласно договора, в 2007 г Вами была осуществлена поставка лабораторной мебели ТМ «Эксперт»  адрес компании «Диаверитас».
                                Следует отметить, что ваша фирма на рынке Украины имеет репутацию ведущих специалистов в своей области. Со специалистами Вашей фирмы приятно работать. Кроме того существует ряд положительных моментов в Вашей работе, которые выгодно отличаются от работы Ваших конкурентов, это, прежде всего:
                                Качество поставляемой продукции;
                                Широкий выбор продукции;
                                Эргономичность лабораторной мебели.
                                Нашими специалистами был тщательно изучен рынок лабораторной мебели на Украине.
                                Анализ рынка показал, что используемые Вами материалы для производства мебели (импортная фурнитура, сантехника, устойчивые к воздействию агрессивных сред рабочие поверхности, использование высококачественного полимерного композита на основе эпоксидных смол «Durcon») соответствует европейским стандартам.
                                Хочется отметить качество поставляемой продукции, а также быстрое и положительное реагирование Ваших менеджеров на замечания.
                                Выезд специалистов на монтаж мебели, а также сервисное обслуживание были произведены на высоком уровне.
                                Мы надеемся, что наши теплые деловые контакты будут и впредь дружественными и партнерскими.

                            </p>
                        </div>
                    </div>

                    <div class="review-item">
                        <div class="review-left-content">
                            <div class="review-face">
                                <img src="images/admin/review-pic.png"/>
                            </div>
                            <div class="review-name">Юрченко О.Г.</div>
                            <span class="review-position">
                                Директор ООО «Диаверитас»
                            </span>
                        </div>
                        <div class="review-text">
                            <p>
                                Согласно договора, в 2007 г Вами была осуществлена поставка лабораторной мебели ТМ «Эксперт»  адрес компании «Диаверитас».
                                Следует отметить, что ваша фирма на рынке Украины имеет репутацию ведущих специалистов в своей области. Со специалистами Вашей фирмы приятно работать. Кроме того существует ряд положительных моментов в Вашей работе, которые выгодно отличаются от работы Ваших конкурентов, это, прежде всего:
                                Качество поставляемой продукции;
                                Широкий выбор продукции;
                                Эргономичность лабораторной мебели.
                                Нашими специалистами был тщательно изучен рынок лабораторной мебели на Украине.
                                Анализ рынка показал, что используемые Вами материалы для производства мебели (импортная фурнитура, сантехника, устойчивые к воздействию агрессивных сред рабочие поверхности, использование высококачественного полимерного композита на основе эпоксидных смол «Durcon») соответствует европейским стандартам.
                                Хочется отметить качество поставляемой продукции, а также быстрое и положительное реагирование Ваших менеджеров на замечания.
                                Выезд специалистов на монтаж мебели, а также сервисное обслуживание были произведены на высоком уровне.
                                Мы надеемся, что наши теплые деловые контакты будут и впредь дружественными и партнерскими.

                            </p>
                        </div>
                    </div>

                    <div class="review-item">
                        <div class="review-left-content">
                            <div class="review-face">
                                <img src="images/admin/review-pic.png"/>
                            </div>
                            <div class="review-name">Юрченко О.Г.</div>
                            <span class="review-position">
                                Директор ООО «Диаверитас»
                            </span>
                        </div>
                        <div class="review-text">
                            <p>
                                Согласно договора, в 2007 г Вами была осуществлена поставка лабораторной мебели ТМ «Эксперт»  адрес компании «Диаверитас».
                                Следует отметить, что ваша фирма на рынке Украины имеет репутацию ведущих специалистов в своей области. Со специалистами Вашей фирмы приятно работать. Кроме того существует ряд положительных моментов в Вашей работе, которые выгодно отличаются от работы Ваших конкурентов, это, прежде всего:
                                Качество поставляемой продукции;
                                Широкий выбор продукции;
                                Эргономичность лабораторной мебели.
                                Нашими специалистами был тщательно изучен рынок лабораторной мебели на Украине.
                                Анализ рынка показал, что используемые Вами материалы для производства мебели (импортная фурнитура, сантехника, устойчивые к воздействию агрессивных сред рабочие поверхности, использование высококачественного полимерного композита на основе эпоксидных смол «Durcon») соответствует европейским стандартам.
                                Хочется отметить качество поставляемой продукции, а также быстрое и положительное реагирование Ваших менеджеров на замечания.
                                Выезд специалистов на монтаж мебели, а также сервисное обслуживание были произведены на высоком уровне.
                                Мы надеемся, что наши теплые деловые контакты будут и впредь дружественными и партнерскими.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
            @@include('templates/partials/pagination.html')
        </section>
        <section class="add-review">
            <div class="container">
                <div class="section-header">
                    <h2 class="section-title">
                        <span>Оставить отзыв</span>
                    </h2>
                    <div class="form-text">
                        Удобный способ узнавать вовремя о новых решениях для отраслевых лабораторий, акционных
                        предложениях и обучающих семинарах. Более 7 000 специалистов лабораторий уже читают.
                    </div>
                </div>
                @@include('templates/partials/add-review.html')
            </div>
        </section>
    </div>
</main>
<!--main!-->


@@include('templates/partials/footer.html')


</body>
</html>