@@include('templates/partials/head.html')

@@include('templates/partials/header.html', {
"link" : "index.html"
})

<!--main!-->
<main>
    @@include('templates/partials/breadcrumbs.html', {
    "links" : {
    "main" : "Главная",
    "current" : "Социальная ответственность"
    }
    })

    <div class="container">
        <section class="social article">
            <div class="section-header">
                <h1>Социальная ответственность</h1>
            </div>
            <div class="today">
                <p>Сегодня все большее количество предприятий, организаций, ученых, практиков и просто любознательных
                    людей интересуются вопросами корпоративной социальной ответственности (КСО), или, как ее по-другому
                    называют, корпоративной ответственности, учетом корпоративной этики, корпоративной гражданской
                    позицией, устойчивым развитием, ответственным бизнесом и др.
                </p>
            </div>
            <div class="entity-wrap" style="background-image: url('images/admin/entity.jpg')">
                <h2>Что же такое КСО и в чем заключается ее сущность?</h2>
                <p>
                    КСО – это, во-первых, выполнение организациями социальных обязательств, предписываемых законом, и
                    готовность неукоснительно нести соответствующие обязательные расходы.
                </p>

                <p>Во-вторых, КСО — это готовность добровольно нести необязательные расходы на социальные нужды сверх
                    пределов, установленных налоговым, трудовым, экологическим и иным законодательством, исходя не из
                    требований закона, а по моральным, этическим соображениям.
                </p>
            </div>
            <p class="soc-responsibility">
                Социальная ответственность означает способность организации или предприятия оценить последствия своей
                деятельности для устойчивого социального развития общества. Социальная ответственность — широкое
                понятие, охватывающее и такие проблемы, как экология, социальная справедливость, равноправие.
                Организации обязаны проявлять ответственность в трех областях — финансы, влияние их деятельности на
                общество и окружающую среду, воздействие на экологию. Это относится не только к бизнесу, но и к
                правительственным, общественным и добровольческим организациям
            </p>
        </section>
        <section class="suggest article">
            <h2>В общем случае, КСО предполагает:</h2>
            <div class="list-container">
                <ul>
                    <li>
                        Производство в достаточных количествах продукции и услуг, качество которых соответствует всем обязательным нормам, при соблюдении всех законодательных требований к ведению бизнеса;
                    </li>
                    <li>
                        Соблюдение права работников на безопасный труд при определенных социальных гарантиях, в том числе, создание новых рабочих мест;
                    </li>
                    <li>
                        Содействие повышению квалификации и навыков персонала;
                    </li>
                    <li>
                        Защиту окружающей среды и экономию невосполнимых ресурсов;
                    </li>
                    <li>
                        Защиту культурного наследия;
                    </li>
                    <li>
                        Поддержку усилий власти в развитии территории, где размещена организация, помощь местным учреждениям социальной сферы;
                    </li>
                    <li>
                        Помощь малоимущим семьям, инвалидам, сиротам и одиноким престарелым;
                    </li>
                    <li>
                        Поблюдение общепринятых законодательных и этических норм ведения бизнеса.
                    </li>
                </ul>
            </div>
        </section>
        <section class="quality-items">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <section class="events-item">
                        <header>
                            <figure class="events-item-image" style="background: url(images/admin/control-1.jpg);">
                                <a href="javascript:;" tabindex="0"></a>
                            </figure>
                            <div class="events-item-title">Контроль качества от Leica</div>
                        </header>
                        <article>
                            <p>Социальная ответственность означает способность организации или предприятия оценить
                                последствия своей деятельности для устойчивого социального развития общества. Социальная
                                ответственность — широкое понятие, охватывающее и такие проблемы, как экология, социальная
                                справедливость, равноправие. Организации обязаны проявлять ответственность в трех областях —
                                финансы, влияние их деятельности на общество и окружающую среду, воздействие на экологию.
                                Это относится не только к бизнесу, но и к правительственным, общественным и добровольческим
                                организациям </p>
                        </article>
                        <footer>
                            <a href="javascript:;" class="active-button" tabindex="0">Подробнее</a>
                        </footer>
                    </section>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <section class="events-item">
                        <header>
                            <figure class="events-item-image" style="background: url(images/admin/control-2.jpg);">
                                <a href="javascript:;" tabindex="0"></a>
                            </figure>
                            <div class="events-item-title">Контроль качества от Leica</div>
                        </header>
                        <article>
                            <p>Социальная ответственность означает способность организации или предприятия оценить
                                последствия своей деятельности для устойчивого социального развития общества. Социальная
                                ответственность — широкое понятие, охватывающее и такие проблемы, как экология, социальная
                                справедливость, равноправие. Организации обязаны проявлять ответственность в трех областях —
                                финансы, влияние их деятельности на общество и окружающую среду, воздействие на экологию.
                                Это относится не только к бизнесу, но и к правительственным, общественным и добровольческим
                                организациям </p>
                        </article>
                        <footer>
                            <a href="javascript:;" class="active-button" tabindex="0">Подробнее</a>
                        </footer>
                    </section>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <section class="events-item">
                        <header>
                            <figure class="events-item-image" style="background: url(images/admin/control-3.jpg);">
                                <a href="javascript:;" tabindex="0"></a>
                            </figure>
                            <div class="events-item-title">Контроль качества от Leica</div>
                        </header>
                        <article>
                            <p>Социальная ответственность означает способность организации или предприятия оценить
                                последствия своей деятельности для устойчивого социального развития общества. Социальная
                                ответственность — широкое понятие, охватывающее и такие проблемы, как экология, социальная
                                справедливость, равноправие. Организации обязаны проявлять ответственность в трех областях —
                                финансы, влияние их деятельности на общество и окружающую среду, воздействие на экологию.
                                Это относится не только к бизнесу, но и к правительственным, общественным и добровольческим
                                организациям </p>
                        </article>
                        <footer>
                            <a href="javascript:;" class="active-button" tabindex="0">Подробнее</a>
                        </footer>
                    </section>
                </div>
            </div>
        </section>
    </div>
</main>
<!--main!-->

@@include('templates/partials/footer.html')

</body>
</html>