@@include('templates/partials/head.html')

@@include('templates/partials/header.html', {
"link" : "sucess-delivery.html"
})

<!--main!-->
<main>
    <div class="page sucess-page">

        <section class="sucess">
            <div class="container">
                <h1 class="section-title">
                    <span>Подтверждение рассылки</span>
                </h1>
                <div class="container-delivery-sucess">
                    <div class="icon-delivery">
                        <i class="sucess-delivery-ico"></i>
                    </div>
                    <p>
                        Вы подписались на рассылку ХИМЛАБОРРЕАКТИВ <br>
                        <strong>Спасибо за интерес к нашим материалам!</strong>
                    </p>
                    <div class="to-main-block">
                        <a class="to-main" href="index.html">На главную</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<!--main!-->


@@include('templates/partials/footer.html')


</body>
</html>